<% table_layout("/WEB-INF/view/console/skins/${table_skin}/layout_nonav.html", {}) { 
 %>
 <h2 class="header-text">
						个人设置
						<span class="sub-header">
							认证&升级
						</span>
					</h2>
 <div class="row">
 <div class="col-md-12 column">
			<div class="row clearfix">
				<div class="col-md-3 column">
			</div>
				<div class="col-md-1 column">
				<ul class="nav nav-pills nav-stacked nav-pills-stacked-example">
    			  <li role="presentation" class="active"><a href="#">个人信息</a></li>
    <!--  				 <li role="presentation"><a href="${ctxPath}/sunarvr/console/dev_company/authentication">认证信息</a></li> -->
      				 <li role="presentation"><a href="${ctxPath}/sunarvr/console/sys_user/changepass">修改密码</a></li>
   					 </ul>
				</div>
	 	<div class="col-md-6 column">
	 	<form role="form">
                    <div class="form-group clearfix">
                        <label class="col-xs-2 text-right"></label>
                        <div class="col-sm-10">
                        	<img id="user_pic_file_show" src="${session.user.user_pic!}" style="width:100px;" alt="图片" class="img-rounded">  
                        </div>
                    </div>
                    <div class="form-group clearfix identity status1">
                        <label class="col-xs-2 text-right"><span class="glyphicon glyphicon-user"></span>当前身份</label>
                        <div class="col-sm-10">
                                                    <span><% if(session.user.user_type==1){print("企业开发者");}else{print("个人开发者");} %></span> 
                                                 </div>
                    </div>

                    <div class="form-group clearfix">
                        <label class="col-xs-2 text-right">开发者名称</label>
                        <div class="col-sm-10">
                            <span class="infoText">${session.user.user_name}</span>
                        </div>
                    </div>
                    <div class="form-group clearfix">
                        <label class="col-xs-2 text-right">手机号</label>
                        <div class="col-sm-10">
                            <span class="infoText">${session.user.phone}</span>
                                                            <!-- <span id="mobile-tips" for-mobile="18210178959" style="margin-left: 20px;">
                                <a class="apply"  id="mobileValidateModal">未验证，立即验证</a></span> -->
                                                    </div>
                    </div>
                    <div class="form-group clearfix">
                        <label class="col-xs-2 text-right">邮箱</label>
                        <div class="col-sm-10">
                            <span class="infoText">${session.user.email}</span>
                            <%
                            if(session.user.verify_email==0){
                            %>
                <span id="tips" for-email="${session.user.email}" style="margin-left: 20px;"><a class="apply" href="javascript:void(0)" onclick="check_email()">未验证，立即验证</a></span>
                                                   <% } %>
                                                    </div>
                    </div>
                    <div class="form-group clearfix">
                        <label class="col-xs-2 text-right">创建时间</label>
                        <div class="col-sm-10">
                            <span class="infoText">${session.user.create_time}</span>
                        </div>
                    </div>
         <!--            <div class="form-group clearfix">
                        <label class="col-xs-2 text-right">认证信息</label>
                        <div class="col-sm-10" style="position: relative">
                        <% if(session.user.is_auth==0){ %>
                       <span style="color: #9b9b9b;margin-right: 10px;">未认证</span><a href="${ctxPath}/sunarvr/console/dev_company/authentication">立即认证</a>
                       <% }else if(session.user.is_auth==1){%>
                       <span style="margin-right: 10px;">正在审核</span>
                           <% }else{%>
                             <span style="margin-right: 10px;">审核通过</span>
                               <% }%>
                    </div>
                    </div> -->
                </form>
		</div>
	 </div>
	 </div>

 </div>
 <%} %>
 