/*
@Author            RZ [<2522216558@qq.com>]
@Copyright         ziyiai.com    
@Version           1.0 
@Time              2015-5-22 15:25:13
@Description       Description
*/
/* 
    Created on : 2015-5-22, 15:25:13
    Author     : Administrator
*/
.banner_box {
  overflow: hidden;
  text-align: center;
  background-position: center center;
  background-repeat: no-repeat;
  margin: 0 auto;
}
/* 本例子css */
.focusBox {
  position: relative;
  width: 100%;
  overflow: hidden;
  margin: 0 auto;
}
.focusBox .hd {
  width: 100%;
  position: absolute;
  bottom: 30px;
  text-align: center;
  font-size: 0;
  z-index: 1;
}
.focusBox .hd li {
  margin: 0 5px;
  background: #333;
  height: 10px;
  width: 10px;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  display: inline-block;
  *display: inline;
  zoom: 1;
}
.focusBox .hd li.on {
  background: #23b7e5;
}
.focusBox .bd {
  position: relative;
  z-index: 0;
}
.focusBox .bd ul li a {
  display: block;
}
.focusBox .bd ul li img {
  width: 100%;
}
.focusBox .prev,
.focusBox .next {
  width: 60px;
  height: 90px;
  margin: -60px 0 0;
  display: none;
  background: url("../images/ad_ctr.png")/*tpa=http://5xi.so/app/app/rz_single_page/module/banner/tpl/default/images/ad_ctr.png*/ no-repeat 0 0;
  position: absolute;
  top: 50%;
  z-index: 10;
  cursor: pointer;
  text-indent: -9999px;
  filter: alpha(opacity=20);
  opacity: 0.2;
}
.focusBox .prev:hover,
.focusBox .next:hover {
  filter: alpha(opacity=50) !important;
  opacity: 0.5 !important;
}
.focusBox .prev {
  left: 0;
}
.focusBox .next {
  background-position: 0 -90px;
  right: 0;
}
