<!DOCTYPE html>
 <html>
 <head>
 <meta http-equiv="X-UA-Compatible" content="IE=edge">
 <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
 <% include("/view/console/common/css.html"){}	%>

 <title></title>
 </head>
 <body>
 <div class="zq-form">
 <form name="boProject_form"  id="boProject_form" class="form-horizontal" style="margin-bottom: 70px;">
   <div class="form-group">
 <label class="control-label col-sm-2 col-xs-2">项目类型</label>
 <div class="col-sm-6 col-xs-6">
 	<select class="form-control" id="type"
 		name="type" check-type="required">
 	<option selected='selected' value="1">产权</option>
 	<option  value="2">股权</option>
 	<option  value="3">租售</option>
 </select>
 </div>
 </div>
 <div class="form-group" >
 <label class="col-sm-2 col-xs-2 control-label">是否是自营</label>
 <div class="col-sm-6 col-xs-6">
 <div class="radio">
 <label><input checked='checked' auto_name='boProject_selfBuild' type="radio"  name="selfBuild" value="1"/>是</label>
 <label><input  auto_name='boProject_selfBuild' type="radio"  name="selfBuild" value="2"/>否</label>
  
 </div>
 </div>
  </div>
 <div class="form-group" >
 <label class="col-sm-2 col-xs-2 control-label">名称</label>
 <div class="col-sm-6 col-xs-6">
 <input  type="text"  name="title" id="title" class="form-control" check-type="required" value='${boProject.title!}' >
 </div>
  </div>
 <div class="form-group" >
 <label class="col-sm-2 col-xs-2 control-label">开发商</label>
 <div class="col-sm-6 col-xs-6">
 <input  type="text"  name="projectDevelopers" id="projectDevelopers" class="form-control" check-type="required" value='${boProject.projectDevelopers!}' >
 </div>
  </div>
 <div class="form-group" >
 <label class="col-sm-2 col-xs-2 control-label">入住时间</label>
 <div class="col-sm-6 col-xs-6">
 <input  type="text"  name="projectInto" id="projectInto" class="form-control" check-type="required" value='${boProject.projectInto!}' >
 </div>
  </div>
 <div class="form-group" >
 <label class="col-sm-2 col-xs-2 control-label">物业</label>
 <div class="col-sm-6 col-xs-6">
 <input  type="text"  name="projrctManager" id="projrctManager" class="form-control" check-type="required" value='${boProject.projrctManager!}' >
 </div>
  </div>
 <div class="form-group" >
 <label class="col-sm-2 col-xs-2 control-label">产权</label>
 <div class="col-sm-6 col-xs-6">
 <input  type="text"  name="projectEstate" id="projectEstate" class="form-control" check-type="required number" value='${boProject.projectEstate!}' >
 </div>
  </div>
 <div class="form-group" >
 <label class="col-sm-2 col-xs-2 control-label">省份</label>
 <div class="col-sm-6 col-xs-6">
 <input  type="text"  name="province" id="province" class="form-control" check-type="required" value='${boProject.province!}' >
 </div>
  </div>
 <div class="form-group" >
 <label class="col-sm-2 col-xs-2 control-label">城市</label>
 <div class="col-sm-6 col-xs-6">
 <input  type="text"  name="city" id="city" class="form-control" check-type="required" value='${boProject.city!}' >
 </div>
  </div>
 <div class="form-group" >
 <label class="col-sm-2 col-xs-2 control-label">县</label>
 <div class="col-sm-6 col-xs-6">
 <input  type="text"  name="country" id="country" class="form-control" check-type="required" value='${boProject.country!}' >
 </div>
  </div>
 <div class="form-group" >
 <label class="col-sm-2 col-xs-2 control-label">地址</label>
 <div class="col-sm-6 col-xs-6">
 <input  type="text"  name="address" id="address" class="form-control" check-type="required" value='${boProject.address!}' >
 </div>
  </div>
 <div class="form-group">
 <label class="control-label col-sm-2 col-xs-2">装修</label>
 <div class="col-sm-6 col-xs-6">
 	<select class="form-control" id="decorationLeave"
 		name="decorationLeave" check-type="required">
 </select>
 </div>
 </div>
 <div class="form-group" >
 <label class="col-sm-2 col-xs-2 control-label">状态</label>
 <div class="col-sm-6 col-xs-6">
 <div class="radio">
 <label><input checked='checked' auto_name='boProject_state' type="radio"  name="state" value="1"/>可用</label>
 <label><input  auto_name='boProject_state' type="radio"  name="state" value="0"/>不可用</label>
  
 </div>
 </div>
  </div>
 <div class="form-group" >
 <label class="col-sm-2 col-xs-2 control-label">排序</label>
 <div class="col-sm-6 col-xs-6">
 <input  type="text"  name="sort" id="sort" class="form-control" check-type="required number" value='${boProject.sort!}' >
 </div>
  </div>
  <div class="form-group" >
 <label class="col-sm-2 control-label">图片介绍</label>
 <div class="col-sm-3">
   <span class="btn btn-success fileinput-button">
        <i class="glyphicon glyphicon-plus"></i>
        <span>添加</span>
  <input type="file" id="imageCover_file" class="form-control" value='${boProject.imageCover!}' >
  <input type="hidden" id="imageCover"  name="imageCover"class="form-control" value='${boProject.imageCover!}' >
    </span>
  <div id="imageCover_progress" class="progress">
   <div class="progress-bar progress-bar-success"></div>
  </div>
  </div>
   	<div class="col-sm-4">
   	<img id="imageCover_file_show" src="${boProject.imageCover!}" style="width:100px;" alt="图片" class="img-rounded">
 </div>
 </div>
   <input type='hidden' name='id' id='id' value='${boProject.id!}'><input type='hidden' name='common_token' id='common_token' value='${common_token!}'>
 </form>
  <nav class="navbar navbar-default navbar-fixed-bottom" style="text-align: right">
    <a href="#" class="btn btn-success" style="margin:10px"  onclick='saveZqForm()'>保存 </a>
  </nav>
 </div>
 <% include("/view/console/common/js.html"){} 	%>
 <script>
layui.use(['layer','laydate'], function(){
        var laydate = layui.laydate;
        //执行一个laydate实例
        laydate.render({
            elem: '#projectInto' //指定元素
        });
});
$(function($) {

/*开启表单验证*/
$("#boProject_form").validation();
	$("#type").val("${boProject.type!}");
 	if('${boProject.type!}'==''){
 	    $("#type").val('1');
 	}
       $('input[auto_name="boProject_selfBuild"]').each(function(){
       if('${boProject.selfBuild!}'==this.value){ 
             $(this).attr('checked','checked');
            }
           });
    componentSelectInit(      
            {                        
                    ctxPath:'',       
           tableName:"sys_dictionary",        
           showValueField:"name",             
           valueField:"value",                 
 selectId:"decorationLeave"  ,      
           where:" where code ='decoration_leave' "     
                              }              
                              ,function(){
            $("#decorationLeave").val("${decorationLeave.decorationLeave!''}");
  });                         
       $('input[auto_name="boProject_state"]').each(function(){
       if('${boProject.state!}'==this.value){ 
             $(this).attr('checked','checked');
            }
           });
  consoleUploadAliImg('imageCover','');
});
/*保存*/
function saveZqForm(){
if ($("#boProject_form").valid() == false) {
return false;
}
var formObject=new Object();
formObject.type=$('#type').val()==''?null:$('#type').val(); 
 formObject.selfBuild=($('input[name="selfBuild"]:checked').val()==''?null:$('input[name="selfBuild"]:checked').val()); 
 formObject.title=$('#title').val()==''?null:$('#title').val(); 
 formObject.projectDevelopers=$('#projectDevelopers').val()==''?null:$('#projectDevelopers').val(); 
 formObject.projectInto=$('#projectInto').val()==''?null:$('#projectInto').val(); 
 formObject.projrctManager=$('#projrctManager').val()==''?null:$('#projrctManager').val(); 
 formObject.projectEstate=$('#projectEstate').val()==''?null:$('#projectEstate').val(); 
 formObject.province=$('#province').val()==''?null:$('#province').val(); 
 formObject.city=$('#city').val()==''?null:$('#city').val(); 
 formObject.country=$('#country').val()==''?null:$('#country').val(); 
 formObject.address=$('#address').val()==''?null:$('#address').val(); 
 formObject.decorationLeave=$('#decorationLeave').val()==''?null:$('#decorationLeave').val(); 
 formObject.imageCover=$('#imageCover').val()==''?null:$('#imageCover').val(); 
 formObject.state=($('input[name="state"]:checked').val()==''?null:$('input[name="state"]:checked').val()); 
 formObject.sort=$('#sort').val()==''?null:$('#sort').val(); 
 formObject.id=$('#id').val()==''?null:$('#id').val(); 
 
var formObjectJson = JSON.stringify(formObject);
$.post("/console/bo_project/save",
{
formObjectJson :formObjectJson,
common_token :$("#common_token").val()
}, function(data) {
layer.alert(data.message, {skin: 'layui-layer-molv',closeBtn: 0 }, function(){
parent.$("#boProject").bootstrapTable("refresh");
parent.layer.closeAll();
});

});
}
 </script>
 </body>
