
<% var html={ %>
<blockquote class="layui-elem-quote zq-table-head">
    Banner轮播
</blockquote>
<input type="hidden" id ="type" value="${type}">
                 <div id="boAppBannerToolbar" class="btn-group">
                              <button type="button" class="btn btn-default" onclick="consoleOpenWindow('boAppBanner','${ctxPath}/console/bo_app_banner/add/${type}','新增')">
                                  <i class="glyphicon glyphicon-plus"></i>
                              </button>
                              <button type="button" class="btn btn-default" onclick='boAppBannerConsoleGrid.delete("id","${ctxPath}/console/bo_app_banner/delete");'>
                                  <i class="glyphicon glyphicon-trash"></i>
                              </button>
                 </div>
                     <div class='row zq-row'>
                              <div class='col-md-12'>
                                  <table id="boAppBanner" data-toggle="table"
                                         data-url="${ctxPath}/console/bo_app_banner/json"
                                         data-pagination="true"
                                         data-query-params="boAppBannerLoadParam"
                                         method="post"
                                         data-side-pagination="server"
                                         data-show-refresh="true"
                                         data-show-toggle="true"
                                         data-pagination-loop="false"
                                         data-show-columns="true"
                                         data-toolbar="#boAppBannerToolbar">
                                      <thead>
                                      <tr>
                                           <th data-checkbox="true"></th>
                                            <th data-field='id' data-visible='false'>ID</th>
  <th data-sortable='true' data-field='title'>Banner题目</th>
  <th data-field='bannerImg' data-sortable='true' data-formatter='boAppBannerbanner_imgFormatter'>banner图片</th>
  <th data-sortable='true' data-field='target'>目标地址</th>
  <th data-field='targetType' data-sortable='true' data-formatter='boAppBannertarget_typeFormatter'>跳转类型</th>
  <th data-field='type' data-sortable='true' data-formatter='boAppBannertypeFormatter'>Banner类型</th>
  <th data-sortable='true' data-field='sort'>排序</th>
  <th data-field='status' data-sortable='true' data-formatter='boAppBannerstatusFormatter'>状态</th>
  <th data-field='id' data-formatter='boAppBannerTableOperate'>操作</th>
 
                                      </tr>
                                      </thead>
                                  </table>
                              </div>
                     </div>
<% }; %>
<% var js={ %>
<script>
    var type = "${type}";
</script>
<script type='text/javascript' src='/view/console/boAppBanner/boAppBannerTable.js'></script>
<% }; %>

<% layout("/view/console/skins/skin_2/layout.html", {js:js,html:html}) {} %>