<% table_layout("/WEB-INF/view/console/skins/${table_skin}/layout.html", {}) { 
 %>
 <div class="row">
 	<div class="col-md-12">
 <div class="widget-container fluid-height clearfix">
 <div class="widget-content padded clearfix">
 <div class='row'>
 <div class='col-md-12'>
 <form name="common_label_form" id="common_label_form" class='form-inline'>
 <div class='form-group col-md-3' style='margin-top: 10px;'>
 <label title='name'   for='name'>name：</label>
 <input  onkeyup='enterToQuery(event);' type='text' class='form-control' id='name' name='name' placeholder=''>
 </div>
 <div class='form-group col-md-3' style='margin-top: 10px;'>
 <label title='性别'  for='sex'>性别：</label>
 <select class="form-control" id="sex" name="common_label.sex">
 <option  value="">请选择...</option>
 	<option  value="0">男</option>
 	<option  value="1">女</option>
 </select>
 </div>
 <div class='form-group col-md-3' style='margin-top: 10px;'>
 <label title='状态'  for='status'>状态：</label>
 <select class="form-control" id="status" name="common_label.status">
 <option  value="">请选择...</option>
 	<option  value="0">不可用</option>
 	<option  value="1">可用</option>
 </select>
 </div>
 </form>
 </div>
 </div>
 <div class='row'>
 <div align="center">
 <button type='button' class='btn btn-default' id='querySearch'>查询</button>
 <button type='button' class='btn btn-default' id='reset'>重置</button>
 </div>
 </div>
 <div class='row'>
 <div class='col-md-12'>
 <table class='table table-condensed table-hover table-striped' id='common_label'>
 <thead>
 <tr>
 <th title='' data-column-id='cl_id' data-identifier='true' data-type='numeric' data-visible='false'>id</th>
 <th title='name' data-column-id='name'>name</th>
 <th title='sort' data-column-id='sort'>sort</th>
  <th title='操作' data-column-id='common_label_operation' data-formatter='common_label_operation' data-sortable='false'>操作</th>
 </tr>
 </thead>
 </table>
 </div>
 </div>
 </div>
 </div>
 </div>
 </div>
 <script type="text/javascript">
 function enterToQuery(event) {
  var e = event || window.event || arguments.callee.caller.arguments[0];
 if (e.keyCode == 13) {
     $('#querySearch').click();
 }
  }
  function openAddFormWindow() {
   var height=$(window).height();
   var width=$(window).width();
  art.dialog({
 id: 'id-dialog-common_label', 
  title: '新建',
   padding: 0,
  fixed: true,
     content: '<iframe height="'+(height*0.8)+'px" width="'+(width*0.8)+'px" frameborder=0 src="${ctxPath}/sunarvr/console/common_label/add"></iframe>'
   });
  }
  $(function($) {
 $('#reset').click(function() {
     $('#common_label_form').find('input,select').val('');
 	});
 $('#querySearch').click(function() {
     $("#common_label").bootgrid('reload');
 });
 function getQueryString() {
     var objQuery = new Object();
  objQuery.name = $('#name').val();
  objQuery.sex = $('#sex').val();
  objQuery.status = $('#status').val();
     var queryString = JSON.stringify(objQuery);
     return queryString;
 }
 $("#common_label")
 	.bootgrid({
     ajax : true,
     selection : true,
     multiSelect : true,
     rowSelect : true,
     keepSelection : true,
    post : function() {
 	return {
     table_name : "common_label",
 	    querys : getQueryString()
 	};
     },
     url : "${ctxPath}/sunarvr/console/common_label/json",
    formatters: {
      "common_label_operation": function(column, row)
      {
          return "<button type='button' class='btn btn-xs btn-default command-edit' onclick='openEditWindow("+row.cl_id+")'><span class='glyphicon glyphicon-pencil'></span></button> ";
      }
  }
 })
 .on(
 	"loaded.rs.jquery.bootgrid",
 	function(e) {
 	    $("#common_label-header").find("#buttons_id").html(" <button type='button' onclick='openAddFormWindow();' class='btn btn-default'>新增</button><button type='button' onclick='del();' class='btn btn-default'>删除</button> ");
 	});
 });
   function del(){
       deleteData('common_label');
   }
 function openReadWindow(id){
   var height=$(window).height();
      var width=$(window).width();
    art.dialog({
    id: 'id-dialog-common_label', 
     title: '查看',
     padding: 0,
     fixed: true,
        content: '<iframe height="'+(height*0.8)+'px" width="'+(width*0.8)+'px" frameborder=0 src="${ctxPath}/sunarvr/console/common_label/read?id='+id+'"></iframe>'
     });
   }
 function openEditWindow(id){
   var height=$(window).height();
      var width=$(window).width();
    art.dialog({
    id: 'id-dialog-common_label', 
     title: '编辑',
     padding: 0,
     fixed: true,
        content: '<iframe height="'+(height*0.8)+'px" width="'+(width*0.8)+'px" frameborder=0 src="${ctxPath}/sunarvr/console/common_label/edit?id='+id+'"></iframe>'
     });
   }
 function deleteData(table_id){
 	var ids=$("#common_label").bootgrid("getSelectedRows");
 if(ids.length==0){
 $.alert({
    title: '提示!',
      confirmButton:'确定',
       autoClose: 'confirm|1000',
        content: '请选择要删除的数据'
     });
 }else{
     $.confirm({
         keyboardEnabled: true,
         content: '是否删除？',
         title:"提示",
         animation:"scalex",
        confirmButton:"是",
     autoClose: 'cancel|5000',
         cancelButton:"否",
 	        confirm: function(){
         	$.post("${ctxPath}/sunarvr/console/common_label/delete",{ids:ids.join(",")},function(data){
 	       		 $("#common_label").bootgrid('reload');  
 	       	});
 	        }
     });
 	}
 	}
 </script>
 <%} %>
 