<% table_layout("/WEB-INF/view/console/skins/${table_skin}/layout.html", {table_title:"商品分类"}) { 
 %>
 <div class="row">
 	<div class="col-md-12">
 <div class="widget-container fluid-height clearfix">
 <div class="widget-content padded clearfix">
 <div class='row'>
 <div class='col-md-12'>
 <form name="common_goods_type_form" id="common_goods_type_form" class='form-inline'>
 <div class='form-group col-md-3' style='margin-top: 10px;'>
 <label title='男装女装'   for='sex'>男装女装：</label>
 <input  onkeyup='enterToQuery(event);' type='text' class='form-control' id='sex' name='sex' placeholder=''>
 </div>
 <div class='form-group col-md-3' style='margin-top: 10px;'>
 <label title='类型名称'   for='name'>类型名称：</label>
 <input  onkeyup='enterToQuery(event);' type='text' class='form-control' id='name' name='name' placeholder=''>
 </div>
 </form>
 </div>
 </div>
 <div class='row'>
 <div align="center">
 <button type='button' class='btn btn-default' id='querySearch'>查询</button>
 <button type='button' class='btn btn-default' id='reset'>重置</button>
 </div>
 </div>
 <div class='row'>
 <div class='col-md-12'>
 <table class='table table-condensed table-hover table-striped' id='common_goods_type'>
 <thead>
 <tr>
 <th title='' data-column-id='id' data-identifier='true' data-type='numeric' data-visible='false'>id</th>
 <th title='类型名称' data-column-id='name'>类型名称</th>
 <th title='排序' data-column-id='sort'>排序</th>
 <th title='男装女装' data-column-id='sex' data-formatter="sex">男装女装</th>
 <th title='操作' data-column-id='common_goods_type_operation' data-formatter='common_goods_type_operation' data-sortable='false'>操作</th>

 </tr>
 </thead>
 </table>
 </div>
 </div>
 </div>
 </div>
 </div>
 </div>
 <script type="text/javascript">
 function enterToQuery(event) {
  var e = event || window.event || arguments.callee.caller.arguments[0];
 if (e.keyCode == 13) {
     $('#querySearch').click();
 }
  }
  function openAddFormWindow() {
   var height=$(window).height();
   var width=$(window).width();
  art.dialog({
 id: 'id-dialog-common_goods_type', 
  title: '新建',
   padding: 0,
  fixed: true,
     content: '<iframe height="'+(height*0.4)+'px" width="'+(width*0.8)+'px" frameborder=0 src="${ctxPath}/sunarvr/console/common_goods_type/add?pid=${pid}"></iframe>'
   });
  }
  $(function($) {
 $('#reset').click(function() {
     $('#common_goods_type_form').find('input,select').val('');
 	});
 $('#querySearch').click(function() {
     $("#common_goods_type").bootgrid('reload');
 });
 function getQueryString() {
     var objQuery = new Object();
  objQuery.sex = $('#sex').val();
  objQuery.name = $('#name').val();
     var queryString = JSON.stringify(objQuery);
     return queryString;
 }
 $("#common_goods_type")
 	.bootgrid({
     ajax : true,
     selection : true,
     multiSelect : true,
     rowSelect : true,
     keepSelection : true,
    post : function() {
 	return {
     table_name : "common_goods_type",
 	    querys : getQueryString()
 	};
     },
     url : "${ctxPath}/sunarvr/console/common_goods_type/json?pid=${pid}",
    formatters: {
      "common_goods_type_operation": function(column, row)
      {
          return "<button type='button' class='btn btn-xs btn-default command-edit' onclick='openEditWindow("+row.id+")'><span class='glyphicon glyphicon-pencil'></span></button> <button type='button' class='btn btn-xs btn-default' onclick='openNextWindow("+row.id+")'>子分类</button> ";
      },
      "sex":function(column, row)
      {
          return row.sex==1?"女装":"男装";
      }
  }
 })
 .on(
 	"loaded.rs.jquery.bootgrid",
 	function(e) {
 	    $("#common_goods_type-header").find("#buttons_id").html(" <button type='button' onclick='openAddFormWindow();' class='btn btn-default'>新增</button> <button type='button' onclick='del();' class='btn btn-default'>删除</button> <button type='button' onclick='history.go(-1)' class='btn btn-default'>返回上一级</button> ");
 	});
 });
   function del(){
       deleteData('common_goods_type');
   }
 function openReadWindow(id){
   var height=$(window).height();
      var width=$(window).width();
    art.dialog({
    id: 'id-dialog-common_goods_type', 
     title: '查看',
     padding: 0,
     fixed: true,
        content: '<iframe height="'+(height*0.4)+'px" width="'+(width*0.8)+'px" frameborder=0 src="${ctxPath}/sunarvr/console/common_goods_type/read?id='+id+'"></iframe>'
     });
   }
 function openNextWindow(id){
     window.open("${ctxPath}/sunarvr/console/common_goods_type/list?pid="+id,"_self");
 }
 function openEditWindow(id){
   var height=$(window).height();
      var width=$(window).width();
    art.dialog({
    id: 'id-dialog-common_goods_type', 
     title: '编辑',
     padding: 0,
     fixed: true,
        content: '<iframe height="'+(height*0.4)+'px" width="'+(width*0.8)+'px" frameborder=0 src="${ctxPath}/sunarvr/console/common_goods_type/edit?id='+id+'"></iframe>'
     });
   }
 function deleteData(table_id){
 	var ids=$("#common_goods_type").bootgrid("getSelectedRows");
 if(ids.length==0){
 $.alert({
    title: '提示!',
      confirmButton:'确定',
       autoClose: 'confirm|1000',
        content: '请选择要删除的数据'
     });
 }else{
     $.confirm({
         keyboardEnabled: true,
         content: '是否删除？',
         title:"提示",
         animation:"scalex",
        confirmButton:"是",
     autoClose: 'cancel|5000',
         cancelButton:"否",
 	        confirm: function(){
         	$.post("${ctxPath}/sunarvr/console/common_goods_type/delete",{ids:ids.join(",")},function(data){
         	    alert(data.http_status);
         		if(data.http_status==0){
        	 		 $("#common_goods_type").bootgrid('reload');  
        	 	}else if(data.http_status==1){
 	       		 $("#common_goods_type").bootgrid('reload');  
        	 	}
 	       	});
 	        }
     });
 	}
 	}
 </script>
 <%} %>
 