<% table_layout("/WEB-INF/view/console/skins/${table_skin}/layout.html", {}) { 
 %>
 <div class="row">
 	<div class="col-md-12">
 <div class="widget-container fluid-height clearfix">
 <div class="widget-content padded clearfix">
 <div class='row'>
 <div class='col-md-12'>
 <form name="mod_body_form" id="mod_body_form" class='form-inline'>
 <div class='form-group col-md-3' style='margin-top: 10px;'>
 <label title='性别'  for='sex'>性别：</label>
 <select class="form-control" id="sex" name="mod_body.sex">
 <option  value="">请选择...</option>
 	<option  value="0">男</option>
 	<option  value="1">女</option>
 </select>
 </div>
 <div class='form-group col-md-3' style='margin-top: 10px;'>
 <label title='终端'  for='terminal'>终端：</label>
 <select class="form-control" id="terminal" name="mod_body.terminal">
 <option  value="">请选择...</option>
 	<option  value="Web">Web</option>
 	<option  value="iOS">iOS</option>
 	<option  value="Android">Android</option>
 	<option  value="PC">PC</option>
 </select>
 </div>
 </form>
 </div>
 </div>
 <div class='row'>
 <div align="center">
 <button type='button' class='btn btn-default' id='querySearch'>查询</button>
 <button type='button' class='btn btn-default' id='reset'>重置</button>
 </div>
 </div>
 <div class='row'>
 <div class='col-md-12'>
 <table class='table table-condensed table-hover table-striped' id='mod_body'>
 <thead>
 <tr>
 <th title='' data-column-id='id' data-identifier='true' data-type='numeric' data-visible='false'>id</th>
 <th title='性别' data-column-id='sex' data-formatter='sex' >性别</th>
 <th title='模型地址' data-column-id='model_url'>模型地址</th>
 <th title='模型缩略图' data-column-id='model_img' data-formatter='model_img'>模型缩略图</th>
 <th title='终端' data-column-id='terminal'>终端</th>
  <th title='状态' data-column-id='status' data-formatter='status'>状态</th>
  <th title='操作' data-column-id='mod_body_operation' data-formatter='mod_body_operation' data-sortable='false'>操作</th>
 </tr>
 </thead>
 </table>
 </div>
 </div>
 </div>
 </div>
 </div>
 </div>
 <script type="text/javascript">
 function enterToQuery(event) {
  var e = event || window.event || arguments.callee.caller.arguments[0];
 if (e.keyCode == 13) {
     $('#querySearch').click();
 }
  }
  function openAddFormWindow() {
   var height=$(window).height();
   var width=$(window).width();
  art.dialog({
 id: 'id-dialog-mod_body', 
  title: '新建',
   padding: 0,
  fixed: true,
     content: '<iframe height="'+(height*0.8)+'px" width="'+(width*0.8)+'px" frameborder=0 src="${ctxPath}/sunarvr/console/mod_body/add"></iframe>'
   });
  }
  $(function($) {
 $('#reset').click(function() {
     $('#mod_body_form').find('input,select').val('');
 	});
 $('#querySearch').click(function() {
     $("#mod_body").bootgrid('reload');
 });
 function getQueryString() {
     var objQuery = new Object();
  objQuery.sex = $('#sex').val();
  objQuery.terminal = $('#terminal').val();
     var queryString = JSON.stringify(objQuery);
     return queryString;
 }
 $("#mod_body")
 	.bootgrid({
     ajax : true,
     selection : true,
     multiSelect : true,
     rowSelect : true,
     keepSelection : true,
    post : function() {
 	return {
     table_name : "mod_body",
 	    querys : getQueryString()
 	};
     },
     url : "${ctxPath}/sunarvr/console/mod_body/json",
    formatters: {
      "mod_body_operation": function(column, row)
      {
          return "<button type='button' class='btn btn-xs btn-default command-edit' onclick='openEditWindow("+row.id+")'><span class='glyphicon glyphicon-pencil'></span></button>  ";
      },
     "status":function(column, row)
     {
         return row.status==1?"<span class='label label-info'>可用</span>":"<span class='label label-danger'>不可用</span>";
     },  
     "sex":function(column, row)
     {
         return row.sex==1?"女":"男";
     },
     "model_img":function(column, row)
     {
	   
         return ' <a href="'+row.model_img+'" target="_blank"target="_blank" > <img style="height:50px;" src="'+row.model_img+'" alt="缩略图"> </a>';
     }
  }
 })
 .on(
 	"loaded.rs.jquery.bootgrid",
 	function(e) {
 	    $("#mod_body-header").find("#buttons_id").html(" <button type='button' onclick='openAddFormWindow();' class='btn btn-default'>新增</button> <button type='button' onclick='del();' class='btn btn-default'>删除</button> ");
 	});
 });
   function del(){
       deleteData('mod_body');
   }
 function openReadWindow(id){
   var height=$(window).height();
      var width=$(window).width();
    art.dialog({
    id: 'id-dialog-mod_body', 
     title: '查看',
     padding: 0,
     fixed: true,
        content: '<iframe height="'+(height*0.8)+'px" width="'+(width*0.8)+'px" frameborder=0 src="${ctxPath}/sunarvr/console/mod_body/read?id='+id+'"></iframe>'
     });
   }
 function openEditWindow(id){
   var height=$(window).height();
      var width=$(window).width();
    art.dialog({
    id: 'id-dialog-mod_body', 
     title: '编辑',
     padding: 0,
     fixed: true,
        content: '<iframe height="'+(height*0.8)+'px" width="'+(width*0.8)+'px" frameborder=0 src="${ctxPath}/sunarvr/console/mod_body/edit?id='+id+'"></iframe>'
     });
   }
 function deleteData(table_id){
 	var ids=$("#mod_body").bootgrid("getSelectedRows");
 if(ids.length==0){
 $.alert({
    title: '提示!',
      confirmButton:'确定',
       autoClose: 'confirm|1000',
        content: '请选择要删除的数据'
     });
 }else{
     $.confirm({
         keyboardEnabled: true,
         content: '是否删除？',
         title:"提示",
         animation:"scalex",
        confirmButton:"是",
     autoClose: 'cancel|5000',
         cancelButton:"否",
 	        confirm: function(){
         	$.post("${ctxPath}/sunarvr/console/mod_body/delete",{ids:ids.join(",")},function(data){
 	       		 $("#mod_body").bootgrid('reload');  
 	       	});
 	        }
     });
 	}
 	}
 </script>
 <%} %>
 