@font-face {
  font-family: 'Laila';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts.gstatic.com/s/laila/v4/LYjMdG_8nE8jDLRagCI.eot")/*tpa=http://fonts.gstatic.com/s/laila/v4/LYjMdG_8nE8jDLRagCI.eot*/;
}
