<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
 <html>
 <head>
 <meta http-equiv="X-UA-Compatible" content="IE=edge">  
 <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
 <%
 include("/WEB-INF/view/console/common/css.html"){}
 	%>
   <%
 	include("/WEB-INF/view/console/common/js.html"){}
 	%>
 <title></title>
 </head>
 <body> <nav class="navbar navbar-default navbar-fixed-top site-navbar" >
   <div class="container"> 
  <div class="navbar-header"> 
 <a class="navbar-brand" href="#">log_sys表单信息</a> 
 </div> 
   </div>
  </nav>
 <form name="log_sys_form"  id="log_sys_form" class="form-horizontal" style="margin-top: 60px;">
 <div class="form-group" >
 <label for="xm" class="col-sm-2 control-label">actionenddate</label>
 <div class="col-sm-6">
 <input  type="text"  name="actionenddate" id="actionenddate" class="form-control" check-type="required" value='${log_sys.actionenddate!}' >
 </div>
  </div>
 <div class="form-group" >
 <label for="xm" class="col-sm-2 control-label">actionendtime</label>
 <div class="col-sm-6">
 <input  type="text"  name="actionendtime" id="actionendtime" class="form-control" check-type="required" value='${log_sys.actionendtime!}' >
 </div>
  </div>
 <div class="form-group" >
 <label for="xm" class="col-sm-2 control-label">actionhaoshi</label>
 <div class="col-sm-6">
 <input  type="text"  name="actionhaoshi" id="actionhaoshi" class="form-control" check-type="required number" value='${log_sys.actionhaoshi!}' >
 </div>
  </div>
 <div class="form-group" >
 <label for="xm" class="col-sm-2 control-label">actionstartdate</label>
 <div class="col-sm-6">
 <input  type="text"  name="actionstartdate" id="actionstartdate" class="form-control" check-type="required" value='${log_sys.actionstartdate!}' >
 </div>
  </div>
 <div class="form-group" >
 <label for="xm" class="col-sm-2 control-label">actionstarttime</label>
 <div class="col-sm-6">
 <input  type="text"  name="actionstarttime" id="actionstarttime" class="form-control" check-type="required" value='${log_sys.actionstarttime!}' >
 </div>
  </div>
 <div class="form-group" >
 <label for="xm" class="col-sm-2 control-label">cause</label>
 <div class="col-sm-6">
 <input  type="text"  name="cause" id="cause" class="form-control" check-type="required" value='${log_sys.cause!}' >
 </div>
  </div>
 <div class="form-group" >
 <label for="xm" class="col-sm-2 control-label">cookie</label>
 <div class="col-sm-6">
 <input  type="text"  name="cookie" id="cookie" class="form-control" check-type="required" value='${log_sys.cookie!}' >
 </div>
  </div>
 <div class="form-group" >
 <label for="xm" class="col-sm-2 control-label">enddate</label>
 <div class="col-sm-6">
 <input  type="text"  name="enddate" id="enddate" class="form-control" check-type="required" value='${log_sys.enddate!}' >
 </div>
  </div>
 <div class="form-group" >
 <label for="xm" class="col-sm-2 control-label">endtime</label>
 <div class="col-sm-6">
 <input  type="text"  name="endtime" id="endtime" class="form-control" check-type="required" value='${log_sys.endtime!}' >
 </div>
  </div>
 <div class="form-group" >
 <label for="xm" class="col-sm-2 control-label">haoshi</label>
 <div class="col-sm-6">
 <input  type="text"  name="haoshi" id="haoshi" class="form-control" check-type="required number" value='${log_sys.haoshi!}' >
 </div>
  </div>
 <div class="form-group" >
 <label for="xm" class="col-sm-2 control-label">ips</label>
 <div class="col-sm-6">
 <input  type="text"  name="ips" id="ips" class="form-control" check-type="required" value='${log_sys.ips!}' >
 </div>
  </div>
 <div class="form-group" >
 <label for="xm" class="col-sm-2 control-label">method</label>
 <div class="col-sm-6">
 <input  type="text"  name="method" id="method" class="form-control" check-type="required" value='${log_sys.method!}' >
 </div>
  </div>
 <div class="form-group" >
 <label for="xm" class="col-sm-2 control-label">referer</label>
 <div class="col-sm-6">
 <input  type="text"  name="referer" id="referer" class="form-control" check-type="required" value='${log_sys.referer!}' >
 </div>
  </div>
 <div class="form-group" >
 <label for="xm" class="col-sm-2 control-label">startdate</label>
 <div class="col-sm-6">
 <input  type="text"  name="startdate" id="startdate" class="form-control" check-type="required" value='${log_sys.startdate!}' >
 </div>
  </div>
 <div class="form-group" >
 <label for="xm" class="col-sm-2 control-label">starttime</label>
 <div class="col-sm-6">
 <input  type="text"  name="starttime" id="starttime" class="form-control" check-type="required" value='${log_sys.starttime!}' >
 </div>
  </div>
 <div class="form-group" >
 <label for="xm" class="col-sm-2 control-label">status</label>
 <div class="col-sm-6">
 <input  type="text"  name="status" id="status" class="form-control" check-type="required" value='${log_sys.status!}' >
 </div>
  </div>
 <div class="form-group" >
 <label for="xm" class="col-sm-2 control-label">useragent</label>
 <div class="col-sm-6">
 <input  type="text"  name="useragent" id="useragent" class="form-control" check-type="required" value='${log_sys.useragent!}' >
 </div>
  </div>
 <div class="form-group" >
 <label for="xm" class="col-sm-2 control-label">viewhaoshi</label>
 <div class="col-sm-6">
 <input  type="text"  name="viewhaoshi" id="viewhaoshi" class="form-control" check-type="required number" value='${log_sys.viewhaoshi!}' >
 </div>
  </div>
 <div class="form-group" >
 <label for="xm" class="col-sm-2 control-label">operatorids</label>
 <div class="col-sm-6">
 <input  type="text"  name="operatorids" id="operatorids" class="form-control" check-type="required" value='${log_sys.operatorids!}' >
 </div>
  </div>
 <div class="form-group" >
 <label for="xm" class="col-sm-2 control-label">accept</label>
 <div class="col-sm-6">
 <input  type="text"  name="accept" id="accept" class="form-control" check-type="required" value='${log_sys.accept!}' >
 </div>
  </div>
 <div class="form-group" >
 <label for="xm" class="col-sm-2 control-label">acceptencoding</label>
 <div class="col-sm-6">
 <input  type="text"  name="acceptencoding" id="acceptencoding" class="form-control" check-type="required" value='${log_sys.acceptencoding!}' >
 </div>
  </div>
 <div class="form-group" >
 <label for="xm" class="col-sm-2 control-label">acceptlanguage</label>
 <div class="col-sm-6">
 <input  type="text"  name="acceptlanguage" id="acceptlanguage" class="form-control" check-type="required" value='${log_sys.acceptlanguage!}' >
 </div>
  </div>
 <div class="form-group" >
 <label for="xm" class="col-sm-2 control-label">connection</label>
 <div class="col-sm-6">
 <input  type="text"  name="connection" id="connection" class="form-control" check-type="required" value='${log_sys.connection!}' >
 </div>
  </div>
 <div class="form-group" >
 <label for="xm" class="col-sm-2 control-label">host</label>
 <div class="col-sm-6">
 <input  type="text"  name="host" id="host" class="form-control" check-type="required" value='${log_sys.host!}' >
 </div>
  </div>
 <div class="form-group" >
 <label for="xm" class="col-sm-2 control-label">xrequestedwith</label>
 <div class="col-sm-6">
 <input  type="text"  name="xrequestedwith" id="xrequestedwith" class="form-control" check-type="required" value='${log_sys.xrequestedwith!}' >
 </div>
  </div>
 <div class="form-group" >
 <label for="xm" class="col-sm-2 control-label">pvids</label>
 <div class="col-sm-6">
 <input  type="text"  name="pvids" id="pvids" class="form-control" check-type="required" value='${log_sys.pvids!}' >
 </div>
  </div>
 <div class="form-group" >
 <label for="xm" class="col-sm-2 control-label">userids</label>
 <div class="col-sm-6">
 <input  type="text"  name="userids" id="userids" class="form-control" check-type="required" value='${log_sys.userids!}' >
 </div>
  </div>
 <div class="form-group" >
 <label for="xm" class="col-sm-2 control-label">description</label>
 <div class="col-sm-8">
 <textarea name="description" id="description" style="width: 100%">${log_sys.description!}</textarea>
 <script type="text/javascript">
  KindEditor.ready(function(K) {
   new common_kind_edit(K).create("description");
   });
 </script>
 </div>
  </div>
 <div class="form-group" >
 <label for="xm" class="col-sm-2 control-label">requestpath</label>
 <div class="col-sm-8">
 <textarea name="requestpath" id="requestpath" style="width: 100%">${log_sys.requestpath!}</textarea>
 <script type="text/javascript">
  KindEditor.ready(function(K) {
   new common_kind_edit(K).create("requestpath");
   });
 </script>
 </div>
  </div>
 <input type='hidden' name='id' id='id' value='${log_sys.id!}'>
 <input type='hidden' name='common_token' id='common_token' value='${common_token!}'>
  <div class="form-group" style="margin-bottom: 60px;"></div>
 </form>
 <script type="text/javascript"> 
 	$(function($) { 
 	$("#log_sys_form").validation();
 }); 
 function saveZqForm(){  
 if ($("#log_sys_form").valid() == false) { 
 	return false;  
 }
 var formObject=new Object();
 formObject.actionenddate=(log_sys_form.actionenddate.value==''?null:log_sys_form.actionenddate.value); 
 formObject.actionendtime=(log_sys_form.actionendtime.value==''?null:log_sys_form.actionendtime.value); 
 formObject.actionhaoshi=(log_sys_form.actionhaoshi.value==''?null:log_sys_form.actionhaoshi.value); 
 formObject.actionstartdate=(log_sys_form.actionstartdate.value==''?null:log_sys_form.actionstartdate.value); 
 formObject.actionstarttime=(log_sys_form.actionstarttime.value==''?null:log_sys_form.actionstarttime.value); 
 formObject.cause=(log_sys_form.cause.value==''?null:log_sys_form.cause.value); 
 formObject.cookie=(log_sys_form.cookie.value==''?null:log_sys_form.cookie.value); 
 formObject.description=(log_sys_form.description.value==''?null:log_sys_form.description.value); 
 formObject.enddate=(log_sys_form.enddate.value==''?null:log_sys_form.enddate.value); 
 formObject.endtime=(log_sys_form.endtime.value==''?null:log_sys_form.endtime.value); 
 formObject.haoshi=(log_sys_form.haoshi.value==''?null:log_sys_form.haoshi.value); 
 formObject.ips=(log_sys_form.ips.value==''?null:log_sys_form.ips.value); 
 formObject.method=(log_sys_form.method.value==''?null:log_sys_form.method.value); 
 formObject.referer=(log_sys_form.referer.value==''?null:log_sys_form.referer.value); 
 formObject.requestpath=(log_sys_form.requestpath.value==''?null:log_sys_form.requestpath.value); 
 formObject.startdate=(log_sys_form.startdate.value==''?null:log_sys_form.startdate.value); 
 formObject.starttime=(log_sys_form.starttime.value==''?null:log_sys_form.starttime.value); 
 formObject.status=(log_sys_form.status.value==''?null:log_sys_form.status.value); 
 formObject.useragent=(log_sys_form.useragent.value==''?null:log_sys_form.useragent.value); 
 formObject.viewhaoshi=(log_sys_form.viewhaoshi.value==''?null:log_sys_form.viewhaoshi.value); 
 formObject.operatorids=(log_sys_form.operatorids.value==''?null:log_sys_form.operatorids.value); 
 formObject.accept=(log_sys_form.accept.value==''?null:log_sys_form.accept.value); 
 formObject.acceptencoding=(log_sys_form.acceptencoding.value==''?null:log_sys_form.acceptencoding.value); 
 formObject.acceptlanguage=(log_sys_form.acceptlanguage.value==''?null:log_sys_form.acceptlanguage.value); 
 formObject.connection=(log_sys_form.connection.value==''?null:log_sys_form.connection.value); 
 formObject.host=(log_sys_form.host.value==''?null:log_sys_form.host.value); 
 formObject.xrequestedwith=(log_sys_form.xrequestedwith.value==''?null:log_sys_form.xrequestedwith.value); 
 formObject.pvids=(log_sys_form.pvids.value==''?null:log_sys_form.pvids.value); 
 formObject.userids=(log_sys_form.userids.value==''?null:log_sys_form.userids.value); 
 formObject.id=(log_sys_form.id.value==''?null:log_sys_form.id.value); 
 var formObjectJson = JSON.stringify(formObject);
 $.post("${ctxPath}/sunarvr/console/log_sys/save", {  
 	formObjectJson :formObjectJson,
 	table_name :'log_sys',  
 	common_token :$("#common_token").val()  
 }, function(data) {
  $.alert({ 
 	    title: '提示', 
 	    content: data, 
 	    backgroundDismiss: false, 
 	    confirmButton:"确定", 
 	    autoClose: 'confirm|2000', 
 		    confirm: function(){ 
   parent.$('#log_sys').bootgrid('reload');  
  parent.art.dialog.get('id-dialog-log_sys').close();  
 		    } 
 		}); 
 });
 } 
 </script>  
 <nav class="navbar navbar-default navbar-fixed-bottom site-navbar" >
  <div class="container" style="padding-top:10px;padding-bottom:10px;">
 <div class="nav navbar-nav navbar-right">
 <a href="#" class="btn btn-success"  onclick='saveZqForm()'>保存 </a>
  </div>
  </div>
   </nav>
 </body>
 