<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
 <html>
 <head>
 <meta http-equiv="X-UA-Compatible" content="IE=edge">  
 <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
 <%
 include("/WEB-INF/view/console/common/css.html"){}
 	%>
   <%
 	include("/WEB-INF/view/console/common/js.html"){}
 	%>
 <title></title>
 </head>
 <body> <nav class="navbar navbar-default navbar-fixed-top site-navbar" >
   <div class="container"> 
  <div class="navbar-header"> 
 <a class="navbar-brand" href="#">log_sys表单信息</a> 
 </div> 
   </div>
  </nav>
 <form name="log_sys_form"  id="log_sys_form" class="form-horizontal" style="margin-top: 60px;">
 <div class="form-group" >
 <label for="xm" class="col-sm-2 control-label">actionenddate</label>
 <div class="col-sm-6">
 <label class="control-label">${log_sys.actionenddate!}</label>
 </div>
  </div>
 <div class="form-group" >
 <label for="xm" class="col-sm-2 control-label">actionendtime</label>
 <div class="col-sm-6">
 <label class="control-label">${log_sys.actionendtime!}</label>
 </div>
  </div>
 <div class="form-group" >
 <label for="xm" class="col-sm-2 control-label">actionhaoshi</label>
 <div class="col-sm-6">
 <label class="control-label">${log_sys.actionhaoshi!}</label>
 </div>
  </div>
 <div class="form-group" >
 <label for="xm" class="col-sm-2 control-label">actionstartdate</label>
 <div class="col-sm-6">
 <label class="control-label">${log_sys.actionstartdate!}</label>
 </div>
  </div>
 <div class="form-group" >
 <label for="xm" class="col-sm-2 control-label">actionstarttime</label>
 <div class="col-sm-6">
 <label class="control-label">${log_sys.actionstarttime!}</label>
 </div>
  </div>
 <div class="form-group" >
 <label for="xm" class="col-sm-2 control-label">cause</label>
 <div class="col-sm-6">
 <label class="control-label">${log_sys.cause!}</label>
 </div>
  </div>
 <div class="form-group" >
 <label for="xm" class="col-sm-2 control-label">cookie</label>
 <div class="col-sm-6">
 <label class="control-label">${log_sys.cookie!}</label>
 </div>
  </div>
 <div class="form-group" >
 <label for="xm" class="col-sm-2 control-label">enddate</label>
 <div class="col-sm-6">
 <label class="control-label">${log_sys.enddate!}</label>
 </div>
  </div>
 <div class="form-group" >
 <label for="xm" class="col-sm-2 control-label">endtime</label>
 <div class="col-sm-6">
 <label class="control-label">${log_sys.endtime!}</label>
 </div>
  </div>
 <div class="form-group" >
 <label for="xm" class="col-sm-2 control-label">haoshi</label>
 <div class="col-sm-6">
 <label class="control-label">${log_sys.haoshi!}</label>
 </div>
  </div>
 <div class="form-group" >
 <label for="xm" class="col-sm-2 control-label">ips</label>
 <div class="col-sm-6">
 <label class="control-label">${log_sys.ips!}</label>
 </div>
  </div>
 <div class="form-group" >
 <label for="xm" class="col-sm-2 control-label">method</label>
 <div class="col-sm-6">
 <label class="control-label">${log_sys.method!}</label>
 </div>
  </div>
 <div class="form-group" >
 <label for="xm" class="col-sm-2 control-label">referer</label>
 <div class="col-sm-6">
 <label class="control-label">${log_sys.referer!}</label>
 </div>
  </div>
 <div class="form-group" >
 <label for="xm" class="col-sm-2 control-label">startdate</label>
 <div class="col-sm-6">
 <label class="control-label">${log_sys.startdate!}</label>
 </div>
  </div>
 <div class="form-group" >
 <label for="xm" class="col-sm-2 control-label">starttime</label>
 <div class="col-sm-6">
 <label class="control-label">${log_sys.starttime!}</label>
 </div>
  </div>
 <div class="form-group" >
 <label for="xm" class="col-sm-2 control-label">status</label>
 <div class="col-sm-6">
 <label class="control-label">${log_sys.status!}</label>
 </div>
  </div>
 <div class="form-group" >
 <label for="xm" class="col-sm-2 control-label">useragent</label>
 <div class="col-sm-6">
 <label class="control-label">${log_sys.useragent!}</label>
 </div>
  </div>
 <div class="form-group" >
 <label for="xm" class="col-sm-2 control-label">viewhaoshi</label>
 <div class="col-sm-6">
 <label class="control-label">${log_sys.viewhaoshi!}</label>
 </div>
  </div>
 <div class="form-group" >
 <label for="xm" class="col-sm-2 control-label">operatorids</label>
 <div class="col-sm-6">
 <label class="control-label">${log_sys.operatorids!}</label>
 </div>
  </div>
 <div class="form-group" >
 <label for="xm" class="col-sm-2 control-label">accept</label>
 <div class="col-sm-6">
 <label class="control-label">${log_sys.accept!}</label>
 </div>
  </div>
 <div class="form-group" >
 <label for="xm" class="col-sm-2 control-label">acceptencoding</label>
 <div class="col-sm-6">
 <label class="control-label">${log_sys.acceptencoding!}</label>
 </div>
  </div>
 <div class="form-group" >
 <label for="xm" class="col-sm-2 control-label">acceptlanguage</label>
 <div class="col-sm-6">
 <label class="control-label">${log_sys.acceptlanguage!}</label>
 </div>
  </div>
 <div class="form-group" >
 <label for="xm" class="col-sm-2 control-label">connection</label>
 <div class="col-sm-6">
 <label class="control-label">${log_sys.connection!}</label>
 </div>
  </div>
 <div class="form-group" >
 <label for="xm" class="col-sm-2 control-label">host</label>
 <div class="col-sm-6">
 <label class="control-label">${log_sys.host!}</label>
 </div>
  </div>
 <div class="form-group" >
 <label for="xm" class="col-sm-2 control-label">xrequestedwith</label>
 <div class="col-sm-6">
 <label class="control-label">${log_sys.xrequestedwith!}</label>
 </div>
  </div>
 <div class="form-group" >
 <label for="xm" class="col-sm-2 control-label">pvids</label>
 <div class="col-sm-6">
 <label class="control-label">${log_sys.pvids!}</label>
 </div>
  </div>
 <div class="form-group" >
 <label for="xm" class="col-sm-2 control-label">userids</label>
 <div class="col-sm-6">
 <label class="control-label">${log_sys.userids!}</label>
 </div>
  </div>
 <div class="form-group" >
 <label for="xm" class="col-sm-2 control-label">description</label>
 <div class="col-sm-8">
 <label class="control-label">${log_sys.description!}</label>
 </div>
  </div>
 <div class="form-group" >
 <label for="xm" class="col-sm-2 control-label">requestpath</label>
 <div class="col-sm-8">
 <label class="control-label">${log_sys.requestpath!}</label>
 </div>
  </div>
  <div class="form-group" style="margin-bottom: 60px;"></div>
 </form>
 </body>
 