<% table_layout("/WEB-INF/view/console/skins/${table_skin}/layout.html", {}) { 
 %>
 <div class="row">
 	<div class="col-md-12">
 <div class="widget-container fluid-height clearfix">
 <div class="widget-content padded clearfix">
 <div class='row'>
 <div class='col-md-12'>
 <form name="mod_complexion_form" id="mod_complexion_form" class='form-inline'>
 <div class='form-group col-md-3' style='margin-top: 10px;'>
 <label title=''   for='id'>：</label>
 <input  onkeyup='enterToQuery(event);' type='text' class='form-control' id='id' name='id' placeholder=''>
 </div>
 <div class='form-group col-md-3' style='margin-top: 10px;'>
 <label title='性别'   for='sex'>性别：</label>
 <input  onkeyup='enterToQuery(event);' type='text' class='form-control' id='sex' name='sex' placeholder=''>
 </div>
 <div class='form-group col-md-3' style='margin-top: 10px;'>
 <label title='肤色名'   for='name'>肤色名：</label>
 <input  onkeyup='enterToQuery(event);' type='text' class='form-control' id='name' name='name' placeholder=''>
 </div>
 <div class='form-group col-md-3' style='margin-top: 10px;'>
 <label title='肤色贴图地址_file'   for='model_url'>肤色贴图...：</label>
 <input  onkeyup='enterToQuery(event);' type='text' class='form-control' id='model_url' name='model_url' placeholder=''>
 </div>
 <div class='form-group col-md-3' style='margin-top: 10px;'>
 <label title='肤色缩略图'   for='complexion_img'>肤色缩略...：</label>
 <input  onkeyup='enterToQuery(event);' type='text' class='form-control' id='complexion_img' name='complexion_img' placeholder=''>
 </div>
 <div class='form-group col-md-3' style='margin-top: 10px;'>
 <label title='排序'   for='sort'>排序：</label>
 <input  onkeyup='enterToQuery(event);' type='text' class='form-control' id='sort' name='sort' placeholder=''>
 </div>
 <div class='form-group col-md-3' style='margin-top: 10px;'>
 <label title='状态'  for='status'>状态：</label>
 <select class="form-control" id="status" name="mod_complexion.status">
 <option  value="">请选择...</option>
 	<option  value="1">可用</option>
 	<option  value="0">不可用</option>
 </select>
 </div>
 </form>
 </div>
 </div>
 <div class='row'>
 <div align="center">
 <button type='button' class='btn btn-default' id='querySearch'>查询</button>
 <button type='button' class='btn btn-default' id='reset'>重置</button>
 </div>
 </div>
 <div class='row'>
 <div class='col-md-12'>
 <table class='table table-condensed table-hover table-striped' id='mod_complexion'>
 <thead>
 <tr>
 <th title='' data-column-id='id' data-identifier='true' data-type='numeric' data-visible='false'>id</th>
 <th title='性别' data-column-id='sex'>性别</th>
 <th title='肤色名' data-column-id='name'>肤色名</th>
 <th title='肤色贴图地址_file' data-column-id='model_url'>肤色贴图地址_file</th>
 <th title='肤色缩略图' data-column-id='complexion_img'>肤色缩略图</th>
 <th title='排序' data-column-id='sort'>排序</th>
 <th title='状态' data-column-id='status'>状态</th>
  <th title='操作' data-column-id='mod_complexion_operation' data-formatter='mod_complexion_operation' data-sortable='false'>操作</th>
 </tr>
 </thead>
 </table>
 </div>
 </div>
 </div>
 </div>
 </div>
 </div>
 <script type="text/javascript">
 function enterToQuery(event) {
  var e = event || window.event || arguments.callee.caller.arguments[0];
 if (e.keyCode == 13) {
     $('#querySearch').click();
 }
  }
  function openAddFormWindow() {
   var height=$(window).height();
   var width=$(window).width();
  art.dialog({
 id: 'id-dialog-mod_complexion', 
  title: '新建',
   padding: 0,
  fixed: true,
     content: '<iframe height="'+(height*0.8)+'px" width="'+(width*0.8)+'px" frameborder=0 src="${ctxPath}/sunarvr/console/mod_complexion/add"></iframe>'
   });
  }
  $(function($) {
 $('#reset').click(function() {
     $('#mod_complexion_form').find('input,select').val('');
 	});
 $('#querySearch').click(function() {
     $("#mod_complexion").bootgrid('reload');
 });
 function getQueryString() {
     var objQuery = new Object();
  objQuery.id = $('#id').val();
  objQuery.sex = $('#sex').val();
  objQuery.name = $('#name').val();
  objQuery.model_url = $('#model_url').val();
  objQuery.complexion_img = $('#complexion_img').val();
  objQuery.sort = $('#sort').val();
  objQuery.status = $('#status').val();
     var queryString = JSON.stringify(objQuery);
     return queryString;
 }
 $("#mod_complexion")
 	.bootgrid({
     ajax : true,
     selection : true,
     multiSelect : true,
     rowSelect : true,
     keepSelection : true,
    post : function() {
 	return {
     table_name : "mod_complexion",
 	    querys : getQueryString()
 	};
     },
     url : "${ctxPath}/sunarvr/console/mod_complexion/json",
    formatters: {
      "mod_complexion_operation": function(column, row)
      {
          return "<button type='button' class='btn btn-xs btn-default command-edit' onclick='openEditWindow("+row.id+")'><span class='glyphicon glyphicon-pencil'></span></button><button type='button' class='btn btn-xs btn-default' onclick='openReadWindow("+row.id+")'><span class='glyphicon glyphicon-search'></span></button> ";
      }
  }
 })
 .on(
 	"loaded.rs.jquery.bootgrid",
 	function(e) {
 	    $("#mod_complexion-header").find("#buttons_id").html(" <button type='button' onclick='openAddFormWindow();' class='btn btn-default'>新增</button><button type='button' onclick='del();' class='btn btn-default'>删除</button> ");
 	});
 });
   function del(){
       deleteData('mod_complexion');
   }
 function openReadWindow(id){
   var height=$(window).height();
      var width=$(window).width();
    art.dialog({
    id: 'id-dialog-mod_complexion', 
     title: '查看',
     padding: 0,
     fixed: true,
        content: '<iframe height="'+(height*0.8)+'px" width="'+(width*0.8)+'px" frameborder=0 src="${ctxPath}/sunarvr/console/mod_complexion/read?id='+id+'"></iframe>'
     });
   }
 function openEditWindow(id){
   var height=$(window).height();
      var width=$(window).width();
    art.dialog({
    id: 'id-dialog-mod_complexion', 
     title: '编辑',
     padding: 0,
     fixed: true,
        content: '<iframe height="'+(height*0.8)+'px" width="'+(width*0.8)+'px" frameborder=0 src="${ctxPath}/sunarvr/console/mod_complexion/edit?id='+id+'"></iframe>'
     });
   }
 function deleteData(table_id){
 	var ids=$("#mod_complexion").bootgrid("getSelectedRows");
 if(ids.length==0){
 $.alert({
    title: '提示!',
      confirmButton:'确定',
       autoClose: 'confirm|1000',
        content: '请选择要删除的数据'
     });
 }else{
     $.confirm({
         keyboardEnabled: true,
         content: '是否删除？',
         title:"提示",
         animation:"scalex",
        confirmButton:"是",
     autoClose: 'cancel|5000',
         cancelButton:"否",
 	        confirm: function(){
         	$.post("${ctxPath}/sunarvr/console/mod_complexion/delete",{ids:ids.join(",")},function(data){
 	       		 $("#mod_complexion").bootgrid('reload');  
 	       	});
 	        }
     });
 	}
 	}
 </script>
 <%} %>
 