<!DOCTYPE html>
<html>
  
<head>
<meta charset="utf-8">
    <title>
   404
    </title>
    <link href="http://fonts.useso.com/css?family=Open+Sans:300,400,600&subset=latin,latin-ext" rel="stylesheet">
    <link href="${ctxPath}/portal_1/css/bootstrap.min.css" media="all" rel="stylesheet" type="text/css" />
    <link href="${ctxPath}/portal_1/css/font-awesome.css" media="all" rel="stylesheet" type="text/css" />
    <link href="${ctxPath}/portal_1/css/se7en-font.css" media="all" rel="stylesheet" type="text/css" />
    <link href="${ctxPath}/portal_1/css/style.css" media="all" rel="stylesheet" type="text/css" />
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
  </head>
  <body class="fourofour">
    <!-- Login Screen -->
    <div class="fourofour-container">
      <h1>
        404
      </h1>
      <h2>
       页面找不到了..../(ㄒoㄒ)/~~
      </h2>
      <a class="btn btn-lg btn-default-outline" href="#"><i class="icon-home"></i>Go to the homepage</a>
    </div>
    <!-- End Login Screen -->
  </body>

</html>