<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <title>jQuery File Upload Example</title>



</head>

<body><!--
<h1>Spring MVC - jQuery File Upload</h1>
<div style="width:500px;padding:20px">

    <input  id="fileupload" type="file" name="files[]" data-url="/file/upload_ali" multiple>

    <div class="dropzone">Drop files here</div>

    <div id="progress">
        <div style="width: 0%;"></div>
    </div>

    <table id="uploaded-files">
        <tr>
            <th>File Name</th>
            <th>File Size</th>
            <th>File Type</th>
            <th>Download</th>
        </tr>
    </table>

</div>-->
<div class="form-group" >
    <label class="col-sm-2 control-label">banner图片</label>
    <div class="col-sm-3">
       <span class="btn btn-success fileinput-button">
        <i class="glyphicon glyphicon-plus"></i>
        <span>Add files...</span>
        <!-- The file input field used as target for the file upload widget -->
        <input id="fileupload" type="file" name="files[]" data-url="/file/upload_ali" >
    </span>
        <!-- The global progress bar -->
        <div id="progress" class="progress">
            <div class="progress-bar progress-bar-success"></div>
        </div>
    </div>
    <div class="col-sm-4">
        <img id="banner_img_file_show" src="" style="width:100px;" alt="图片" class="img-rounded">
    </div>
</div>

</body>
</html>