<% layout("/WEB-INF/view/console/skins/skin_2/layout.html", {}) {
%>
<div class="row">
    <div class="col-md-12">
        <div class="widget-container fluid-height clearfix">
            <div class="widget-content padded clearfix">
                <div class='row'>
                    <div class='col-md-12'>
                        <form name="sysRole_form" id="sysRole_form" class='form-inline'>
                            <div class='form-group col-md-3' style='margin-top: 10px;'>
 <label title='角色名'  >角色名：</label>
 <input  onkeyup='enterToQuery(event);' type='text' class='form-control' id='roleName' name='roleName' placeholder=''>
 </div>
 <div class='form-group col-md-3' style='margin-top: 10px;'>
 <label title='状态' >状态：</label>
 <select class="form-control" id="status" name="status">
 <option  value="">请选择...</option>
 	<option  value="1">可用</option>
 	<option  value="0">不可用</option>
 </select>
 </div>
 <div class='form-group col-md-3' style='margin-top: 10px;'>
 <label title='上级角色ID'  >上级角色...：</label>
 <input  onkeyup='enterToQuery(event);' type='text' class='form-control' id='pid' name='pid' placeholder=''>
 </div>
 
                        </form>
                    </div>
                </div>
                <div class='row'>
                    <div align="center">
                        <button type='button' class='btn btn-default' id='querySearch'>查询</button>
                        <button type='button' class='btn btn-default' id='reset'>重置</button>
                    </div>
                </div>
                <div class='row'>
                    <div class='col-md-12'>
                        <table class='table table-condensed table-hover table-striped' id='sysRole'>
                            <thead>
                            <tr>
                             <th title='ID' data-column-id='roleId' data-identifier='true' data-type='numeric' data-visible='false'>id</th>
 <th title='角色名' data-column-id='roleName'>角色名</th>
 <th title='状态' data-column-id='status' data-formatter='status'>状态</th>
 <th title='上级角色ID' data-column-id='pid'>上级角色ID</th>
 <th title='创建时间' data-column-id='createTime'>创建时间</th>
  <th title='操作' data-column-id='sysRole_operation' data-formatter='sysRole_operation' data-sortable='false'>操作</th>
 
                            </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    /**
     * 回车查询时间绑定
     * @param event
     */
    function enterToQuery(event) {
        var e = event || window.event || arguments.callee.caller.arguments[0];
        if (e.keyCode == 13) {
            $('#querySearch').click();
        }
    }
    /*打开添加商品窗口*/
    function openAddFormWindow() {
        var height=$(window).height();
        var width=$(window).width();
        art.dialog({
            id: 'id-dialog-sysRole',
            title: '新建',
            padding: 0,
            fixed: true,
            content: '<iframe height="'+(height*0.8)+'px" width="'+(width*0.8)+'px" frameborder=0 src="${ctxPath}/console/sys_role/add"></iframe>'
        });
    }
    $(function($) {
        /*给重置按钮绑定时间*/
        $('#reset').click(function() {
            $('#sysRole_form').find('input,select').val('');
        });
        /**
         * 给搜索按钮绑定事件
         */
        $('#querySearch').click(function() {
            $("#sysRole").bootgrid('reload');
        });

        /*获取要查询字段的Json*/
        function getQueryString() {
            var objQuery = new Object();
                objQuery.roleName=$('#roleName').val()==''?null:$('#roleName').val(); 
 objQuery.status=$('#status').val()==''?null:$('#status').val(); 
 objQuery.pid=$('#pid').val()==''?null:$('#pid').val(); 
 
            var queryString = JSON.stringify(objQuery);
            return queryString;
        }

        /*初始化grid*/
        $("#sysRole")
                .bootgrid({
                    ajax : true,
                    selection : true,
                    multiSelect : true,
                    rowSelect : true,
                    keepSelection : true,
                    post : function() {
                        return {
                            table_name : "sysRole",
                            querys : getQueryString()
                        };
                    },
                    url : "${ctxPath}/console/sys_role/json",
                    formatters: {
                        "sysRole_operation": function(column, row)
                        {
                            return "<button type='button' class='btn btn-xs btn-default command-edit' onclick='openEditWindow("+row.roleId+")'><span class='glyphicon glyphicon-pencil'></span></button> ";
                        }
                           ,"status":function(column, row) 
   { 
       var showValue; 
       var value=row.status+''; 
       switch(value){
       case '1': 
       showValue = '可用';
       break;
       case '0': 
       showValue = '不可用';
       break;
       }
    if(showValue.indexOf('不')!=-1||showValue.indexOf('否')!=-1||showValue.indexOf('禁')!=-1){    
       return '<span class="label label-warning">'+showValue+'</span>';
   }else{
       return '<span class="label label-info">'+showValue+'</span>';
   }
   }

                    }
                })
                .on(
                "loaded.rs.jquery.bootgrid",
                function(e) {
                    $("#sysRole-header").find("#buttons_id").html(" <button type='button' onclick='openAddFormWindow();' class='btn btn-default'>新增</button> <button type='button' onclick='del();' class='btn btn-default'>删除</button> ");
                });
    });

    /*删除表格数据*/
    function del(){
        deleteData('sysRole');
    }
    /*打开编辑窗口*/
    function openEditWindow(id){
        var height=$(window).height();
        var width=$(window).width();
        art.dialog({
            id: 'id-dialog-sysRole',
            title: '编辑',
            padding: 0,
            fixed: true,
            content: '<iframe height="'+(height*0.8)+'px" width="'+(width*0.8)+'px" frameborder=0 src="${ctxPath}/console/sys_role/edit?id='+id+'"></iframe>'
        });
    }
    /*去删除数据*/
    function deleteData(table_id){
        var ids=$("#sysRole").bootgrid("getSelectedRows");
        if(ids.length==0){
            $.alert({
                title: '提示!',
                confirmButton:'确定',
                autoClose: 'confirm|1000',
                content: '请选择要删除的数据'
            });
        }else{
            $.confirm({
                keyboardEnabled: true,
                content: '是否删除？',
                title:"提示",
                animation:"scalex",
                confirmButton:"是",
                autoClose: 'cancel|5000',
                cancelButton:"否",
                confirm: function(){
                    $.post("${ctxPath}/console/sys_role/delete",{ids:ids.join(",")},function(data){
                        $("#sysRole").bootgrid('reload');
                    });
                }
            });
        }
    }
</script>
<%} %>
 