<!DOCTYPE html>
<html>
<head>
 <meta charset="utf-8">
 <title></title>
 <meta name="renderer" content="webkit">
 <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
 <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
 <meta name="apple-mobile-web-app-status-bar-style" content="black">
 <meta name="apple-mobile-web-app-capable" content="yes">
 <meta name="format-detection" content="telephone=no">
 <% include("/view/console/common/css.html"){}	%>
</head>
<body>
<div class="layui-header header header-doc">
 <div class="layui-main">
  <a class="logo" href="/">
   <img src="/plugin/layui-v1.0.9_rls/layui/images/logo.png" alt="layui">
  </a>
  <ul class="layui-nav" pc="">
   ${session.firstNavHtml!}
   <!--class="layui-nav-item layui-this-->
   <li class="layui-nav-item">
    <a href="${ctxPath}/console/sys_user/base">${session.user.userNickName!}</a>
   </li>
   <span class="layui-nav-bar" style="left: 44px; top: 55px; width: 0px; opacity: 0;"></span></ul>
 </div>
</div>
<div class="layui-main site-inline">
 <div class="site-tree">
  <ul class="layui-nav layui-nav-tree">
   ${session.nav!}
  </ul>
 </div>
 <div class="site-content">
  ${html!}
 </div>
</div>
<% include("/view/console/common/js.html"){} 	%>
${js!}
</body>
</html>