<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
 <html>
 <head>
 <meta http-equiv="X-UA-Compatible" content="IE=edge">  
 <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
 <%
 include("/WEB-INF/view/console/common/css.html"){}
 	%>
   <%
 	include("/WEB-INF/view/console/common/js.html"){}
 	%>
 <title></title>
 </head>
 <body> <nav class="navbar navbar-default navbar-fixed-top site-navbar" >
 
  <div class="navbar-header"> 
 <a class="navbar-brand" href="#">brand_info表单信息</a> 
 
   </div>
  </nav>
 <form name="brand_info_form"  id="brand_info_form" class="form-horizontal" style="margin-top: 60px;">
 <div class="form-group" >
 <label for="xm" class="col-sm-2 control-label"></label>
 <div class="col-sm-6">
 <label class="control-label">${brand_info.brand_id!}</label>
 </div>
  </div>
 <div class="form-group" >
 <label for="xm" class="col-sm-2 control-label">企业ID</label>
 <div class="col-sm-6">
 <label class="control-label">${brand_info.company_id!}</label>
 </div>
  </div>
 <div class="form-group" >
 <label for="xm" class="col-sm-2 control-label">品牌名称</label>
 <div class="col-sm-6">
 <label class="control-label">${brand_info.name!}</label>
 </div>
  </div>
 <div class="form-group" >
 <label for="xm" class="col-sm-2 control-label">品牌logo_img</label>
 <div class="col-sm-6">
 <label class="control-label">${brand_info.logo!}</label>
 </div>
  </div>
 <div class="form-group" >
 <label for="xm" class="col-sm-2 control-label">创建时间</label>
 <div class="col-sm-6">
 <label class="control-label">${brand_info.create_time!}</label>
 </div>
  </div>
 <div class="form-group" >
 <label for="xm" class="col-sm-2 control-label">状态</label>
 <div class="col-sm-6">
 <label><input disabled='disabled' checked='checked' auto_name='brand_infostatus' type="radio"  name="status" value="1"/>可用</label>
 <label><input disabled='disabled'  auto_name='brand_infostatus' type="radio"  name="status" value="0"/>不可用</label>
  
 </div>
  </div>
 	<script type="text/javascript">
 $(function($){
 $('input[auto_name="brand_infostatus"]').each(function(){
 if('${brand_info.status!}'==this.value){ 
     $(this).attr('checked','checked');
  }
 });
 	});
 	</script> 
 <div class="form-group" >
 <label for="xm" class="col-sm-2 control-label">品牌简介</label>
 <div class="col-sm-8">
 <label class="control-label">${brand_info.remark!}</label>
 </div>
  </div>
  <div class="form-group" style="margin-bottom: 60px;"></div>
 </form>
 </body>
 