<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
 <html>
 <head>
 <meta http-equiv="X-UA-Compatible" content="IE=edge">  
 <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
 <%
 include("/WEB-INF/view/console/common/css.html"){}
 	%>
   <%
 	include("/WEB-INF/view/console/common/js.html"){}
 	%>
 <title></title>
 </head>
 <body> <nav class="navbar navbar-default navbar-fixed-top site-navbar" >
   <div class="container"> 
  <div class="navbar-header"> 
 <a class="navbar-brand" href="#">common_region表单信息</a> 
 </div> 
   </div>
  </nav>
 <form name="common_region_form"  id="common_region_form" class="form-horizontal" style="margin-top: 60px;">
 <div class="form-group" >
 <label for="xm" class="col-sm-2 control-label">上级ID</label>
 <div class="col-sm-6">
 <input  type="text"  name="pid" id="pid" class="form-control" check-type="required number" value='${common_region.pid!}' >
 </div>
  </div>
 <div class="form-group" >
 <label for="xm" class="col-sm-2 control-label">城市名称</label>
 <div class="col-sm-6">
 <input  type="text"  name="name" id="name" class="form-control" check-type="required" value='${common_region.name!}' >
 </div>
  </div>
 <div class="form-group" >
 <label for="xm" class="col-sm-2 control-label">排序</label>
 <div class="col-sm-6">
 <input  type="text"  name="sort" id="sort" class="form-control" check-type="required number" value='${common_region.sort!}' >
 </div>
  </div>
 <div class="form-group" >
 <label for="xm" class="col-sm-2 control-label">级别</label>
 <div class="col-sm-6">
 <input  type="text"  name="level" id="level" class="form-control" check-type="required number" value='${common_region.level!}' >
 </div>
  </div>
 <input type='hidden' name='id' id='id' value='${common_region.id!}'>
 <input type='hidden' name='common_token' id='common_token' value='${common_token!}'>
  <div class="form-group" style="margin-bottom: 60px;"></div>
 </form>
 <script type="text/javascript"> 
 	$(function($) { 
 	$("#common_region_form").validation();
 }); 
 function saveZqForm(){  
 if ($("#common_region_form").valid() == false) { 
 	return false;  
 }
 var formObject=new Object();
 formObject.pid=(common_region_form.pid.value==''?null:common_region_form.pid.value); 
 formObject.name=(common_region_form.name.value==''?null:common_region_form.name.value); 
 formObject.sort=(common_region_form.sort.value==''?null:common_region_form.sort.value); 
 formObject.level=(common_region_form.level.value==''?null:common_region_form.level.value); 
 formObject.id=(common_region_form.id.value==''?null:common_region_form.id.value); 
 var formObjectJson = JSON.stringify(formObject);
 $.post("${ctxPath}/sunarvr/console/common_region/save", {  
 	formObjectJson :formObjectJson,
 	table_name :'common_region',  
 	common_token :$("#common_token").val()  
 }, function(data) {
  $.alert({ 
 	    title: '提示', 
 	    content: data, 
 	    backgroundDismiss: false, 
 	    confirmButton:"确定", 
 	    autoClose: 'confirm|2000', 
 		    confirm: function(){ 
   parent.$('#common_region').bootgrid('reload');  
  parent.art.dialog.get('id-dialog-common_region').close();  
 		    } 
 		}); 
 });
 } 
 </script>  
 <nav class="navbar navbar-default navbar-fixed-bottom site-navbar" >
  <div class="container" style="padding-top:10px;padding-bottom:10px;">
 <div class="nav navbar-nav navbar-right">
 <a href="#" class="btn btn-success"  onclick='saveZqForm()'>保存 </a>
  </div>
  </div>
   </nav>
 </body>
 