<% table_layout("/WEB-INF/view/console/skins/${table_skin}/layout.html", {}) { 
 %>
 <div class="row">
 	<div class="col-md-12">
 <div class="widget-container fluid-height clearfix">
 <div class="widget-content padded clearfix">
 <div class='row'>
 <div class='col-md-12'>
 <form name="common_region_form" id="common_region_form" class='form-inline'>
 <div class='form-group col-md-3' style='margin-top: 10px;'>
 <label title=''   for='id'>：</label>
 <input  onkeyup='enterToQuery(event);' type='text' class='form-control' id='id' name='id' placeholder=''>
 </div>
 <div class='form-group col-md-3' style='margin-top: 10px;'>
 <label title='上级ID'   for='pid'>上级ID：</label>
 <input  onkeyup='enterToQuery(event);' type='text' class='form-control' id='pid' name='pid' placeholder=''>
 </div>
 <div class='form-group col-md-3' style='margin-top: 10px;'>
 <label title='城市名称'   for='name'>城市名称：</label>
 <input  onkeyup='enterToQuery(event);' type='text' class='form-control' id='name' name='name' placeholder=''>
 </div>
 <div class='form-group col-md-3' style='margin-top: 10px;'>
 <label title='排序'   for='sort'>排序：</label>
 <input  onkeyup='enterToQuery(event);' type='text' class='form-control' id='sort' name='sort' placeholder=''>
 </div>
 <div class='form-group col-md-3' style='margin-top: 10px;'>
 <label title='级别'   for='level'>级别：</label>
 <input  onkeyup='enterToQuery(event);' type='text' class='form-control' id='level' name='level' placeholder=''>
 </div>
 </form>
 </div>
 </div>
 <div class='row'>
 <div align="center">
 <button type='button' class='btn btn-default' id='querySearch'>查询</button>
 <button type='button' class='btn btn-default' id='reset'>重置</button>
 </div>
 </div>
 <div class='row'>
 <div class='col-md-12'>
 <table class='table table-condensed table-hover table-striped' id='common_region'>
 <thead>
 <tr>
 <th title='' data-column-id='id' data-identifier='true' data-type='numeric' data-visible='false'>id</th>
 <th title='上级ID' data-column-id='pid'>上级ID</th>
 <th title='城市名称' data-column-id='name'>城市名称</th>
 <th title='排序' data-column-id='sort'>排序</th>
 <th title='级别' data-column-id='level'>级别</th>
  <th title='操作' data-column-id='common_region_operation' data-formatter='common_region_operation' data-sortable='false'>操作</th>
 </tr>
 </thead>
 </table>
 </div>
 </div>
 </div>
 </div>
 </div>
 </div>
 <script type="text/javascript">
 function enterToQuery(event) {
  var e = event || window.event || arguments.callee.caller.arguments[0];
 if (e.keyCode == 13) {
     $('#querySearch').click();
 }
  }
  function openAddFormWindow() {
   var height=$(window).height();
   var width=$(window).width();
  art.dialog({
 id: 'id-dialog-common_region', 
  title: '新建',
   padding: 0,
  fixed: true,
     content: '<iframe height="'+(height*0.8)+'px" width="'+(width*0.8)+'px" frameborder=0 src="${ctxPath}/sunarvr/console/common_region/add"></iframe>'
   });
  }
  $(function($) {
 $('#reset').click(function() {
     $('#common_region_form').find('input,select').val('');
 	});
 $('#querySearch').click(function() {
     $("#common_region").bootgrid('reload');
 });
 function getQueryString() {
     var objQuery = new Object();
  objQuery.id = $('#id').val();
  objQuery.pid = $('#pid').val();
  objQuery.name = $('#name').val();
  objQuery.sort = $('#sort').val();
  objQuery.level = $('#level').val();
     var queryString = JSON.stringify(objQuery);
     return queryString;
 }
 $("#common_region")
 	.bootgrid({
     ajax : true,
     selection : true,
     multiSelect : true,
     rowSelect : true,
     keepSelection : true,
    post : function() {
 	return {
     table_name : "common_region",
 	    querys : getQueryString()
 	};
     },
     url : "${ctxPath}/sunarvr/console/common_region/json",
    formatters: {
      "common_region_operation": function(column, row)
      {
          return "<button type='button' class='btn btn-xs btn-default command-edit' onclick='openEditWindow("+row.id+")'><span class='glyphicon glyphicon-pencil'></span></button><button type='button' class='btn btn-xs btn-default' onclick='openReadWindow("+row.id+")'><span class='glyphicon glyphicon-search'></span></button> ";
      }
  }
 })
 .on(
 	"loaded.rs.jquery.bootgrid",
 	function(e) {
 	    $("#common_region-header").find("#buttons_id").html(" <button type='button' onclick='openAddFormWindow();' class='btn btn-default'>新增</button><button type='button' onclick='del();' class='btn btn-default'>删除</button> ");
 	});
 });
   function del(){
       deleteData('common_region');
   }
 function openReadWindow(id){
   var height=$(window).height();
      var width=$(window).width();
    art.dialog({
    id: 'id-dialog-common_region', 
     title: '查看',
     padding: 0,
     fixed: true,
        content: '<iframe height="'+(height*0.8)+'px" width="'+(width*0.8)+'px" frameborder=0 src="${ctxPath}/sunarvr/console/common_region/read?id='+id+'"></iframe>'
     });
   }
 function openEditWindow(id){
   var height=$(window).height();
      var width=$(window).width();
    art.dialog({
    id: 'id-dialog-common_region', 
     title: '编辑',
     padding: 0,
     fixed: true,
        content: '<iframe height="'+(height*0.8)+'px" width="'+(width*0.8)+'px" frameborder=0 src="${ctxPath}/sunarvr/console/common_region/edit?id='+id+'"></iframe>'
     });
   }
 function deleteData(table_id){
 	var ids=$("#common_region").bootgrid("getSelectedRows");
 if(ids.length==0){
 $.alert({
    title: '提示!',
      confirmButton:'确定',
       autoClose: 'confirm|1000',
        content: '请选择要删除的数据'
     });
 }else{
     $.confirm({
         keyboardEnabled: true,
         content: '是否删除？',
         title:"提示",
         animation:"scalex",
        confirmButton:"是",
     autoClose: 'cancel|5000',
         cancelButton:"否",
 	        confirm: function(){
         	$.post("${ctxPath}/sunarvr/console/common_region/delete",{ids:ids.join(",")},function(data){
 	       		 $("#common_region").bootgrid('reload');  
 	       	});
 	        }
     });
 	}
 	}
 </script>
 <%} %>
 