<% var html={ %>
<div class="row">
    <div class="col-md-12">
        <div class="widget-container fluid-height clearfix">
            <div class="widget-content padded clearfix">
                <div class='row'>
                    <div class='col-md-12'>
                        <form name="sysRole_form" id="sysRole_form" class='form-inline'>
                            <div class='form-group col-md-4 col-xs-6' style='margin-top: 10px;'>
 <label title='角色名'  >角色名：</label>
 <input  onkeyup='sysRoleConsoleGrid.enterToQuery(event);' type='text' class='form-control' id='roleName' name='roleName' placeholder=''>
 </div>
 <div class='form-group col-md-4 col-xs-6' style='margin-top: 10px;'>
 <label title='状态' >状态：</label>
 <select class="form-control" id="status" name="status">
 <option  value="">请选择...</option>
 	<option  value="0">禁用</option>
 	<option  value="1">可用</option>
 </select>
 </div>

                        </form>
                    </div>
                </div>
                <div class='row'>
                    <div align="center">
                        <button type='button' class='btn btn-default' id='sysRoleQuerySearch'>查询</button>
                        <button type='button' class='btn btn-default' id='sysRoleReset'>重置</button>
                    </div>
                </div>
                 <div id="sysRoleToolbar" class="btn-group">
                              <button type="button" class="btn btn-default" onclick="consoleOpenWindow('sysRole','${ctxPath}/console/sys_role/add','新增')">
                                  <i class="glyphicon glyphicon-plus"></i>
                              </button>
                              <button type="button" class="btn btn-default" onclick='sysRoleConsoleGrid.delete("roleId","${ctxPath}/console/sys_role/delete");'>
                                  <i class="glyphicon glyphicon-trash"></i>
                              </button>
                 </div>
                     <div class='row'>
                              <div class='col-md-12'>
                                  <table id="sysRole" data-toggle="table"
                                         data-url="${ctxPath}/console/sys_role/json"
                                         data-pagination="true"
                                         data-query-params="sysRoleLoadParam"
                                         method="post"
                                         data-side-pagination="server"
                                         data-show-refresh="true"
                                         data-show-toggle="true"
                                         data-pagination-loop="false"
                                         data-show-columns="true"
                                         data-toolbar="#sysRoleToolbar">
                                      <thead>
                                      <tr>
                                           <th data-checkbox="true"></th>
                                            <th data-field='roleId' data-visible='false'>ID</th>
  <th data-sortable='true' data-field='roleName'>角色名</th>
  <th data-field='status' data-sortable='true' data-formatter='sysRolestatusFormatter'>状态</th>
  <th data-sortable='true' data-field='createTime' data-formatter="consoleTableDateFormat">创建时间</th>
  <th data-field='roleId' data-formatter='sysRoleTableOperate'>操作</th>
 
                                      </tr>
                                      </thead>
                                  </table>
                              </div>
                     </div>
            </div>
        </div>
    </div>
</div>
<% }; %>
<% var js={ %>
<script type="text/javascript">
    layui.use(['layer','laydate'], function(){

    });

    var sysRoleConsoleGrid =new consoleGrid({table_id:"sysRole"});
     sysRoleConsoleGrid.init();
     function sysRoleTableOperate(value){
         return "<button type='button' class='btn btn-xs btn-default command-edit' onclick='consoleOpenWindow(\"sysRole\",\"${ctxPath}/console/sys_role/edit?id="+value+"\",\"编辑\")'><span class='glyphicon glyphicon-pencil'></span></button> <button type='button' class='btn btn-xs btn-default command-edit' onclick='navAccredit(\""+value+"\")'>菜单授权</button>  <button type='button' class='btn btn-xs btn-default command-edit' onclick='reqAccredit(\""+value+"\")'>请求授权</button> ";
     }

     function navAccredit(id){
         consoleOpenWindow('navAccredit',"${ctxPath}/console/sys_role/nav_accredit/"+id,'授权');

     }

     function reqAccredit(id){
         consoleOpenWindow('reqAccredit',"${ctxPath}/console/sys_role/req_accredit/"+id,'授权');
     }

    function sysRoleLoadParam(params){
        params.query=sysRoleQueryString();
        return params;
    }
     function sysRoleQueryString() {
         var objQuery = new Object();
                objQuery.roleName=$('#roleName').val()==''?null:$('#roleName').val(); 
     objQuery.status=$('#status').val()==''?null:$('#status').val(); 
     objQuery.pid=$('#pid').val()==''?null:$('#pid').val(); 
 
         var queryString = JSON.stringify(objQuery);
         return queryString;
     }

     function sysRolestatusFormatter(value) 
   { 
       var showValue; 
       switch(value+''){
       case '0': 
       showValue = '禁用';
       break;
       case '1': 
       showValue = '可用';
       break;
       }
    if(showValue.indexOf('不')!=-1||showValue.indexOf('否')!=-1||showValue.indexOf('禁')!=-1){    
       return '<span class="label label-warning">'+showValue+'</span>';
   }else{
       return '<span class="label label-info">'+showValue+'</span>';
   }
   }

 </script>
<% }; %>
<% layout("/view/console/skins/skin_2/layout.html", {js:js,html:html}) {} %>
 