<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
 <html>
 <head>
 <meta http-equiv="X-UA-Compatible" content="IE=edge">  
 <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
 <%
 include("/WEB-INF/view/console/common/css.html"){}
 	%>
   <%
 	include("/WEB-INF/view/console/common/js.html"){}
 	%>
 <title></title>
 </head>
 <body> <nav class="navbar navbar-default navbar-fixed-top site-navbar" >
  <div class="navbar-header"> 
 <a class="navbar-brand" href="#">详情</a> 
   </div>
  </nav>
 <form name="common_banner_form"  id="common_banner_form" class="form-horizontal" style="margin-top: 60px;">
 <div class="form-group" >
 <label for="xm" class="col-sm-2 control-label">Banner题目</label>
 <div class="col-sm-6">
 <label class="control-label">${common_banner.title!}</label>
 </div>
  </div>
 <div class="form-group" >
 <label for="xm" class="col-sm-2 control-label">banner图片_img</label>
 <div class="col-sm-6">
 <label class="control-label">${common_banner.banner_img!}</label>
 </div>
  </div>
 <div class="form-group" >
 <label for="xm" class="col-sm-2 control-label">目标地址</label>
 <div class="col-sm-6">
 <label class="control-label">${common_banner.target!}</label>
 </div>
  </div>
 <div class="form-group">
 <label for="cemail" class="control-label col-sm-2">跳转类型</label>
 <div class="col-sm-6">
 	<select class="form-control" disabled='disabled' id="target_type"
 		name="target_type" check-type="required">
 	<option selected='selected' value="站位">站位</option>
 </select>
 </div>
 </div>
 	<script type="text/javascript">
   $(function($) {
 	$("#target_type").val("${common_banner.target_type!}");
 	if('${common_banner.target_type!}'==''){
 	    $("#target_type").val('站位');
 	}
    });
 	</script>
 <div class="form-group">
 <label for="cemail" class="control-label col-sm-2">Banner类型</label>
 <div class="col-sm-6">
 	<select class="form-control" disabled='disabled' id="type"
 		name="type" check-type="required">
 	<option selected='selected' value="站位">站位</option>
 </select>
 </div>
 </div>
 	<script type="text/javascript">
   $(function($) {
 	$("#type").val("${common_banner.type!}");
 	if('${common_banner.type!}'==''){
 	    $("#type").val('站位');
 	}
    });
 	</script>
 <div class="form-group" >
 <label for="xm" class="col-sm-2 control-label">创建时间</label>
 <div class="col-sm-6">
 <label class="control-label">${common_banner.create_time!}</label>
 </div>
  </div>
 <div class="form-group" >
 <label for="xm" class="col-sm-2 control-label">排序</label>
 <div class="col-sm-6">
 <label class="control-label">${common_banner.sort!}</label>
 </div>
  </div>
 <div class="form-group" >
 <label for="xm" class="col-sm-2 control-label">状态</label>
 <div class="col-sm-6">
 <label class="control-label">${common_banner.status!}</label>
 </div>
  </div>
  <div class="form-group" style="margin-bottom: 60px;"></div>
 </form>
 </body>
 