<% include("/view/front/head.html",{title:"联系我们"}){}	%>
<div class="banner">

	<!-- banner -->
	<% include("/view/front/nav.html"){}	%>
		<!-- banner-slider -->
		<div class="jarallax about-banner">
			<div class="container">
				<div class="agileits-heading about-heading">
					<h2>联系我们</h2>
				</div>
			</div>
		</div>	
		<!-- //banner-slider -->
	</div>
	<!-- //banner -->
	<!-- contact -->
	<div class="contact">
		<div class="container">
			<div class="map-grid">
				<iframe width='560px' height='440px'   frameborder='0' scrolling='no' marginheight='0' marginwidth='0' src='https://yuntu.amap.com/share/eQF3Qn'></iframe>
			</div>
			<div class="address">
				<div class="col-sm-4 address-grids">
					<h4>公司地址 :</h4>
					<p>Eiusmod Tempor inc<br>
						<span>St Dolore Place,</span>
						San Francisco 56777
					</p>	
				</div>
				<div class="col-sm-4 address-grids">
					<h4>联系电话 :</h4>
					<p>+2 123 456 789</p>
					<p>+2 987 654 321</p>
				</div>
				<div class="col-sm-4 address-grids">
					<h4>公司邮箱 :</h4>
					<p><a href="mailto:example@email.com">mail@example.com</a></p>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="contact-form">
				<h4>联系我们</h4>
				<div class="contact-form-grid">
					<form action="/contact/send" id="form" method="post">
						<div class="fields-grid">
							<div class="styled-input agile-styled-input-top">
								<input type="text" name="linkName" required="">
								<label>联系人</label>
								<span></span>
							</div>
							<div class="styled-input agile-styled-input-top">
								<input type="text" name="linkPhone" required="">
								<label>电话</label>
								<span></span>
							</div>
							<div class="styled-input">
								<input type="text" name="linkMail" required="">
								<label>邮箱</label>
								<span></span>
							</div> 
							<div class="styled-input">
								<input type="text" name="linkSub" required="">
								<label>主题</label>
								<span></span>
							</div>
							<div class="clearfix"> </div>
						</div>
						<div class="styled-input textarea-grid">
							<textarea name="linkContent" required=""></textarea>
							<label>内容</label>
							<span></span>
						</div>
						<input type="submit"   value="发送">
					</form>
				</div>
			</div>
		</div>
	</div>
<script>
	$(function () {
	$("#form").submit(function () {
		alert(1);
    })
    })
</script>
	<!-- //contact -->
<% include("/view/front/foot.html"){}	%>