<!-- //newsletter -->
<!-- footer -->
<div class="footer">
    <div class="footer-top">
        <div class="container">
            <div class="footer-grids">
                <div class="col-md-3 footer-grid">
                    <div class="footer-logo">
                        <h4><a href="index.html" tppabs="./index.html">模板<span>网站</span></a></h4>
                        <p>懒人专属</p>
                    </div>
                </div>
                <div class="col-md-3 footer-grid">
                    <!--<h3>Navigation</h3>-->
                    <!--<ul>-->
                    <!--<li> <a href="about.html" tppabs="./about.html">About</a> </li>-->
                    <!--<li> <a href="gallery.html" tppabs="./gallery.html">Gallery</a> </li>-->
                    <!--<li> <a href="icons.html" tppabs="./icons.html">Icons</a> </li>-->
                    <!--<li> <a href="codes.html" tppabs="./codes.html">Short Codes</a> </li>-->
                    <!--<li> <a href="contact.html" tppabs="./contact.html">Contact</a> </li>-->
                    <!--</ul>-->
                </div>
                <div class="col-md-3 footer-list">
                    <ul>
                        <li><img src="" width="100px;"></li>
                        <li>测试</li>
                    </ul>
                </div>
                <div class="col-md-3 agile-footer-grid">
                    <!--<h3>Twitter Posts</h3>
                    <ul class="w3agile_footer_grid_list">
                        <li>Ut aut reiciendis voluptatibus <a href="#">http://example.com</a> alias, ut aut.
                            <span><i class="fa fa-twitter" aria-hidden="true"></i> 02 days ago</span></li>
                        <li>Itaque earum rerum hic tenetur a sapiente <a href="#">http://example.com</a> ut aut.
                        <span><i class="fa fa-twitter" aria-hidden="true"></i> 03 days ago</span></li>
                    </ul>-->
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
</div>
<!-- //footer -->
<!-- copyright -->
<div class="copyright">
    <div class="container">
        <p>Copyright &copy; 2018.网站站位 All rights reserved.陕ICP备18007360号</p>    </div>
</div>

</body>
</html>