<% include("/view/front/head.html",{title:"案例简介"}){}	%>
	<!-- banner -->
	<div class="banner">
		<% include("/view/front/nav.html"){}	%>
		<!-- banner-slider -->
		<div class="jarallax about-banner">
			<div class="container">
				<div class="agileits-heading about-heading">
					<h2>案例简介</h2>
				</div>
			</div>
		</div>	
		<!-- //banner-slider -->
	</div>
	<!-- //banner -->
	<!-- gallery -->
	<div class="gallery-grids">
		<div class="container">
			<div class="show-reel">
				<div class="col-md-3 agile-gallery-grid">
					<div class="agile-gallery">
						<a href="/view/front/images/7.jpg" tppabs="http://demo.sc.chinaz.com/Files/DownLoad/moban/201705/moban2133/images/7.jpg" class="lsb-preview" data-lsb-group="header">
							<img src="/view/front/images/7.jpg" tppabs="http://demo.sc.chinaz.com/Files/DownLoad/moban/201705/moban2133/images/7.jpg" alt="" />
							<div class="agileits-caption">
								<h4>Consectetur</h4>
								<p>Sed ultricies non sem sit amet laoreet. Ut semper erat erat.</p>
							</div>
						</a>
					</div>
				</div>
				<div class="col-md-3 agile-gallery-grid">
					<div class="agile-gallery">
						<a href="/view/front/images/6.jpg" tppabs="http://demo.sc.chinaz.com/Files/DownLoad/moban/201705/moban2133/images/6.jpg" class="lsb-preview" data-lsb-group="header">
							<img src="/view/front/images/6.jpg" tppabs="http://demo.sc.chinaz.com/Files/DownLoad/moban/201705/moban2133/images/6.jpg" alt="" />
							<div class="agileits-caption">
								<h4>Consectetur</h4>
								<p>Sed ultricies non sem sit amet laoreet. Ut semper erat erat.</p>
							</div>
						</a>
					</div>
				</div>
				<div class="col-md-3 agile-gallery-grid">
					<div class="agile-gallery">
						<a href="/view/front/images/4.jpg" tppabs="http://demo.sc.chinaz.com/Files/DownLoad/moban/201705/moban2133/images/4.jpg" class="lsb-preview" data-lsb-group="header">
							<img src="/view/front/images/4.jpg" tppabs="http://demo.sc.chinaz.com/Files/DownLoad/moban/201705/moban2133/images/4.jpg" alt="" />
							<div class="agileits-caption">
								<h4>Consectetur</h4>
								<p>Sed ultricies non sem sit amet laoreet. Ut semper erat erat.</p>
							</div>
						</a>
					</div>
				</div>
				<div class="col-md-3 agile-gallery-grid">
					<div class="agile-gallery">
						<a href="/view/front/images/8.jpg" tppabs="http://demo.sc.chinaz.com/Files/DownLoad/moban/201705/moban2133/images/8.jpg" class="lsb-preview" data-lsb-group="header">
							<img src="/view/front/images/8.jpg" tppabs="http://demo.sc.chinaz.com/Files/DownLoad/moban/201705/moban2133/images/8.jpg" alt="" />
							<div class="agileits-caption">
								<h4>Consectetur</h4>
								<p>Sed ultricies non sem sit amet laoreet. Ut semper erat erat.</p>
							</div>
						</a>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="show-reel">
				<div class="col-md-3 agile-gallery-grid">
					<div class="agile-gallery">
						<a href="/view/front/images/5.jpg" tppabs="http://demo.sc.chinaz.com/Files/DownLoad/moban/201705/moban2133/images/5.jpg" class="lsb-preview" data-lsb-group="header">
							<img src="/view/front/images/5.jpg" tppabs="http://demo.sc.chinaz.com/Files/DownLoad/moban/201705/moban2133/images/5.jpg" alt="" />
							<div class="agileits-caption">
								<h4>Consectetur</h4>
								<p>Sed ultricies non sem sit amet laoreet. Ut semper erat erat.</p>
							</div>
						</a>
					</div>
				</div>
				<div class="col-md-3 agile-gallery-grid">
					<div class="agile-gallery">
						<a href="/view/front/images/13.jpg" tppabs="http://demo.sc.chinaz.com/Files/DownLoad/moban/201705/moban2133/images/13.jpg" class="lsb-preview" data-lsb-group="header">
							<img src="/view/front/images/13.jpg" tppabs="http://demo.sc.chinaz.com/Files/DownLoad/moban/201705/moban2133/images/13.jpg" alt="" />
							<div class="agileits-caption">
								<h4>Consectetur</h4>
								<p>Sed ultricies non sem sit amet laoreet. Ut semper erat erat.</p>
							</div>
						</a>
					</div>
				</div>
				<div class="col-md-3 agile-gallery-grid">
					<div class="agile-gallery">
						<a href="/view/front/images/7.jpg" tppabs="http://demo.sc.chinaz.com/Files/DownLoad/moban/201705/moban2133/images/7.jpg" class="lsb-preview" data-lsb-group="header">
							<img src="/view/front/images/7.jpg" tppabs="http://demo.sc.chinaz.com/Files/DownLoad/moban/201705/moban2133/images/7.jpg" alt="" />
							<div class="agileits-caption">
								<h4>Consectetur</h4>
								<p>Sed ultricies non sem sit amet laoreet. Ut semper erat erat.</p>
							</div>
						</a>
					</div>
				</div>
				<div class="col-md-3 agile-gallery-grid">
					<div class="agile-gallery">
						<a href="/view/front/images/6.jpg" tppabs="http://demo.sc.chinaz.com/Files/DownLoad/moban/201705/moban2133/images/6.jpg" class="lsb-preview" data-lsb-group="header">
							<img src="/view/front/images/6.jpg" tppabs="http://demo.sc.chinaz.com/Files/DownLoad/moban/201705/moban2133/images/6.jpg" alt="" />
							<div class="agileits-caption">
								<h4>Consectetur</h4>
								<p>Sed ultricies non sem sit amet laoreet. Ut semper erat erat.</p>
							</div>
						</a>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="show-reel">
				<div class="col-md-3 agile-gallery-grid">
					<div class="agile-gallery">
						<a href="/view/front/images/4.jpg" tppabs="http://demo.sc.chinaz.com/Files/DownLoad/moban/201705/moban2133/images/4.jpg" class="lsb-preview" data-lsb-group="header">
							<img src="/view/front/images/4.jpg" tppabs="http://demo.sc.chinaz.com/Files/DownLoad/moban/201705/moban2133/images/4.jpg" alt="" />
							<div class="agileits-caption">
								<h4>Consectetur</h4>
								<p>Sed ultricies non sem sit amet laoreet. Ut semper erat erat.</p>
							</div>
						</a>
					</div>
				</div>
				<div class="col-md-3 agile-gallery-grid">
					<div class="agile-gallery">
						<a href="/view/front/images/8.jpg" tppabs="http://demo.sc.chinaz.com/Files/DownLoad/moban/201705/moban2133/images/8.jpg" class="lsb-preview" data-lsb-group="header">
							<img src="/view/front/images/8.jpg" tppabs="http://demo.sc.chinaz.com/Files/DownLoad/moban/201705/moban2133/images/8.jpg" alt="" />
							<div class="agileits-caption">
								<h4>Consectetur</h4>
								<p>Sed ultricies non sem sit amet laoreet. Ut semper erat erat.</p>
							</div>
						</a>
					</div>
				</div>
				<div class="col-md-3 agile-gallery-grid">
					<div class="agile-gallery">
						<a href="/view/front/images/5.jpg" tppabs="http://demo.sc.chinaz.com/Files/DownLoad/moban/201705/moban2133/images/5.jpg" class="lsb-preview" data-lsb-group="header">
							<img src="/view/front/images/5.jpg" tppabs="http://demo.sc.chinaz.com/Files/DownLoad/moban/201705/moban2133/images/5.jpg" alt="" />
							<div class="agileits-caption">
								<h4>Consectetur</h4>
								<p>Sed ultricies non sem sit amet laoreet. Ut semper erat erat.</p>
							</div>
						</a>
					</div>
				</div>
				<div class="col-md-3 agile-gallery-grid">
					<div class="agile-gallery">
						<a href="/view/front/images/13.jpg" tppabs="http://demo.sc.chinaz.com/Files/DownLoad/moban/201705/moban2133/images/13.jpg" class="lsb-preview" data-lsb-group="header">
							<img src="/view/front/images/13.jpg" tppabs="http://demo.sc.chinaz.com/Files/DownLoad/moban/201705/moban2133/images/13.jpg" alt="" />
							<div class="agileits-caption">
								<h4>Consectetur</h4>
								<p>Sed ultricies non sem sit amet laoreet. Ut semper erat erat.</p>
							</div>
						</a>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
			<script>
				$(function () {
				  $.fn.lightspeedBox();
				});

			</script>
		</div>
	</div>
<% include("/view/front/foot.html"){}	%>