<% include("/view/front/head.html",{title:"首页"}){}	%>
<div class="banner">
	<% include("/view/front/nav.html"){}	%>
	<!-- banner-slider -->
	<div class="banner-slider">
		<div class="slider">
			<div class="callbacks_container">
				<ul class="rslides callbacks callbacks1" id="slider4">
					<li>
						<div class="jarallax agileits-banner-info" style="background: url('/front/1.jpg')">
							<div class="container">
								<div class="w3ls-banner-shadow">
									<h3>站位图</h3>
									<p>网站站位</p>
								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="jarallax agileits-banner-info" style="background: url('/front/2.jpg')">
							<div class="container">
								<div class="w3ls-banner-shadow">
									<h3>站位图</h3>
									<p>网站站位</p>
								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="jarallax agileits-banner-info" style="background: url('/front/3.jpg')">
							<div class="container">
								<div class="w3ls-banner-shadow">
									<h3>站位图</h3>
									<p>网站站位</p>
								</div>
							</div>
						</div>
					</li>
				</ul>
			</div>
			<div class="clearfix"> </div>
			<script src="/view/front/js/responsiveslides.min.js" ></script>
			<script>
                // You can also use "$(window).load(function() {"
                $(function () {
                    // Slideshow 4
                    $("#slider4").responsiveSlides({
                        auto: true,
                        pager:true,
                        nav:false,
                        speed: 500,
                        namespace: "callbacks",
                        before: function () {
                            $('.events').append("<li>before event fired.</li>");
                        },
                        after: function () {
                            $('.events').append("<li>after event fired.</li>");
                        }
                    });

                });
			</script>
			<!--banner Slider starts Here-->
		</div>
	</div>
	<!-- //banner-slider -->
</div>
<!-- //banner -->
<!-- welcome -->
<div class="welcome">
	<div class="container">
		<div class="agileits-heading">
			<h2>网站站位</h2>
		</div>
		<div class="bs-example bs-example-tabs welcome-tabs" role="tabpanel" data-example-id="togglable-tabs">
			<!--<ul id="myTab" class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#home" id="home-tab" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true">01</a></li>
                <li role="presentation" class=""><a href="#Feature1" role="tab" id="Feature1-tab" data-toggle="tab" aria-controls="Feature1" aria-expanded="false">02</a></li>
                <li role="presentation" class=""><a href="#Feature2" role="tab" id="Feature2-tab" data-toggle="tab" aria-controls="Feature2" aria-expanded="false">03</a></li>
                <li role="presentation" class=""><a href="#Feature3" role="tab" id="Feature3-tab" data-toggle="tab" aria-controls="Feature3" aria-expanded="false">04</a></li>
            </ul>-->
				<div id="myTabContent" class="tab-content">
					<div role="tabpanel" class="tab-pane fade active in" id="home" aria-labelledby="home-tab">
						<div class="w3agile_tabs">
							<div class="col-md-5 w3agile_tab_right w3agile_tab_right2">
								<img src="/front/4.jpg"  alt=" " class="img-responsive" />
							</div>
							<div class="col-md-7 w3agile_tab_left">
								<p>站位信息</p>
							</div>
							<div class="clearfix"> </div>
						</div>
					</div>
				</div>
		</div>
	</div>
</div>
<!-- //welcome-->
<!-- welcome-bottom -->
<div class="welcome-bottom" style="background: url('/front/6.jpg')">
	<div class="col-md-6 agile_banner_bottom1_right">
		<h3>站位栏目</h3>
        <p>站位信息</p>
        <div class="details">
			 <a href="#">查看更多</a>
		</div>
	</div>
	<div class="col-md-6">

	</div>
	<div class="clearfix"> </div>
</div>
<!-- welcome-bottom -->
<!-- services -->
<div class="services">
	<div class="container">
		<div class="agileits-heading">
			<h3>站位</h3>
		</div>
		<div class="agileinfo-services-grids">
			<div class="services-grids">
				<div class="col-md-6 services-grid">
					<div class="services-grid-left">
						<h4>站位</h4>
						<p>站位</p>
					</div>
					<div class="services-grid-right">
						<i class="fa fa-first-order" aria-hidden="true"></i>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="col-md-6 services-grid">
					<div class="services-grid-right aliquam">
						<i class="fa fa-envira" aria-hidden="true"></i>
					</div>
					<div class="services-grid-left non">
						<h4>站位</h4>
						<p>站位</p>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="services-grids w3layouts-agileinfo">
				<div class="col-md-6 services-grid">
					<div class="services-grid-left">
						<h4>站位</h4>
						<p>站位</p>
					</div>
					<div class="services-grid-right">
						<i class="fa fa-cog" aria-hidden="true"></i>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="col-md-6 services-grid">
					<div class="services-grid-right aliquam">
						<i class="fa fa-gears (alias)" aria-hidden="true"></i>
					</div>
					<div class="services-grid-left non">
						<h4>站位</h4>
						<p>站位</p>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="services-grids w3layouts-agileinfo" style="margin-top: 2em;">
				<div class="col-md-6 services-grid">
					<div class="services-grid-left">
						<h4>站位</h4>
						<p>站位</p>
					</div>
					<div class="services-grid-right">
						<i class="fa fa-flag-checkered" aria-hidden="true"></i>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
</div>
<script>

</script>
<% include("/view/front/foot.html"){}	%>
