<% include("/view/front/head.html",{title:"首页"}){}	%>
<div class="banner">
	<% include("/view/front/nav.html"){}	%>
	<!-- banner-slider -->
	<div class="banner-slider">
		<div class="slider">
			<div class="callbacks_container">
				<ul class="rslides callbacks callbacks1" id="slider4">
					<li>
						<div class="jarallax agileits-banner-info" style="background: url('/front/1.jpg')">
							<div class="container">
								<div class="w3ls-banner-shadow">
									<h3>展示图</h3>
									<p>数字农业</p>
								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="jarallax agileits-banner-info" style="background: url('/front/2.jpg')">
							<div class="container">
								<div class="w3ls-banner-shadow">
									<h3>展示图</h3>
									<p>数字农业</p>
								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="jarallax agileits-banner-info" style="background: url('/front/3.jpg')">
							<div class="container">
								<div class="w3ls-banner-shadow">
									<h3>展示图</h3>
									<p>数字农业</p>
								</div>
							</div>
						</div>
					</li>
				</ul>
			</div>
			<div class="clearfix"> </div>
			<script src="/view/front/js/responsiveslides.min.js" ></script>
			<script>
                // You can also use "$(window).load(function() {"
                $(function () {
                    // Slideshow 4
                    $("#slider4").responsiveSlides({
                        auto: true,
                        pager:true,
                        nav:false,
                        speed: 500,
                        namespace: "callbacks",
                        before: function () {
                            $('.events').append("<li>before event fired.</li>");
                        },
                        after: function () {
                            $('.events').append("<li>after event fired.</li>");
                        }
                    });

                });
			</script>
			<!--banner Slider starts Here-->
		</div>
	</div>
	<!-- //banner-slider -->
</div>
<!-- //banner -->
<!-- welcome -->
<div class="welcome">
	<div class="container">
		<div class="agileits-heading">
			<h2>数字农业</h2>
		</div>
		<div class="bs-example bs-example-tabs welcome-tabs" role="tabpanel" data-example-id="togglable-tabs">
			<!--<ul id="myTab" class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#home" id="home-tab" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true">01</a></li>
                <li role="presentation" class=""><a href="#Feature1" role="tab" id="Feature1-tab" data-toggle="tab" aria-controls="Feature1" aria-expanded="false">02</a></li>
                <li role="presentation" class=""><a href="#Feature2" role="tab" id="Feature2-tab" data-toggle="tab" aria-controls="Feature2" aria-expanded="false">03</a></li>
                <li role="presentation" class=""><a href="#Feature3" role="tab" id="Feature3-tab" data-toggle="tab" aria-controls="Feature3" aria-expanded="false">04</a></li>
            </ul>-->
				<div id="myTabContent" class="tab-content">
					<div role="tabpanel" class="tab-pane fade active in" id="home" aria-labelledby="home-tab">
						<div class="w3agile_tabs">
							<div class="col-md-5 w3agile_tab_right w3agile_tab_right2">
								<img src="/front/4.jpg"  alt=" " class="img-responsive" />
							</div>
							<div class="col-md-7 w3agile_tab_left">
								<p>新疆生产建设兵团石河子总场率属于国有企业，创建于 1950 年，最初承担屯垦戍边的使命。现如今是兵团最大的农牧团场，由 6 个行政营级单位组成，既肩负着发展经济的职责，还要履行维护社会稳定、巩固边防的使命；不仅要进行系统管理，而且承担大量的社会职能。数字农业是以“信息知识+智能装备”为特征，综合运用大数据、云计算、物联网、移动互联、对地观测与导航等新一代信息技术，对农业对象、环境和生产全过程进行可视化表达、数字化设计、信息化管理的一种农业形态，已成为当今世界现代农业发展的重要方向。在当前全面深化改革的形势下，石河子总场依据《农业部办公厅关于做好 2017 年数字农业建设试点项目前期工作的通知》相关要求，针对规模化棉花种植管理对提质增效、节本增效与环境保护的迫切需求，提出了兵团国家优质棉数字农业建设试点的项目建设，目标是建成国家级优质棉数字农业集成示范基地和示范平台，建立可持续运行的示范工程运行机制，形成可推广的优质棉数字农业发展模式，在我国西部地区和棉花生产领域起到引领示范作用，并服务于国家“一带一路”发展战略，相关技术与装备向周边国家辐射。</p>

							</div>
							<div class="clearfix"> </div>
						</div>
					</div>
				</div>
		</div>
	</div>
</div>
<!-- //welcome-->
<!-- welcome-bottom -->
<div class="welcome-bottom" style="background: url('/front/6.jpg')">
	<div class="col-md-6 agile_banner_bottom1_right">
		<h3>项目示范区</h3>
		<p>石河子总场项目示范区位于泉水地作业区，选择四分场的三连、六连为综合示范区，五连作为对比示范区，根据项目实施需要，已与新疆农垦科学院、石河子大学、北京大学、中国棉花研究所、中国农业大学、兵团北斗导航与精准农业应用产业技术创新战略联盟六家科研机构签订合作协议。</span></p>
		<div class="details">
			 <a href="/news/detail/10">查看更多</a>
		</div>
	</div>
	<div class="col-md-6">

	</div>
	<div class="clearfix"> </div>
</div>
<!-- welcome-bottom -->
<!-- services -->
<div class="services">
	<div class="container">
		<div class="agileits-heading">
			<h3>产品介绍</h3>
		</div>
		<div class="agileinfo-services-grids">
			<div class="services-grids">
				<div class="col-md-6 services-grid">
					<div class="services-grid-left">
						<h4>北斗时空服务基础设施配置</h4>
						<p>北斗时空服务基础设施配置</p>
					</div>
					<div class="services-grid-right">
						<i class="fa fa-first-order" aria-hidden="true"></i>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="col-md-6 services-grid">
					<div class="services-grid-right aliquam">
						<i class="fa fa-envira" aria-hidden="true"></i>
					</div>
					<div class="services-grid-left non">
						<h4>生产管理物联网及遥感应用</h4>
						<p>生产管理物联网及遥感应用</p>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="services-grids w3layouts-agileinfo">
				<div class="col-md-6 services-grid">
					<div class="services-grid-left">
						<h4>农业生产全程精准作业应用</h4>
						<p>农业生产全程精准作业应用</p>
					</div>
					<div class="services-grid-right">
						<i class="fa fa-cog" aria-hidden="true"></i>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="col-md-6 services-grid">
					<div class="services-grid-right aliquam">
						<i class="fa fa-gears (alias)" aria-hidden="true"></i>
					</div>
					<div class="services-grid-left non">
						<h4>精细管理与综合集成应用</h4>
						<p>精细管理与综合集成应用</p>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="services-grids w3layouts-agileinfo" style="margin-top: 2em;">
				<div class="col-md-6 services-grid">
					<div class="services-grid-left">
						<h4>示范示范区基础设施与条件建设</h4>
						<p>示范示范区基础设施与条件建设</p>
					</div>
					<div class="services-grid-right">
						<i class="fa fa-flag-checkered" aria-hidden="true"></i>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
</div>
<!-- //services -->
<!-- testimonial -->
<!--<div class="jarallax testimonial">
	<div class="testimonial-dot">
		<div class="container">
			<div class="agileits-heading wthree-testimonial">
				<h3>Testimonial</h3>
			</div>
			<div class="w3-agile-testimonial">
				<div class="slider">
					<div class="callbacks_container">
						<ul class="rslides callbacks callbacks1" id="slider3">
							<li>
								<div class="testimonial-img">
									<img src="/view/front/images/9.jpg" tppabs="./images/9.jpg" alt="" />
								</div>
								<div class="testimonial-img-info">
									<p>Nunc interdum elit nec sapien vehicula, ut blandit nulla ultrices. Sed ullamcorper metus eget efficitur rutrum. Aliquam a nunc odio. Aenean fermentum finibus efficitur.</p>
									<h5>Peter Guptill</h5>
									<h6>Proin blandit</h6>
								</div>
							</li>
							<li>
								<div class="testimonial-img">
									<img src="/view/front/images/10.jpg" tppabs="./images/10.jpg" alt="" />
								</div>
								<div class="testimonial-img-info">
									<p>Morbi est est, mollis id diam a, pellentesque dignissim lorem. Sed malesuada sed lacus sit amet vestibulum. Sed nibh purus, egestas eu orci vel, mollis interdum orci.</p>
									<h5>Mary Jane</h5>
									<h6>Lorem ipsum</h6>
								</div>
							</li>
							<li>
								<div class="testimonial-img">
									<img src="/view/front/images/11.jpg" tppabs="./images/11.jpg" alt="" />
								</div>
								<div class="testimonial-img-info">
									<p>Proin blandit rhoncus metus porta tristique. Praesent suscipit in erat a tempor. Nullam tempor lectus ex, a auctor orci ultricies ac. Mauris sapien neque, condimentum sit</p>
									<h5>Steven Wilson</h5>
									<h6>Proin blandit</h6>
								</div>
							</li>
						</ul>
					</div>
					<div class="clearfix"> </div>
					<script>
                        // You can also use "$(window).load(function() {"
                        $(function () {
                            // Slideshow 4
                            $("#slider3").responsiveSlides({
                                auto: true,
                                pager:false,
                                nav:false,
                                speed: 500,
                                namespace: "callbacks",
                                before: function () {
                                    $('.events').append("<li>before event fired.</li>");
                                },
                                after: function () {
                                    $('.events').append("<li>after event fired.</li>");
                                }
                            });

                        });
					</script>
					&lt;!&ndash;banner Slider starts Here&ndash;&gt;
				</div>
			</div>
		</div>
	</div>
</div>-->
<!-- //testimonial -->
<!-- newsletter -->
<!--<div class="newsletter">
	<div class="container">
		<div class="agileits-heading">
			<h3>Subscribe</h3>
		</div>
	</div>
	<div class="w3-agileits-newsletter">
		<div class="subscribe-grid">
			<form action="#" method="post">
				<input type="email" placeholder="Subscribe" name="Subscribe" required="">
				<button class="btn1"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></button>
			</form>
			<h5>or</h5>
			<div class="agileinfo-social-grids">
				<ul>
					<li><a href="#"><i class="fa fa-facebook"></i></a></li>
					<li><a href="#"><i class="fa fa-twitter"></i></a></li>
					<li><a href="#"><i class="fa fa-rss"></i></a></li>
					<li><a href="#"><i class="fa fa-vk"></i></a></li>
				</ul>
			</div>
		</div>
	</div>
</div>-->
<!-- //newsletter -->
<!-- footer -->
<script>

</script>
<% include("/view/front/foot.html"){}	%>
