<div class="head">
    <div class="container">
        <div class="navbar-top">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">菜单</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="navbar-brand logo ">
                    <h1 class="animated wow pulse" data-wow-delay=".5s">
                        <a href="/index" tppabs="/index">模板<span>网站</span></a></h1>
                </div>

            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav link-effect-4">
                    <li><a href="/"  >首页</a> </li>
                    <!--<li><a href="/about"  >关于我们 </a> </li>-->
                    <li><a href="#" >测试1</a></li>
                    <li><a href="#" >测试2</a></li>
                    <li><a href="#" >测试3</a></li>
                    <li><a href="#" >联系我们</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<script>

</script>