<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>Title</title>
</head>
<body>
<style>
    .news-content{
        width: 800px;
        margin: 0 auto;
        float: left;
    }
    .news-list{
        display: inline-block;
        margin-left: 20px;
        width: 33%;
        height: 400px;
        text-align: center;
        background-color: #efefef;
    }

    .n-image{
        width: 100px;
        padding: 5px;
        height: 300px;

    }
    .n-image image{

    }
    .n-title{
        font-size: 14px;
    }
    .n-des{
        font-size: 12px;
    }

</style>
<div class="news-content">
    <div class="news-list">
        <div class="n-image">
            <img src="./images/10.jpg">
        </div>
        <div class="n-title">
            <span>dfgd电饭锅地方古典风格地方</span>
        </div>
        <div class="n-des">
<p>古典风格反对股份的观点风格的风格</p>
        </div>
    </div>
    <div class="news-list">
        <div class="n-image">
            <img src="./images/10.jpg">
        </div>
        <div class="n-title">
            <span>dfgd电饭锅地方古典风格地方</span>
        </div>
        <div class="n-des">
            <p>古典风格反对股份的观点风格的风格</p>
        </div>
    </div>
    <div class="news-list">
        <div class="n-image">
            <img src="./images/10.jpg">
        </div>
        <div class="n-title">
            <span>dfgd电饭锅地方古典风格地方</span>
        </div>
        <div class="n-des">
            <p>古典风格反对股份的观点风格的风格</p>
        </div>
    </div>
    <div class="news-list">
        <div class="n-image">
            <img src="./images/10.jpg">
        </div>
        <div class="n-title">
            <span>dfgd电饭锅地方古典风格地方</span>
        </div>
        <div class="n-des">
            <p>古典风格反对股份的观点风格的风格</p>
        </div>
    </div>
    <div class="news-list">
        <div class="n-image">
            <img src="./images/10.jpg">
        </div>
        <div class="n-title">
            <span>dfgd电饭锅地方古典风格地方</span>
        </div>
        <div class="n-des">
            <p>古典风格反对股份的观点风格的风格</p>
        </div>
    </div>
    <div class="news-list">
        <div class="n-image">
            <img src="./images/10.jpg">
        </div>
        <div class="n-title">
            <span>dfgd电饭锅地方古典风格地方</span>
        </div>
        <div class="n-des">
            <p>古典风格反对股份的观点风格的风格</p>
        </div>
    </div>
</div>
</body>
</html>