::-webkit-scrollbar{
    width: 0px;
    height: 0px;
}
.zq-sell-container {
    margin: 0 16px 16px;
    -webkit-flex: 1 0 0;
    flex: 1 0 0;
    position: relative;
}
.zq-table-query{
    margin-top: 10px;
}
.zq-form{
        margin-top: 10px;
}
.zq-table-head{
    background-color: white;
    margin-top:5px;
}
.zq-row{
    background: white;
    margin: 16px 0px 0px 0px;
    padding:5px;
}
.zq-layout-body{
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-flex: 0 1;
    flex: 0 1;
    background-color: #f0f3f5;
    height: 100%;
}
.zq-left-nav {
    display: none;
    position: absolute;
    left: 0;
    margin-top: 2px;
    height: 100%;
    background-color: #213246;
    z-index: 9;
    width: 212px;
    height: calc(100% - 130px);
    overflow: hidden;
}
.dropzone {
    background: #cccccc;
    width: 150px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-weight: bold;
}
.dropzone.in {
    width: 600px;
    height: 200px;
    line-height: 200px;
    font-size: larger;
}
.dropzone.hover {
    background: lawngreen;
}
.dropzone.fade {
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
   opacity: 1;
}
.icon-bar{
    background-color: #563d7c;
}

.zq-right{
    float: right;
}

.zq-layout-main{
}
.zq-main-body {
    -webkit-flex: 1;
    flex: 1;
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
    margin-left: 212px;
}
.zq-layout-con{
    height: 80%;
}
html,body{
    height:100%;
}
.zq-header-nav {
    background-color: #336699;
    color: #FFFFFF;
    margin-bottom: 0px;
    padding: 5px 20px 5px 20px;
}
.zq-header-nav a {
   color:#ffffff;
}

.zq-header-nav li>a:hover {
    background-color: #6ba1d6!important;
}
.zq-header-nav li.open a{
    background-color: #0099CC!important;
}






.navbar-nav-left{
    width: 100%;
    float: left;
    background-color: #446586;
}
.navbar-nav-left a{
    color: #ffffff;
    position: relative;
    display: block;
    padding: 15px 15px;
}
.navbar-nav-left>li{
    float: none;
}
.navbar-nav-left>li dd{
    text-align: center;
}
.navbar-nav-left li>a:hover {
    background-color: #6ba1d6;
}
.navbar-nav-left li.active>a{
    background-color:  #3C77B3;
}
.navbar-nav-left dd.active{
    background-color:#3F88F3;
}
.navbar-nav-left dd:hover {
    background-color: #6ba1d6;
}
.navbar-nav-left dl{
    border-top: 1px solid #6ba1d6;
    display: none;
}
.navbar-nav-left dl dd{
    cursor: pointer;
}
.navbar-nav-left a:hover{ text-decoration:none;}