<% table_layout("/WEB-INF/view/console/skins/${table_skin}/layout.html", {}) { 
 %>
 <div class="row">
 	<div class="col-md-12">
 <div class="widget-container fluid-height clearfix">
 <div class="widget-content padded clearfix">
 <div class='row'>
 <div class='col-md-12'>
 <form name="inform_against_form" id="inform_against_form" class='form-inline'>
 <div class='form-group col-md-3' style='margin-top: 10px;'>
 <label title='联系方式'   for='contact'>联系方式：</label>
 <input  onkeyup='enterToQuery(event);' type='text' class='form-control' id='contact' name='contact' placeholder=''>
 </div>
 <div class='form-group col-md-3' style='margin-top: 10px;'>
 <label title='举报类型'   for='type'>举报类型：</label>
 <input  onkeyup='enterToQuery(event);' type='text' class='form-control' id='type' name='type' placeholder=''>
 </div>
 </form>
 </div>
 </div>
 <div class='row'>
 <div align="center">
 <button type='button' class='btn btn-default' id='querySearch'>查询</button>
 <button type='button' class='btn btn-default' id='reset'>重置</button>
 </div>
 </div>
 <div class='row'>
 <div class='col-md-12'>
 <table class='table table-condensed table-hover table-striped' id='inform_against'>
 <thead>
 <tr>
 <th title='' data-column-id='id' data-identifier='true' data-type='numeric' data-visible='false'>id</th>
 <th title='用户ID' data-column-id='u_id'>用户ID</th>
 <th title='联系方式' data-column-id='contact'>联系方式</th>
 <th title='举报类型' data-column-id='type'>举报类型</th>
 <th title='反馈时间' data-column-id='create_time'>反馈时间</th>
  <th title='操作' data-column-id='inform_against_operation' data-formatter='inform_against_operation' data-sortable='false'>操作</th>
 </tr>
 </thead>
 </table>
 </div>
 </div>
 </div>
 </div>
 </div>
 </div>
 <script type="text/javascript">
 function enterToQuery(event) {
  var e = event || window.event || arguments.callee.caller.arguments[0];
 if (e.keyCode == 13) {
     $('#querySearch').click();
 }
  }
  function openAddFormWindow() {
   var height=$(window).height();
   var width=$(window).width();
  art.dialog({
 id: 'id-dialog-inform_against', 
  title: '新建',
   padding: 0,
  fixed: true,
     content: '<iframe height="'+(height*0.8)+'px" width="'+(width*0.8)+'px" frameborder=0 src="${ctxPath}/sunarvr/console/inform_against/add"></iframe>'
   });
  }
  $(function($) {
 $('#reset').click(function() {
     $('#inform_against_form').find('input,select').val('');
 	});
 $('#querySearch').click(function() {
     $("#inform_against").bootgrid('reload');
 });
 function getQueryString() {
     var objQuery = new Object();
  objQuery.contact = $('#contact').val();
  objQuery.type = $('#type').val();
     var queryString = JSON.stringify(objQuery);
     return queryString;
 }
 $("#inform_against")
 	.bootgrid({
     ajax : true,
     selection : true,
     multiSelect : true,
     rowSelect : true,
     keepSelection : true,
    post : function() {
 	return {
     table_name : "inform_against",
 	    querys : getQueryString()
 	};
     },
     url : "${ctxPath}/sunarvr/console/inform_against/json",
    formatters: {
      "inform_against_operation": function(column, row)
      {
          return "<button type='button' class='btn btn-xs btn-default' onclick='openReadWindow("+row.id+")'><span class='glyphicon glyphicon-search'></span></button> ";
      }
  }
 });
 });
   function del(){
       deleteData('inform_against');
   }
 function openReadWindow(id){
   var height=$(window).height();
      var width=$(window).width();
    art.dialog({
    id: 'id-dialog-inform_against', 
     title: '查看',
     padding: 0,
     fixed: true,
        content: '<iframe height="'+(height*0.8)+'px" width="'+(width*0.8)+'px" frameborder=0 src="${ctxPath}/sunarvr/console/inform_against/read?id='+id+'"></iframe>'
     });
   }
 </script>
 <%} %>
 