<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<% include("/WEB-INF/view/console/common/css.html"){} %> <%
include("/WEB-INF/view/console/common/js.html"){} %>
<link href="${ctxPath}/plugin/tagsinput/tagsinput.css" media="all"
	rel="stylesheet" type="text/css" />
<script type="text/javascript"
	src="${ctxPath}/plugin/tagsinput/jquery.tagsinput.min.js"></script>
<title></title>
</head>
<body>
	<nav class="navbar navbar-default navbar-fixed-top site-navbar">
	<div class="navbar-header">
		<a class="navbar-brand" href="#">商品</a>
	</div>
	</nav>
	<form name="goods_info_form" id="goods_info_form"
		class="form-horizontal" style="margin-top: 60px;">
		<div class="form-group">
			<label  class="col-sm-2 control-label">性别</label>
			<div class="col-sm-6">
				<label><input checked='checked' auto_name='goods_infosex'
					type="radio" name="sex" value="0" />男</label> <label><input
					auto_name='goods_infosex' type="radio" name="sex" value="1" />女</label>

			</div>
		</div>
		<script type="text/javascript">
 $(function($){
 $('input[auto_name="goods_infosex"]').each(function(){
 if('${goods_info.sex!}'==this.value){ 
     $(this).attr('checked','checked');
  }
 });
 	});
 	</script>
		<div class="form-group">
			<label  class="col-sm-2 control-label">状态</label>
			<div class="col-sm-6">
				<label><input checked='checked' auto_name='goods_infostatus'
					type="radio" name="status" value="1" />可用</label> <label><input
					auto_name='goods_infostatus' type="radio" name="status" value="0" />不可用</label>

			</div>
		</div>
		<script type="text/javascript">
 $(function($){
 $('input[auto_name="goods_infostatus"]').each(function(){
 if('${goods_info.status!}'==this.value){ 
     $(this).attr('checked','checked');
  }
 });
 	});
 	</script>
		<div class="form-group">
			<label  class="col-sm-2 control-label">品牌</label>
			<div class="col-sm-6">
				<div class="col-sm-11">
					<input disabled="disabled" type="text" name="brand_name"
						id="brand_name" class="form-control" check-type="required"
						value='${goods_info.brand_name!}'>
				</div>
				<div class="col-sm-1">
					<input class="btn btn-success btn-sm" type="button" value="选择"
						id="brand_id_select">
				</div>

			</div>
		</div>
		<div class="form-group">
			<label  class="col-sm-2 control-label">商品名</label>
			<div class="col-sm-6">
				<input type="text" name="title" id="title" class="form-control"
					 check-type="required" value='${goods_info.title!}'>
			</div>
		</div>
		<div class="form-group">
			<label  class="col-sm-2 control-label">商品简介</label>
			<div class="col-sm-6">
				<textarea name="description" id="description" class="form-control"
					check-type="required">
${goods_info.description!}
 </textarea>
			</div>
		</div>

		<div class="form-group">
			<label  class="col-sm-2 control-label">类型</label>
			<div class="col-sm-6">
				<input type="text" name="type" id="type" class="form-control"
					check-type="required" value='${goods_info.type!}'>
			</div>
		</div>
		<div class="form-group">
			<label  class="col-sm-2 control-label">子类型</label>
			<div class="col-sm-6">
				<input type="text" name="child_type" id="child_type"
					class="form-control" check-type="required"
					value='${goods_info.child_type!}'>
			</div>
		</div>


		<div class="form-group">
			<label  class="col-sm-2 control-label">货币符号</label>
			<div class="col-sm-6">
				<label><input checked='checked'
					auto_name='goods_infocurrency' type="radio" name="currency"
					value="RMB" />人民币</label> <label><input
					auto_name='goods_infocurrency' type="radio" name="currency"
					value="USD" />美元</label>
			</div>
		</div>
		<script type="text/javascript">
 $(function($){
    
 $('input[auto_name="goods_infocurrency"]').each(function(){
 if('${goods_info.currency!}'==this.value){
     $(this).attr('checked','checked');
  }
 });
 
 	});
 	</script>
		<div class="form-group">
			<label  class="col-sm-2 control-label">衣服种类</label>
			<div class="col-sm-6">
				<select class="form-control" name="mt_id" id="mt_id"
					class="form-control" check-type="required">
				</select>
			</div>
		</div>
		<div class="form-group">
			<label  class="col-sm-2 control-label">原价</label>
			<div class="col-sm-6">
				<input type="text" name="market_price" id="market_price"
					class="form-control" check-type="required number"
					value='${goods_info.market_price!}'>
			</div>
		</div>
		<div class="form-group">
			<label  class="col-sm-2 control-label">现价</label>
			<div class="col-sm-6">
				<input type="text" name="price" id="price" class="form-control"
					check-type="required number" value='${goods_info.price!}'>
			</div>
		</div>
		<!--  <div class="form-group" >
 <label  class="col-sm-2 control-label">色系</label>
 <div class="col-sm-6">
 <input  type="text"  name="color" id="color" class="form-control" check-type="required" value='${goods_info.color!}' >
 </div>
  </div>

 <div class="form-group" >
 <label  class="col-sm-2 control-label">标签</label>
 <div class="col-sm-6">
 <input  type="text"  name="tags" id="tags" class="form-control" check-type="required" value='${goods_info.tags!}' >
 </div>
  </div>
 

 <div class="form-group" >
 <label  class="col-sm-2 control-label">促销参数</label>
 <div class="col-sm-8">
  <input  type="text"  name="parameter" id="parameter" class="form-control"   value='${goods_info.parameter!}' >
 </div>
  </div> -->
		<div class="form-group">
			<label  class="col-sm-2 control-label">商品链接</label>
			<div class="col-sm-6">
				<input type="text" name="item_url" id="item_url"
					class="form-control" check-type="url"
					value='${goods_info.item_url!}'>
			</div>
		</div>
		<div class="form-group">
			<label  class="col-sm-2 control-label">商品id(淘宝)</label>
			<div class="col-sm-6">
				<input type="text" name="item_id" id="item_id" class="form-control"
					 check-type="required" value='${goods_info.item_id!}'>
			</div>
		</div>
		<div class="form-group" id="i_0">
			<label for="res_pic" class="col-sm-2 control-label">图片缩略图</label>
			<div class="col-sm-3">
				<input type="file" id="res_pic_file" class="form-control" value=''>
				<input type="hidden" id="res_pic" name="res_pic1"
					class="form-control" value=''>
			</div>
			<div class="col-sm-4">
				<img id="res_pic_file_show" src="" style="width: 100px;" alt="图片"
					class="img-rounded">
			</div>
		</div>
		<!-- 介绍图片1 -->
		<div class="form-group">
		<div class="col-sm-2"></div>
		<input type="button"  class="btn btn-default" value="添加商品介绍图片" onclick="addPic();">
		</div>
	<input type='hidden'
			name='goods_id' id='goods_id' value='${goods_info.goods_id!}'>
		<input type='hidden' name='common_token' id='common_token'
			value='${common_token!}'> <input type="hidden"
			name="brand_id" id="brand_id" class="form-control"
			check-type="required number" value='${goods_info.brand_id!}'>
		<div class="col-sm-12" style="margin-bottom: 60px;">
			<div class="smart-widget">
				<div class="smart-widget-header">
					模型信息 <span class="smart-widget-option"> <a href="#"
						class="widget-collapse-option" data-toggle="collapse"> <i
							class="fa fa-chevron-up"></i>
					</a>
					</span>
				</div>
				<div class="smart-widget-inner">
					<div class="smart-widget-body">
						<table class='table table-condensed table-hover table-striped'
							id='goods_mod'>
							<thead>
								<tr>
									<th title='' data-column-id='mgm_id' data-identifier='true'
										data-type='numeric' >id</th>
									<th title='模型地址_file' data-column-id='mod_url'>模型地址</th>
									<th title='终端:' data-column-id='terminal'>终端</th>
									<th title='正面图' data-column-id='front_url'>正面图</th>
									<th title='背面图' data-column-id='reverse_url'>背面图</th>
									<th title='操作' data-column-id='goods_mod_operation'
										data-formatter='goods_mod_operation' data-sortable='false'>操作</th>
								</tr>
							</thead>
						</table>
					</div>
				</div>
				<!-- ./smart-widget-inner -->
			</div>
		</div>
	</form>
	<div id="wid" style="display: none">
		<pre>
 双击选择数据 
</pre>
		<div id="treeid"></div>

	</div>

	<script type="text/javascript"> 
	/*  处理图片添加*/
	function addPic(){
		var size = $("div[upname='common']").size()+1;
		addImages(size,'');
	}
	function addImages(iv,value){
		var addImageDiv = '<div id="i_'+iv+'" iv="'+iv+'" upname="common" class="form-group"><label for="res_pic'+iv+'" class="col-sm-2 control-label">介绍图片'+iv+'</label><div class="col-sm-3"><input type="file" id="res_pic'+iv+'_file" class="form-control" value=""><input type="hidden" id="res_pic'+iv+'" name="res_pic'+iv+'" class="form-control" value="'+value+'"></div><div class="col-sm-4"><img id="res_pic'+iv+'_file_show" src="'+value+'" style="width: 100px;" alt="图片" class="img-rounded"></div><label class="col-sm-2 control-label"><button type="button" class="btn btn-xs btn-danger" onclick="removeImage(\'i_'+iv+'\')"> <span class="glyphicon glyphicon-minus-sign"></span>  删除 </button></label></div>';
		$("#i_"+(iv-1)+"").after(addImageDiv);
		consoleUpload("res_pic"+iv,'${ctxPath}');
	}
	 $(document).ready(function() {
	consoleUpload("res_pic",'${ctxPath}');
	});
	 function removeImage(id){
		 $("#"+id).remove();
	 }
	 $(function($){
			var jsonImages='${goods_info.res_pic!""}';
			if(jsonImages==""){
				jsonImages="{resPic:'',images:[]}";
			}
			//res_pic4_file_show
			var resPicObj=JSON.parse(jsonImages); 
			$("#res_pic_file_show").attr("src",resPicObj.resPic);
			$("#res_pic").val(resPicObj.resPic);
			var resImages = resPicObj.images;
			if($(resImages).size()!=0){
			$(resImages).each(function(i,o){
					addImages(i+1,o);
			});
			}
	 });
	 /*  结束*/
 var type_f="";
 function treeDblclick(o){
var text=$(o).attr("text");
$("#"+type_f+"").val(text);
}
 $(function($){
     //tag
      $('#tags').tagsInput({'defaultText':'添加标签'});
      $('#parameter').tagsInput({'defaultText':'添加促销参数'});
     $('#treeid').bstree({url:'${ctxPath}/sunarvr/console/common_goods_type/treejson?sex='+$('#goods_info_form input[name="sex"]:checked').val(),checkbox:false,showurl:false});
    
     //	分类选择
     $("#child_type,#type").click(function(){
		 if($(this).attr("id")=="child_type"){
		     type_f="child_type";
		 }else{
		     type_f="type";
		 }
	   art.dialog({
		      id: 'id-dialog-select_type', 
		       title: '选择品牌',
		      content: $("#wid").html()
	 });
	   
     });
      
 });
 var goods_id="";
 	$(function($) { 
 	$("#goods_info_form").validation();
 }); 
 function saveZqForm(){  
 if ($("#goods_info_form").valid() == false) { 
 	return false;  
 }
 var formObject=new Object();
 formObject.brand_id=(goods_info_form.brand_id.value==''?null:goods_info_form.brand_id.value); 
 formObject.brand_name=(goods_info_form.brand_name.value==''?null:goods_info_form.brand_name.value); 
 formObject.title=(goods_info_form.title.value==''?null:goods_info_form.title.value); 
 formObject.description=(goods_info_form.description.value==''?null:goods_info_form.description.value); 
//  /* formObject.tags=(goods_info_form.tags.value==''?null:goods_info_form.tags.value);  */
 formObject.sex=($('#goods_info_form input[name="sex"]:checked').val()==''?null:$('#goods_info_form input[name="sex"]:checked').val()); 
 formObject.type=(goods_info_form.type.value==''?null:goods_info_form.type.value); 
 formObject.mt_id=(goods_info_form.mt_id.value==''?null:goods_info_form.mt_id.value); 
 formObject.child_type=(goods_info_form.child_type.value==''?null:goods_info_form.child_type.value); 
 formObject.market_price=(goods_info_form.market_price.value==''?null:goods_info_form.market_price.value); 
 formObject.price=(goods_info_form.price.value==''?null:goods_info_form.price.value); 
/*  formObject.color=(goods_info_form.color.value==''?null:goods_info_form.color.value);  */
 formObject.item_url=(goods_info_form.item_url.value==''?null:goods_info_form.item_url.value); 
 formObject.currency=(goods_info_form.currency.value==''?null:goods_info_form.currency.value); 
//  /* formObject.parameter=(goods_info_form.parameter.value==''?null:goods_info_form.parameter.value);  */
 formObject.status=($('#goods_info_form input[name="status"]:checked').val()==''?null:$('#goods_info_form input[name="status"]:checked').val()); 
 formObject.goods_id=(goods_info_form.goods_id.value==''?null:goods_info_form.goods_id.value); 
 formObject.item_id=(goods_info_form.item_id.value==''?null:goods_info_form.item_id.value); 
 var imageObj =new Object();
 var ima = [];
 $("div[upname='common']").each(function(i,o){
	 try{
		 if($("#res_pic"+$(o).attr("iv")).val()!=''){
			 ima.push($("#res_pic"+$(o).attr("iv")).val());
		 }
	 }catch(e){
		 
	 }
 });

 imageObj.resPic=$("#res_pic").val();
 imageObj.images=ima;
 formObject.res_pic=JSON.stringify(imageObj);
 var formObjectJson = JSON.stringify(formObject);
 $.post("${ctxPath}/sunarvr/console/goods_info/save", {  
 	formObjectJson :formObjectJson,
 	table_name :'goods_info',  
 	common_token :$("#common_token").val()  
 }, function(data) {
     if(formObject.goods_id!=null){
	  goods_id=formObject.goods_id;
     }else{
	 goods_id=data.data;
     }
   
     parent.$('#goods_info').bootgrid('reload'); 
	 window.location.href="${ctxPath}/sunarvr/console/goods_info/edit?id="+goods_id+"";
    
/*   $.alert({ 
 	    title: '提示', 
 	    content: data, 
 	    backgroundDismiss: false, 
 	    confirmButton:"确定", 
 	    autoClose: 'confirm|2000', 
 		    confirm: function(){ 
   				parent.$('#goods_info').bootgrid('reload');  
 // parent.art.dialog.get('id-dialog-goods_info').close();  
  //   window.location.href="${ctxPath}/sunarvr/console/goods_info/edit?id="+data.data+"";

 		    } 
 		});  */
 });
 }
 
 function openAddFormWindow() {
     if($("#goods_id").val()==""){
	 $.alert({
	      title: '提示!',
	        confirmButton:'确定',
	         autoClose: 'confirm|1000',
	          content: '请先保存商品信息'
	       });
     }else{
     var height=$(window).height();
     var width=$(window).width();
    art.dialog({
   id: 'id-dialog-goods_mod', 
    title: '新建模型',
     padding: 0,
    fixed: true,
       content: '<iframe height="'+(height*0.8)+'px" width="'+(width*0.8)+'px" frameborder=0 src="${ctxPath}/sunarvr/console/goods_mod/add?goods_id='+$("#goods_id").val()+'"></iframe>'
     });
    }
 }
    $(function($) {

   $('#reset').click(function() {
       $('#goods_mod_form').find('input,select').val('');
   	});
   $('#querySearch').click(function() {
       $("#goods_mod").bootgrid('reload');
   });
   $("#goods_mod")
   	.bootgrid({
       ajax : true,
       selection : true,
       multiSelect : true,
       rowSelect : true,
       keepSelection : true,
      post : function() {
   	return {
       table_name : "goods_mod"
   	};
       },
       url : "${ctxPath}/sunarvr/console/goods_mod/json?goods_id="+$('#goods_id').val(),
      formatters: {
        "goods_mod_operation": function(column, row)
        {
            return "<button type='button' class='btn btn-xs btn-default command-edit' onclick='openEditWindow("+row.mgm_id+")'><span class='glyphicon glyphicon-pencil'></span></button>  ";
        }
    }
   })
   .on(
   	"loaded.rs.jquery.bootgrid",
   	function(e) {
   	    $("#goods_mod-header").find("#buttons_id").html(" <button type='button' onclick='openAddFormWindow();' class='btn btn-default'>新增</button> <button type='button' onclick='del();' class='btn btn-default'>删除</button> ");
 	   $(".search.form-group").hide();
	   $(".actions.btn-group").hide();
	   $(".bootgrid-footer.container-fluid").hide();
   	});
   });

     function del(){
         deleteData('goods_mod');
     }
   function openReadWindow(id){
     var height=$(window).height();
        var width=$(window).width();
      art.dialog({
      id: 'id-dialog-goods_mod', 
       title: '查看',
       padding: 0,
       fixed: true,
          content: '<iframe height="'+(height*0.8)+'px" width="'+(width*0.8)+'px" frameborder=0 src="${ctxPath}/sunarvr/console/goods_mod/read?id='+id+'"></iframe>'
       });
     }
   function openEditWindow(id){
     var height=$(window).height();
        var width=$(window).width();
      art.dialog({
      id: 'id-dialog-goods_mod', 
       title: '编辑',
       padding: 0,
       fixed: true,
          content: '<iframe height="'+(height*0.8)+'px" width="'+(width*0.8)+'px" frameborder=0 src="${ctxPath}/sunarvr/console/goods_mod/edit?id='+id+'"></iframe>'
       });
     }
   function deleteData(table_id){
   	var ids=$("#goods_mod").bootgrid("getSelectedRows");
   if(ids.length==0){
   $.alert({
      title: '提示!',
        confirmButton:'确定',
         autoClose: 'confirm|1000',
          content: '请选择要删除的数据'
       });
   }else{
       $.confirm({
           keyboardEnabled: true,
           content: '是否删除？',
           title:"提示",
           animation:"scalex",
          confirmButton:"是",
       autoClose: 'cancel|5000',
           cancelButton:"否",
   	        confirm: function(){
           	$.post("${ctxPath}/sunarvr/console/goods_mod/delete",{ids:ids.join(",")},function(data){
   	       		 $("#goods_mod").bootgrid('reload');  
   	       	});
   	        }
       });
   	}
   	}
   
   $(function($){
       var height=$(window).height();
       var width=$(window).width();
      $("#brand_id_select").click(function(){
  	 art.dialog({
  	      id: 'id-dialog-select_brand', 
  	       title: '选择品牌',
  	        padding: 0,
  	       fixed: true,
  	          content: '<iframe height="'+(height*0.8)+'px" width="'+(width*0.8)+'px" frameborder=0 src="${ctxPath}/sunarvr/console/brand_info/select"></iframe>'
  	        });
      });
      initModelTypeJson();
$("input[name='sex']").change(function(){
	initModelTypeJson();
})
   });
function initModelTypeJson(){
	$("#mt_id").empty();
    $.post("${ctxPath}/sunarvr/console/common_mod_type/typejson",{app_type:${session.dev_app.app_type},sex:$('#goods_info_form input[name="sex"]:checked').val()},function(data){
	     $.each(data.data,function(i,v){
		 if("${goods_info.mt_id!}"==v.mt_id+""){
		  
		     $("#mt_id").append("<option value='"+v.mt_id+"' selected='selected'>"+v.title+"</option>");
		 }else{
		     $("#mt_id").append("<option value='"+v.mt_id+"'>"+v.title+"</option>");
		 }
		    
	     });
	  });
}
 </script>
	<nav class="navbar navbar-default navbar-fixed-bottom site-navbar">
	<div class="container" style="padding-top: 10px; padding-bottom: 10px;">
		<div class="nav navbar-nav navbar-right">
			<a href="#" class="btn btn-success" onclick='saveZqForm()'>保存 </a>
		</div>
	</div>
	</nav>
</body>