<% table_layout("/WEB-INF/view/console/skins/${table_skin}/layout_nonav.html", {table_title:"商品信息"}) { 
 %>
 <div class="row">
 	<div class="col-md-8">
 	<pre> 
 商品列表
 </pre>
 <div class="widget-container fluid-height clearfix">
 <div class="widget-content padded clearfix">
 <div class='row'>
 <div class='col-md-12'>
 <form name="goods_info_form" id="goods_info_form" class='form-inline'>
 <div class='form-group col-md-3' style='margin-top: 10px;'>
 <label title='品牌名'   for='brand_name'>品牌名：</label>
 <input  onkeyup='enterToQuery(event);' type='text' class='form-control' id='brand_name' name='brand_name' placeholder=''>
 </div>
 <div class='form-group col-md-3' style='margin-top: 10px;'>
 <label title='商品名'   for='title'>商品名：</label>
 <input  onkeyup='enterToQuery(event);' type='text' class='form-control' id='title' name='title' placeholder=''>
 </div>
 <div class='form-group col-md-3' style='margin-top: 10px;'>
 <label title='男装女装'  for='sex'>男装女装：</label>
 <select class="form-control" id="sex" name="goods_info.sex">
 <option  value="">请选择...</option>
 	<option  value="0">男</option>
 	<option  value="1">女</option>
 </select>
 </div>
 
  <div class='form-group col-md-3' style='margin-top: 10px;'>
 <label title='是否可用'  for='status'>是否可用：</label>
 <select class="form-control" id="status" name="goods_info.status">
 <option  value="">请选择...</option>
 	<option  value="0">不可用</option>
 	<option  value="1">可用</option>
 </select>
 </div>
 </form>
 </div>
 </div>
 <div class='row'>
 <div align="center">
 <button type='button' class='btn btn-default' id='querySearch'>查询</button>
 <button type='button' class='btn btn-default' id='reset'>重置</button>
 </div>
 </div>
 <div class='row'>
 <div class='col-md-12'>
 <table class='table table-condensed table-hover table-striped' id='goods_info'>
 <thead>
 <tr>
 <th title='' data-column-id='goods_id' data-identifier='true' data-type='numeric' data-visible='false'>id</th>
 <th title='品牌名' data-column-id='brand_name'>品牌名</th>
 <th title='商品名' data-column-id='title'>商品名</th>
  <th title='缩略图' data-column-id='res_pic' data-formatter='res_pic'>缩略图</th>
 <th title='男装女装' data-column-id='sex' data-formatter='sex'>男装女装</th>
 <th title='原价' data-column-id='market_price'>原价</th>
 <th title='现价' data-column-id='price'>现价</th>
 <th title='状态' data-column-id='status' data-formatter='status'>状态</th>
  <th title='操作' data-column-id='goods_info_operation' data-formatter='goods_info_operation' data-sortable='false'>操作</th>
 </tr>
 </thead>
 </table>
 </div>
 </div>
 </div>
 </div>
 </div>
 <div class="col-md-4" style="border-left: #E3E3E3 1px solid;">
<pre> 
 已选择的商品
 </pre>
 <button type='button' class='btn btn-default' onclick='chooseGoodsSave()'> 保存</button>
 <div class="smart-widget-body">
								<table class="table" id="alreadyChooseId">
									<thead>
										<tr>
										<th style="display: none;">商品id</th>
											<th>商品名称</th>
											<th>商品图片</th>
											<th>操作</th>
										</tr>
									</thead>
									<tbody id = 'tbodyId'>
									${trs!}
									</tbody>
								</table>
							</div>
 </div>
 </div>
 <script type="text/javascript">
 function enterToQuery(event) {
  var e = event || window.event || arguments.callee.caller.arguments[0];
 if (e.keyCode == 13) {
     $('#querySearch').click();
 }
  }
  $(function($) {
	  
 $('#reset').click(function() {
     $('#goods_info_form').find('input,select').val('');
 	});
 $('#querySearch').click(function() {
     $("#goods_info").bootgrid('reload');
 });
 function getQueryString() {
     var objQuery = new Object();
  objQuery.brand_name = $('#brand_name').val();
  objQuery.title = $('#title').val();
  objQuery.sex = $('#sex').val();
  objQuery.status = $('#status').val();
     var queryString = JSON.stringify(objQuery);
     return queryString;
 }
 $("#goods_info")
 	.bootgrid({
     ajax : true,
     selection : true,
     multiSelect : true,
     rowSelect : true,
     keepSelection : true,
    post : function() {
 	return {
     table_name : "goods_info",
 	    querys : getQueryString()
 	};
     },
     url : "${ctxPath}/sunarvr/console/goods_info/json",
    formatters: {
      "goods_info_operation": function(column, row)
      {
          return "<button type='button' class='btn btn-xs btn-default' onclick='chooseGoods(\""+row.title+"\",\""+row.res_pic+"\",\""+row.goods_id+"\")'> 选择</button> ";
      },
      "status":function(column, row)
      {
          return row.status==1?"<span class='label label-info'>可用</span>":"<span class='label label-danger'>不可用</span>";
      },
      "sex":function(column, row)
      {
          return row.sex==1?"女装":"男装";
      }
      ,
      "res_pic":function(column, row)
      {
	   
          return ' <a href="'+row.res_pic+'" target="_blank"target="_blank" > <img style="height:50px;" src="'+row.res_pic+'" alt="商品缩略图"> </a>';
      }
  }
 });
  });
  
  function chooseGoods(title,res_pic,goods_id){
	 if($("#alreadyChooseId:has('#"+goods_id+"')").size()==0){
		 var tr='<tr name="ctr" id="tr_'+goods_id+'" ><td style="display:none;" id="'+goods_id+'" >'+goods_id+'</td><td>'+title+'</td><td><a href="#" target="_blank"target="_blank" > <img style="height:50px;" src="'+res_pic+'" alt="商品缩略图"> </a></td><td><button type="button" class="btn btn-xs btn-default" onclick="deleteChoose(\'tr_'+goods_id+'\');"> 移除</button> </td>	</tr>';
		 $("#tbodyId").append(tr);
	 }
  }
  
  function deleteChoose(id){
	  $("#"+id+"").remove();
  }
  
  function chooseGoodsSave(){
	  var id=[];
	  var trs=$("tr[name='ctr']");
	  trs.each(function(i,o){
		  id.push(o.id.replace("tr_","")); 
	  });
	  parent.$("#goods_ids").val(id.join(","));
	  parent.art.dialog.get('id-dialog-choose-goods').close();  
	  
  }
 </script>
 <%} %>
 