<% table_layout("/WEB-INF/view/console/skins/${table_skin}/layout.html", {table_title:"商品信息"}) { 
 %>
 <div class="row">
 	<div class="col-md-12">
 <div class="widget-container fluid-height clearfix">
 <div class="widget-content padded clearfix">
 <div class='row'>
 <div class='col-md-12'>
 <form name="goods_info_form" id="goods_info_form" class='form-inline'>
 <div class='form-group col-md-3' style='margin-top: 10px;'>
 <label title='品牌名'   for='brand_name'>品牌名：</label>
 <input  onkeyup='enterToQuery(event);' type='text' class='form-control' id='brand_name' name='brand_name' placeholder=''>
 </div>
 <div class='form-group col-md-3' style='margin-top: 10px;'>
 <label title='商品名'   for='title'>商品名：</label>
 <input  onkeyup='enterToQuery(event);' type='text' class='form-control' id='title' name='title' placeholder=''>
 </div>
 <div class='form-group col-md-3' style='margin-top: 10px;'>
 <label title='男装女装'  for='sex'>男装女装：</label>
 <select class="form-control" id="sex" name="goods_info.sex">
 <option  value="">请选择...</option>
 	<option  value="0">男</option>
 	<option  value="1">女</option>
 </select>
 </div>
 
  <div class='form-group col-md-3' style='margin-top: 10px;'>
 <label title='是否可用'  for='status'>是否可用：</label>
 <select class="form-control" id="status" name="goods_info.status">
 <option  value="">请选择...</option>
 	<option  value="0">不可用</option>
 	<option  value="1">可用</option>
 </select>
 </div>
 </form>
 </div>
 </div>
 <div class='row'>
 <div align="center">
 <button type='button' class='btn btn-default' id='querySearch'>查询</button>
 <button type='button' class='btn btn-default' id='reset'>重置</button>
 </div>
 </div>
 <div class='row'>
 <div class='col-md-12'>
 <table class='table table-condensed table-hover table-striped' id='goods_info'>
 <thead>
 <tr>
 <th title='' data-column-id='goods_id' data-identifier='true' data-type='numeric' data-visible='false'>id</th>
 <th title='品牌名' data-column-id='brand_name'>品牌名</th>
 <th title='商品名' data-column-id='title'>商品名</th>
  <th title='缩略图' data-column-id='res_pic' data-formatter='res_pic'>缩略图</th>
 <th title='男装女装' data-column-id='sex' data-formatter='sex'>男装女装</th>
 <th title='原价' data-column-id='market_price'>原价</th>
 <th title='现价' data-column-id='price'>现价</th>
 <th title='状态' data-column-id='status' data-formatter='status'>状态</th>
  <th title='操作' data-column-id='goods_info_operation' data-formatter='goods_info_operation' data-sortable='false'>操作</th>
 </tr>
 </thead>
 </table>
 </div>
 </div>
 </div>
 </div>
 </div>
 </div>
 <script type="text/javascript">
 function enterToQuery(event) {
  var e = event || window.event || arguments.callee.caller.arguments[0];
 if (e.keyCode == 13) {
     $('#querySearch').click();
 }
  }
  function openAddFormWindow() {
   var height=$(window).height();
   var width=$(window).width();
  art.dialog({
 id: 'id-dialog-goods_info', 
  title: '新建',
   padding: 0,
  fixed: true,
     content: '<iframe height="'+(height*0.9)+'px" width="'+(width*0.9)+'px" frameborder=0 src="${ctxPath}/sunarvr/console/goods_info/add"></iframe>'
   });
  }
  $(function($) {
 $('#reset').click(function() {
     $('#goods_info_form').find('input,select').val('');
 	});
 $('#querySearch').click(function() {
     $("#goods_info").bootgrid('reload');
 });
 function getQueryString() {
     var objQuery = new Object();
  objQuery.brand_name = $('#brand_name').val();
  objQuery.title = $('#title').val();
  objQuery.sex = $('#sex').val();
  objQuery.status = $('#status').val();
     var queryString = JSON.stringify(objQuery);
     return queryString;
 }
 $("#goods_info")
 	.bootgrid({
     ajax : true,
     selection : true,
     multiSelect : true,
     rowSelect : true,
     keepSelection : true,
    post : function() {
 	return {
     table_name : "goods_info",
 	    querys : getQueryString()
 	};
     },
     url : "${ctxPath}/sunarvr/console/goods_info/json",
    formatters: {
      "goods_info_operation": function(column, row)
      {
          return "<button type='button' class='btn btn-xs btn-default command-edit' onclick='openEditWindow("+row.goods_id+")'><span class='glyphicon glyphicon-pencil'></span></button> ";
      },
      "status":function(column, row)
      {
          return row.status==1?"<span class='label label-info'>可用</span>":"<span class='label label-danger'>不可用</span>";
      },
      "sex":function(column, row)
      {
          return row.sex==1?"女装":"男装";
      }
      ,
      "res_pic":function(column, row)
      {
	   
          return ' <a href="'+row.res_pic+'" target="_blank"target="_blank" > <img style="height:50px;" src="'+row.res_pic+'" alt="商品缩略图"> </a>';
      }
  }
 })
 .on(
 	"loaded.rs.jquery.bootgrid",
 	function(e) {
 	    $("#goods_info-header").find("#buttons_id").html(" <button type='button' onclick='openImportWindow();' class='btn btn-default'>导入数据</button>  <button type='button' onclick='openAddFormWindow();' class='btn btn-default'>新增</button> <button type='button' onclick='del();' class='btn btn-default'>变更状态</button> ");
 	});
 });
   function del(){
       deleteData('goods_info');
   }
 function openReadWindow(id){
   var height=$(window).height();
      var width=$(window).width();
    art.dialog({
    id: 'id-dialog-goods_info', 
     title: '查看',
     padding: 0,
     fixed: true,
        content: '<iframe height="'+(height*0.8)+'px" width="'+(width*0.8)+'px" frameborder=0 src="${ctxPath}/sunarvr/console/goods_info/read?id='+id+'"></iframe>'
     });
   }
 function openEditWindow(id){
   var height=$(window).height();
      var width=$(window).width();
    art.dialog({
    id: 'id-dialog-goods_info', 
     title: '编辑',
     padding: 0,
     fixed: true,
        content: '<iframe height="'+(height*0.8)+'px" width="'+(width*0.8)+'px" frameborder=0 src="${ctxPath}/sunarvr/console/goods_info/edit?id='+id+'"></iframe>'
     });
   }
 function openImportWindow(){
	   var height=$(window).height();
	      var width=$(window).width();
	    art.dialog({
	    id: 'id-dialog-goods_info_import', 
	     title: '编辑',
	     padding: 0,
	     fixed: true,
	        content: '<iframe height="'+(height*0.8)+'px" width="'+(width*0.8)+'px" frameborder=0 src="${ctxPath}/sunarvr/console/goods_info/importgoodspage"></iframe>'
	     });
 }
 function deleteData(table_id){
 	var ids=$("#goods_info").bootgrid("getSelectedRows");
 if(ids.length==0){
 $.alert({
    title: '提示!',
      confirmButton:'确定',
       autoClose: 'confirm|1000',
        content: '请选择要变更的数据'
     });
 }else{
     $.confirm({
         keyboardEnabled: true,
         content: '是否变更？',
         title:"提示",
         animation:"scalex",
        confirmButton:"是",
        autoClose: 'cancel|5000',
         cancelButton:"否",
 	        confirm: function(){
         	$.post("${ctxPath}/sunarvr/console/goods_info/delete",{ids:ids.join(",")},function(data){
 	       		 $("#goods_info").bootgrid('reload');  
 	       	});
 	        }
     });
 	}
 	}
 </script>
 <%} %>
 