<!DOCTYPE html>
 <html>
 <head>
 <meta http-equiv="X-UA-Compatible" content="IE=edge">
 <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
 <% include("/view/console/common/css.html"){}	%>

 <title></title>
 </head>
 <body>
 <div class="zq-form">
 <form name="boProjectGoods_form"  id="boProjectGoods_form" class="form-horizontal" style="margin-bottom: 70px;">
   <div class="form-group" >
 <label class="col-sm-2 col-xs-2 control-label">名称</label>
 <div class="col-sm-6 col-xs-6">
 <input  type="text"  name="title" id="title" class="form-control" check-type="required" value='${boProjectGoods.title!}' >
 </div>
  </div>
 <div class="form-group" >
 <label class="col-sm-2 col-xs-2 control-label">建筑面积</label>
 <div class="col-sm-6 col-xs-6">
 <input  type="text"  name="buildArea" id="buildArea" class="form-control" check-type="required number" value='${boProjectGoods.buildArea!}' >
 </div>
  </div>
 <div class="form-group" >
 <label class="col-sm-2 col-xs-2 control-label">产权价</label>
 <div class="col-sm-6 col-xs-6">
 <input  type="text"  name="equityPrice" id="equityPrice" class="form-control" check-type="required number" value='${boProjectGoods.equityPrice!}' >
 </div>
  </div>
 <div class="form-group" >
 <label class="col-sm-2 col-xs-2 control-label">会员价</label>
 <div class="col-sm-6 col-xs-6">
 <input  type="text"  name="adminPrice" id="adminPrice" class="form-control" check-type="required number" value='${boProjectGoods.adminPrice!}' >
 </div>
  </div>
 <div class="form-group" >
 <label class="col-sm-2 col-xs-2 control-label">详情</label>
 <div class="col-sm-6 col-xs-6">
 <input  type="text"  name="detail" id="detail" class="form-control" check-type="required" value='${boProjectGoods.detail!}' >
 </div>
  </div>
 <div class="form-group" >
 <label class="col-sm-2 col-xs-2 control-label">图片介绍</label>
 <div class="col-sm-6 col-xs-6">
 <input  type="text"  name="imageCover" id="imageCover" class="form-control" check-type="required" value='${boProjectGoods.imageCover!}' >
 </div>
  </div>
 <div class="form-group" >
 <label class="col-sm-2 col-xs-2 control-label">标签</label>
 <div class="col-sm-6 col-xs-6">
 <input  type="text"  name="tag" id="tag" class="form-control" check-type="required" value='${boProjectGoods.tag!}' >
 </div>
  </div>
 
   <input type='hidden' name='id' id='id' value='${boProjectGoods.id!}'><input type='hidden' name='common_token' id='common_token' value='${common_token!}'>
 </form>
  <nav class="navbar navbar-default navbar-fixed-bottom" style="text-align: right">
    <a href="#" class="btn btn-success" style="margin:10px"  onclick='saveZqForm()'>保存 </a>
  </nav>
 </div>
 <% include("/view/console/common/js.html"){} 	%>
 <script>
layui.use(['layer','laydate'], function(){

});
$(function($) {
/*开启表单验证*/
$("#boProjectGoods_form").validation();

});
/*保存*/
function saveZqForm(){
if ($("#boProjectGoods_form").valid() == false) {
return false;
}
var formObject=new Object();
formObject.title=$('#title').val()==''?null:$('#title').val(); 
 formObject.buildArea=$('#buildArea').val()==''?null:$('#buildArea').val(); 
 formObject.equityPrice=$('#equityPrice').val()==''?null:$('#equityPrice').val(); 
 formObject.adminPrice=$('#adminPrice').val()==''?null:$('#adminPrice').val(); 
 formObject.detail=$('#detail').val()==''?null:$('#detail').val(); 
 formObject.imageCover=$('#imageCover').val()==''?null:$('#imageCover').val(); 
 formObject.tag=$('#tag').val()==''?null:$('#tag').val(); 
 formObject.id=$('#id').val()==''?null:$('#id').val(); 
 
var formObjectJson = JSON.stringify(formObject);
$.post("/console/bo_project_goods/save",
{
formObjectJson :formObjectJson,
common_token :$("#common_token").val()
}, function(data) {
layer.alert(data.message, {skin: 'layui-layer-molv',closeBtn: 0 }, function(){
parent.$("#boProjectGoods").bootstrapTable("refresh");
parent.layer.closeAll();
});

});
}
 </script>
 </body>
