<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
 <html>
 <head>
 <meta http-equiv="X-UA-Compatible" content="IE=edge">  
 <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
 <%
 include("/WEB-INF/view/console/common/css.html"){}
 	%>
   <%
 	include("/WEB-INF/view/console/common/js.html"){}
 	%>
 	 	 	<link href="${ctxPath}/plugin/tagsinput/tagsinput.css" media="all" rel="stylesheet" type="text/css" /> 
 	<script type="text/javascript" src="${ctxPath}/plugin/tagsinput/jquery.tagsinput.min.js"></script>
 <title></title>
 </head>
 <body> <nav class="navbar navbar-default navbar-fixed-top site-navbar" >
  <div class="navbar-header"> 
 <a class="navbar-brand" href="#">详情</a> 
 </div> 
  </nav>
 <form name="article_post_form"  id="article_post_form" class="form-horizontal" style="margin-top: 60px;">
 <div class="form-group" >
 <label for="xm" class="col-sm-2 control-label">作者</label>
 <div class="col-sm-6">
 <input  type="text"  name="author" id="author" class="form-control" check-type="required" value='${article_post.author!}' >
 </div>
  </div>
 <div class="form-group" >
 <label for="xm" class="col-sm-2 control-label">标题</label>
 <div class="col-sm-6">
 <input  type="text"  name="title" id="title" class="form-control" check-type="required" value='${article_post.title!}' >
 </div>
  </div>
 <div class="form-group" >
 <label for="xm" class="col-sm-2 control-label">定时发布时间</label>
 <div class="col-sm-6">
 <input  type="text" onFocus="WdatePicker({startDate:'%y-%M-01 00:00:00',dateFmt:'yyyy-MM-dd HH:mm:ss',alwaysUseStartDate:true})" name="job_time" id="job_time" class="form-control"  value='${article_post.job_time!}' >
 </div>
  </div>
  <div class="form-group" >
 <label for="xm" class="col-sm-2 control-label">是否置顶</label>
 <div class="col-sm-6">
 <label><input checked='checked' auto_name='article_postis_top' type="radio"  name="is_top" value="1"/>置顶</label>
 <label><input  auto_name='article_postis_top' type="radio"  name="is_top" value="0"/>不置顶</label>
  
 </div>
  </div>
 	<script type="text/javascript">
 $(function($){
 $('input[auto_name="article_postis_top"]').each(function(){
 if('${article_post.is_top!}'==this.value){ 
     $(this).attr('checked','checked');
  }
 });
 	});
 	</script> 
  
   <div class="form-group" >
 <label for="xm" class="col-sm-2 control-label">状态</label>
 <div class="col-sm-6">
 <label><input checked='checked' auto_name='article_poststatus' type="radio"  name="status" value="1"/>可用</label>
 <label><input  auto_name='article_poststatus' type="radio"  name="status" value="0"/>不可用</label>
  
 </div>
  </div>
 	<script type="text/javascript">
 $(function($){
 $('input[auto_name="article_poststatus"]').each(function(){
 if('${article_post.status!}'==this.value){ 
     $(this).attr('checked','checked');
  }
 });
 	});
 	</script> 
 <div class="form-group" >
 <label for="xm" class="col-sm-2 control-label">描述</label>
 <div class="col-sm-8">
 <textarea name="description" id="description" style="width: 100%">${article_post.description!}</textarea>
 </div>
  </div>
 <div class="form-group" >
 <label for="xm" class="col-sm-2 control-label">内容</label>
 <div class="col-sm-8">
 <textarea name="content" id="content" style="width: 100%">${article_post.content!}</textarea>
 <script type="text/javascript">
  KindEditor.ready(function(K) {
   new common_kind_edit(K).create("content");
   });
 </script>
 </div>
  </div>
 <div class="form-group" >
 <label for="xm" class="col-sm-2 control-label">标签</label>
 <div class="col-sm-8">
 <textarea name="tags" id="tags" style="width: 100%">${article_post.tags!}</textarea>
 </div>
  </div>
 <div class="form-group" >
 <label for="cover_pic" class="col-sm-2 control-label">封面图片</label>
 <div class="col-sm-3">
 <input type="file"id="cover_pic_file" class="form-control" value='${article_post.cover_pic!}' >
 <input type="hidden" id="cover_pic"  name="cover_pic"class="form-control" value='${article_post.cover_pic!}' > 
 </div>
   	<div class="col-sm-4">
   	<img id="cover_pic_file_show" src="${article_post.cover_pic!}" style="width:100px;" alt="图片" class="img-rounded">  
 </div>
 </div>
   <script type="text/javascript"> 
 $(document).ready(function()  
 { 
	    $('#tags').tagsInput({'defaultText':'添加标签'});
 $('#cover_pic_file').uploadify({
 auto:true,
 buttonCursor: 'hand', 
 buttonText: '<div>选择</div>',
 fileSizeLimit:'10MB',  
 fileTypeExts:'*.jpg;*.png;*.gif', 
 height: 30,
 width: 120,
 itemTemplate:false,
 method:'post',
 multi: false, 
 progressData: 'percentage',
 removeCompleted: true,
 removeTimeout: 2, 
 requeueErrors: false, 
 successTimeout: 30,
 swf: '${ctxPath}/plugin/uploadify3.2.1/uploadify.swf',  
 uploader: '${ctxPath}/file/upload_ali', 
 onUploadSuccess: function(file,data,respone){ 
  if(respone==true){
  	if(JSON.parse(data).http_status==1){  
  		var src=JSON.parse(data).data;
  	$("#cover_pic").val(src);  
  		  $("#cover_pic_file_show").attr("src",src);
  	}else{
  		alert(JSON.parse(data).message);  
  	} 
  } 
   
 } 
 });
 });
 </script> 
 <input type='hidden' name='post_id' id='post_id' value='${article_post.post_id!}'>
 <input type='hidden' name='common_token' id='common_token' value='${common_token!}'>
  <div class="form-group" style="margin-bottom: 60px;"></div>
 </form>
 <script type="text/javascript"> 
 	$(function($) { 
 	$("#article_post_form").validation();
 }); 
 function saveZqForm(){  
 if ($("#article_post_form").valid() == false) { 
 	return false;  
 }
 var formObject=new Object();
 formObject.author=(article_post_form.author.value==''?null:article_post_form.author.value); 
 formObject.title=(article_post_form.title.value==''?null:article_post_form.title.value); 
 formObject.description=(article_post_form.description.value==''?null:article_post_form.description.value); 
 formObject.content=(article_post_form.content.value==''?null:article_post_form.content.value); 
 formObject.cover_pic=(article_post_form.cover_pic.value==''?null:article_post_form.cover_pic.value); 
 formObject.tags=(article_post_form.tags.value==''?null:article_post_form.tags.value); 
 formObject.job_time=(article_post_form.job_time.value==''?null:article_post_form.job_time.value); 
 formObject.is_top=($('#article_post_form input[name="is_top"]:checked').val()==''?null:$('#article_post_form input[name="is_top"]:checked').val()); 
 formObject.status=($('#article_post_form input[name="status"]:checked').val()==''?null:$('#article_post_form input[name="status"]:checked').val()); 
 formObject.post_id=(article_post_form.post_id.value==''?null:article_post_form.post_id.value); 
 var formObjectJson = JSON.stringify(formObject);
 $.post("${ctxPath}/sunarvr/console/article_post/save", {  
 	formObjectJson :formObjectJson,
 	table_name :'article_post',  
 	common_token :$("#common_token").val()  
 }, function(data) {
  $.alert({ 
 	    title: '提示', 
 	    content: data, 
 	    backgroundDismiss: false, 
 	    confirmButton:"确定", 
 	    autoClose: 'confirm|2000', 
 		    confirm: function(){ 
   parent.$('#article_post').bootgrid('reload');  
  parent.art.dialog.get('id-dialog-article_post').close();  
 		    } 
 		}); 
 });
 } 
 </script>  
 <nav class="navbar navbar-default navbar-fixed-bottom site-navbar" >
  <div class="container" style="padding-top:10px;padding-bottom:10px;">
 <div class="nav navbar-nav navbar-right">
 <a href="#" class="btn btn-success"  onclick='saveZqForm()'>保存 </a>
  </div>
  </div>
   </nav>
 </body>
 