<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
 <html>
 <head>
 <meta http-equiv="X-UA-Compatible" content="IE=edge">  
 <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
 <%
 include("/WEB-INF/view/console/common/css.html"){}
 	%>
   <%
 	include("/WEB-INF/view/console/common/js.html"){}
 	%>
 <title></title>
 </head>
 <body> <nav class="navbar navbar-default navbar-fixed-top site-navbar" >
   <div class="container"> 
  <div class="navbar-header"> 
 <a class="navbar-brand" href="#">common_login_module表单信息</a> 
 </div> 
   </div>
  </nav>
 <form name="common_login_module_form"  id="common_login_module_form" class="form-horizontal" style="margin-top: 60px;">
 <div class="form-group" >
 <label for="xm" class="col-sm-2 control-label">第三方代码</label>
 <div class="col-sm-6">
 <input  type="text"  name="code" id="code" class="form-control" check-type="required" value='${common_login_module.code!}' >
 </div>
  </div>
 <div class="form-group" >
 <label for="xm" class="col-sm-2 control-label">第三方名称</label>
 <div class="col-sm-6">
 <input  type="text"  name="name" id="name" class="form-control" check-type="required" value='${common_login_module.name!}' >
 </div>
  </div>
 <div class="form-group" >
 <label for="xm" class="col-sm-2 control-label">第三方短名称</label>
 <div class="col-sm-6">
 <input  type="text"  name="short_name" id="short_name" class="form-control" check-type="required" value='${common_login_module.short_name!}' >
 </div>
  </div>
 <div class="form-group" >
 <label for="xm" class="col-sm-2 control-label">第三方Key</label>
 <div class="col-sm-6">
 <input  type="text"  name="app_key" id="app_key" class="form-control" check-type="required" value='${common_login_module.app_key!}' >
 </div>
  </div>
 <div class="form-group" >
 <label for="xm" class="col-sm-2 control-label">第三方密钥</label>
 <div class="col-sm-6">
 <input  type="text"  name="app_secret" id="app_secret" class="form-control" check-type="required" value='${common_login_module.app_secret!}' >
 </div>
  </div>
 <div class="form-group" >
 <label for="xm" class="col-sm-2 control-label">排序</label>
 <div class="col-sm-6">
 <input  type="text"  name="sort" id="sort" class="form-control" check-type="required number" value='${common_login_module.sort!}' >
 </div>
  </div>
 <div class="form-group" >
 <label for="xm" class="col-sm-2 control-label">状态</label>
 <div class="col-sm-6">
 <label><input checked='checked' auto_name='common_login_modulestatus' type="radio"  name="status" value="1"/>可用</label>
 <label><input  auto_name='common_login_modulestatus' type="radio"  name="status" value="0"/>不可用</label>
  
 </div>
  </div>
 	<script type="text/javascript">
 $(function($){
 $('input[auto_name="common_login_modulestatus"]').each(function(){
 if('${common_login_module.status!}'==this.value){ 
     $(this).attr('checked','checked');
  }
 });
 	});
 	</script> 
 <div class="form-group" >
 <label for="xm" class="col-sm-2 control-label">备注</label>
 <div class="col-sm-8">
 <textarea name="remark" id="remark" style="width: 100%">${common_login_module.remark!}</textarea>
 <script type="text/javascript">
  KindEditor.ready(function(K) {
   new common_kind_edit(K).create("remark");
   });
 </script>
 </div>
  </div>
 <input type='hidden' name='id' id='id' value='${common_login_module.id!}'>
 <input type='hidden' name='common_token' id='common_token' value='${common_token!}'>
  <div class="form-group" style="margin-bottom: 60px;"></div>
 </form>
 <script type="text/javascript"> 
 	$(function($) { 
 	$("#common_login_module_form").validation();
 }); 
 function saveZqForm(){  
 if ($("#common_login_module_form").valid() == false) { 
 	return false;  
 }
 var formObject=new Object();
 formObject.code=(common_login_module_form.code.value==''?null:common_login_module_form.code.value); 
 formObject.name=(common_login_module_form.name.value==''?null:common_login_module_form.name.value); 
 formObject.short_name=(common_login_module_form.short_name.value==''?null:common_login_module_form.short_name.value); 
 formObject.app_key=(common_login_module_form.app_key.value==''?null:common_login_module_form.app_key.value); 
 formObject.app_secret=(common_login_module_form.app_secret.value==''?null:common_login_module_form.app_secret.value); 
 formObject.sort=(common_login_module_form.sort.value==''?null:common_login_module_form.sort.value); 
 formObject.remark=(common_login_module_form.remark.value==''?null:common_login_module_form.remark.value); 
 formObject.status=(common_login_module_form.status.value==''?null:common_login_module_form.status.value); 
 formObject.id=(common_login_module_form.id.value==''?null:common_login_module_form.id.value); 
 var formObjectJson = JSON.stringify(formObject);
 $.post("${ctxPath}/sunarvr/console/common_login_module/save", {  
 	formObjectJson :formObjectJson,
 	table_name :'common_login_module',  
 	common_token :$("#common_token").val()  
 }, function(data) {
  $.alert({ 
 	    title: '提示', 
 	    content: data, 
 	    backgroundDismiss: false, 
 	    confirmButton:"确定", 
 	    autoClose: 'confirm|2000', 
 		    confirm: function(){ 
   parent.$('#common_login_module').bootgrid('reload');  
  parent.art.dialog.get('id-dialog-common_login_module').close();  
 		    } 
 		}); 
 });
 } 
 </script>  
 <nav class="navbar navbar-default navbar-fixed-bottom site-navbar" >
  <div class="container" style="padding-top:10px;padding-bottom:10px;">
 <div class="nav navbar-nav navbar-right">
 <a href="#" class="btn btn-success"  onclick='saveZqForm()'>保存 </a>
  </div>
  </div>
   </nav>
 </body>
 