<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="zhang.lao.dao.ArticlePostMapper" >
  <resultMap id="BaseResultMap" type="zhang.lao.model.ArticlePost" >
    <id column="post_id" property="postId" jdbcType="INTEGER" />
    <result column="tid" property="tid" jdbcType="INTEGER" />
    <result column="author" property="author" jdbcType="VARCHAR" />
    <result column="su_id" property="suId" jdbcType="BIGINT" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="job_time" property="jobTime" jdbcType="TIMESTAMP" />
    <result column="is_top" property="isTop" jdbcType="SMALLINT" />
    <result column="status" property="status" jdbcType="SMALLINT" />
    <result column="uuid" property="uuid" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="zhang.lao.model.ArticlePost" extends="BaseResultMap" >
    <result column="description" property="description" jdbcType="LONGVARCHAR" />
    <result column="content" property="content" jdbcType="LONGVARCHAR" />
    <result column="cover_pic" property="coverPic" jdbcType="LONGVARCHAR" />
    <result column="tags" property="tags" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    post_id, tid, author, su_id, title, create_time, update_time, job_time, is_top, status, 
    uuid
  </sql>
  <sql id="Blob_Column_List" >
    description, content, cover_pic, tags
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from article_post
    where post_id = #{postId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from article_post
    where post_id = #{postId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="zhang.lao.model.ArticlePost" >
    insert into article_post (post_id, tid, author, 
      su_id, title, create_time, 
      update_time, job_time, is_top, 
      status, uuid, description, 
      content, cover_pic, tags
      )
    values (#{postId,jdbcType=INTEGER}, #{tid,jdbcType=INTEGER}, #{author,jdbcType=VARCHAR}, 
      #{suId,jdbcType=BIGINT}, #{title,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{jobTime,jdbcType=TIMESTAMP}, #{isTop,jdbcType=SMALLINT}, 
      #{status,jdbcType=SMALLINT}, #{uuid,jdbcType=VARCHAR}, #{description,jdbcType=LONGVARCHAR}, 
      #{content,jdbcType=LONGVARCHAR}, #{coverPic,jdbcType=LONGVARCHAR}, #{tags,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="zhang.lao.model.ArticlePost" >
    insert into article_post
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="postId != null" >
        post_id,
      </if>
      <if test="tid != null" >
        tid,
      </if>
      <if test="author != null" >
        author,
      </if>
      <if test="suId != null" >
        su_id,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="jobTime != null" >
        job_time,
      </if>
      <if test="isTop != null" >
        is_top,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="uuid != null" >
        uuid,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="coverPic != null" >
        cover_pic,
      </if>
      <if test="tags != null" >
        tags,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="postId != null" >
        #{postId,jdbcType=INTEGER},
      </if>
      <if test="tid != null" >
        #{tid,jdbcType=INTEGER},
      </if>
      <if test="author != null" >
        #{author,jdbcType=VARCHAR},
      </if>
      <if test="suId != null" >
        #{suId,jdbcType=BIGINT},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="jobTime != null" >
        #{jobTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isTop != null" >
        #{isTop,jdbcType=SMALLINT},
      </if>
      <if test="status != null" >
        #{status,jdbcType=SMALLINT},
      </if>
      <if test="uuid != null" >
        #{uuid,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        #{description,jdbcType=LONGVARCHAR},
      </if>
      <if test="content != null" >
        #{content,jdbcType=LONGVARCHAR},
      </if>
      <if test="coverPic != null" >
        #{coverPic,jdbcType=LONGVARCHAR},
      </if>
      <if test="tags != null" >
        #{tags,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="zhang.lao.model.ArticlePost" >
    update article_post
    <set >
      <if test="tid != null" >
        tid = #{tid,jdbcType=INTEGER},
      </if>
      <if test="author != null" >
        author = #{author,jdbcType=VARCHAR},
      </if>
      <if test="suId != null" >
        su_id = #{suId,jdbcType=BIGINT},
      </if>
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="jobTime != null" >
        job_time = #{jobTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isTop != null" >
        is_top = #{isTop,jdbcType=SMALLINT},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=SMALLINT},
      </if>
      <if test="uuid != null" >
        uuid = #{uuid,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=LONGVARCHAR},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=LONGVARCHAR},
      </if>
      <if test="coverPic != null" >
        cover_pic = #{coverPic,jdbcType=LONGVARCHAR},
      </if>
      <if test="tags != null" >
        tags = #{tags,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where post_id = #{postId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="zhang.lao.model.ArticlePost" >
    update article_post
    set tid = #{tid,jdbcType=INTEGER},
      author = #{author,jdbcType=VARCHAR},
      su_id = #{suId,jdbcType=BIGINT},
      title = #{title,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      job_time = #{jobTime,jdbcType=TIMESTAMP},
      is_top = #{isTop,jdbcType=SMALLINT},
      status = #{status,jdbcType=SMALLINT},
      uuid = #{uuid,jdbcType=VARCHAR},
      description = #{description,jdbcType=LONGVARCHAR},
      content = #{content,jdbcType=LONGVARCHAR},
      cover_pic = #{coverPic,jdbcType=LONGVARCHAR},
      tags = #{tags,jdbcType=LONGVARCHAR}
    where post_id = #{postId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="zhang.lao.model.ArticlePost" >
    update article_post
    set tid = #{tid,jdbcType=INTEGER},
      author = #{author,jdbcType=VARCHAR},
      su_id = #{suId,jdbcType=BIGINT},
      title = #{title,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      job_time = #{jobTime,jdbcType=TIMESTAMP},
      is_top = #{isTop,jdbcType=SMALLINT},
      status = #{status,jdbcType=SMALLINT},
      uuid = #{uuid,jdbcType=VARCHAR}
    where post_id = #{postId,jdbcType=INTEGER}
  </update>
</mapper>