<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="zhang.lao.dao.ArticleHotMapper" >
  <resultMap id="BaseResultMap" type="zhang.lao.model.ArticleHot" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="post_id" property="postId" jdbcType="INTEGER" />
    <result column="like_count" property="likeCount" jdbcType="INTEGER" />
    <result column="browse_count" property="browseCount" jdbcType="INTEGER" />
    <result column="comment_count" property="commentCount" jdbcType="INTEGER" />
    <result column="share_count" property="shareCount" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, post_id, like_count, browse_count, comment_count, share_count
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from article_hot
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from article_hot
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="zhang.lao.model.ArticleHot" >
    insert into article_hot (id, post_id, like_count, 
      browse_count, comment_count, share_count
      )
    values (#{id,jdbcType=INTEGER}, #{postId,jdbcType=INTEGER}, #{likeCount,jdbcType=INTEGER}, 
      #{browseCount,jdbcType=INTEGER}, #{commentCount,jdbcType=INTEGER}, #{shareCount,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="zhang.lao.model.ArticleHot" >
    insert into article_hot
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="postId != null" >
        post_id,
      </if>
      <if test="likeCount != null" >
        like_count,
      </if>
      <if test="browseCount != null" >
        browse_count,
      </if>
      <if test="commentCount != null" >
        comment_count,
      </if>
      <if test="shareCount != null" >
        share_count,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="postId != null" >
        #{postId,jdbcType=INTEGER},
      </if>
      <if test="likeCount != null" >
        #{likeCount,jdbcType=INTEGER},
      </if>
      <if test="browseCount != null" >
        #{browseCount,jdbcType=INTEGER},
      </if>
      <if test="commentCount != null" >
        #{commentCount,jdbcType=INTEGER},
      </if>
      <if test="shareCount != null" >
        #{shareCount,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="zhang.lao.model.ArticleHot" >
    update article_hot
    <set >
      <if test="postId != null" >
        post_id = #{postId,jdbcType=INTEGER},
      </if>
      <if test="likeCount != null" >
        like_count = #{likeCount,jdbcType=INTEGER},
      </if>
      <if test="browseCount != null" >
        browse_count = #{browseCount,jdbcType=INTEGER},
      </if>
      <if test="commentCount != null" >
        comment_count = #{commentCount,jdbcType=INTEGER},
      </if>
      <if test="shareCount != null" >
        share_count = #{shareCount,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="zhang.lao.model.ArticleHot" >
    update article_hot
    set post_id = #{postId,jdbcType=INTEGER},
      like_count = #{likeCount,jdbcType=INTEGER},
      browse_count = #{browseCount,jdbcType=INTEGER},
      comment_count = #{commentCount,jdbcType=INTEGER},
      share_count = #{shareCount,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>