<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="zhang.lao.dao.CommonModTypeMapper" >
  <resultMap id="BaseResultMap" type="zhang.lao.model.CommonModType" >
    <id column="mt_id" property="mtId" jdbcType="INTEGER" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="level" property="level" jdbcType="SMALLINT" />
    <result column="app_type" property="appType" jdbcType="SMALLINT" />
    <result column="up_down" property="upDown" jdbcType="VARCHAR" />
    <result column="id_list" property="idList" jdbcType="VARCHAR" />
    <result column="show_img" property="showImg" jdbcType="VARCHAR" />
    <result column="selected_img" property="selectedImg" jdbcType="VARCHAR" />
    <result column="sex" property="sex" jdbcType="SMALLINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    mt_id, type, title, level, app_type, up_down, id_list, show_img, selected_img, sex
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from common_mod_type
    where mt_id = #{mtId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from common_mod_type
    where mt_id = #{mtId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="zhang.lao.model.CommonModType" >
    insert into common_mod_type (mt_id, type, title, 
      level, app_type, up_down, 
      id_list, show_img, selected_img, 
      sex)
    values (#{mtId,jdbcType=INTEGER}, #{type,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}, 
      #{level,jdbcType=SMALLINT}, #{appType,jdbcType=SMALLINT}, #{upDown,jdbcType=VARCHAR}, 
      #{idList,jdbcType=VARCHAR}, #{showImg,jdbcType=VARCHAR}, #{selectedImg,jdbcType=VARCHAR}, 
      #{sex,jdbcType=SMALLINT})
  </insert>
  <insert id="insertSelective" parameterType="zhang.lao.model.CommonModType" >
    insert into common_mod_type
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="mtId != null" >
        mt_id,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="level != null" >
        level,
      </if>
      <if test="appType != null" >
        app_type,
      </if>
      <if test="upDown != null" >
        up_down,
      </if>
      <if test="idList != null" >
        id_list,
      </if>
      <if test="showImg != null" >
        show_img,
      </if>
      <if test="selectedImg != null" >
        selected_img,
      </if>
      <if test="sex != null" >
        sex,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="mtId != null" >
        #{mtId,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="level != null" >
        #{level,jdbcType=SMALLINT},
      </if>
      <if test="appType != null" >
        #{appType,jdbcType=SMALLINT},
      </if>
      <if test="upDown != null" >
        #{upDown,jdbcType=VARCHAR},
      </if>
      <if test="idList != null" >
        #{idList,jdbcType=VARCHAR},
      </if>
      <if test="showImg != null" >
        #{showImg,jdbcType=VARCHAR},
      </if>
      <if test="selectedImg != null" >
        #{selectedImg,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        #{sex,jdbcType=SMALLINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="zhang.lao.model.CommonModType" >
    update common_mod_type
    <set >
      <if test="type != null" >
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="level != null" >
        level = #{level,jdbcType=SMALLINT},
      </if>
      <if test="appType != null" >
        app_type = #{appType,jdbcType=SMALLINT},
      </if>
      <if test="upDown != null" >
        up_down = #{upDown,jdbcType=VARCHAR},
      </if>
      <if test="idList != null" >
        id_list = #{idList,jdbcType=VARCHAR},
      </if>
      <if test="showImg != null" >
        show_img = #{showImg,jdbcType=VARCHAR},
      </if>
      <if test="selectedImg != null" >
        selected_img = #{selectedImg,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        sex = #{sex,jdbcType=SMALLINT},
      </if>
    </set>
    where mt_id = #{mtId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="zhang.lao.model.CommonModType" >
    update common_mod_type
    set type = #{type,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR},
      level = #{level,jdbcType=SMALLINT},
      app_type = #{appType,jdbcType=SMALLINT},
      up_down = #{upDown,jdbcType=VARCHAR},
      id_list = #{idList,jdbcType=VARCHAR},
      show_img = #{showImg,jdbcType=VARCHAR},
      selected_img = #{selectedImg,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=SMALLINT}
    where mt_id = #{mtId,jdbcType=INTEGER}
  </update>
</mapper>