<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="zhang.lao.dao.FashionDynamicMapper" >
  <resultMap id="BaseResultMap" type="zhang.lao.model.FashionDynamic" >
    <id column="fd_id" property="fdId" jdbcType="BIGINT" />
    <result column="u_id" property="uId" jdbcType="BIGINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="job_time" property="jobTime" jdbcType="TIMESTAMP" />
    <result column="is_top" property="isTop" jdbcType="SMALLINT" />
    <result column="status" property="status" jdbcType="SMALLINT" />
    <result column="uuid" property="uuid" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="zhang.lao.model.FashionDynamic" extends="BaseResultMap" >
    <result column="content" property="content" jdbcType="LONGVARCHAR" />
    <result column="tags" property="tags" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    fd_id, u_id, create_time, update_time, job_time, is_top, status, uuid
  </sql>
  <sql id="Blob_Column_List" >
    content, tags
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from fashion_dynamic
    where fd_id = #{fdId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from fashion_dynamic
    where fd_id = #{fdId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="zhang.lao.model.FashionDynamic" >
    insert into fashion_dynamic (fd_id, u_id, create_time, 
      update_time, job_time, is_top, 
      status, uuid, content, 
      tags)
    values (#{fdId,jdbcType=BIGINT}, #{uId,jdbcType=BIGINT}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{jobTime,jdbcType=TIMESTAMP}, #{isTop,jdbcType=SMALLINT}, 
      #{status,jdbcType=SMALLINT}, #{uuid,jdbcType=VARCHAR}, #{content,jdbcType=LONGVARCHAR}, 
      #{tags,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="zhang.lao.model.FashionDynamic" >
    insert into fashion_dynamic
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="fdId != null" >
        fd_id,
      </if>
      <if test="uId != null" >
        u_id,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="jobTime != null" >
        job_time,
      </if>
      <if test="isTop != null" >
        is_top,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="uuid != null" >
        uuid,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="tags != null" >
        tags,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="fdId != null" >
        #{fdId,jdbcType=BIGINT},
      </if>
      <if test="uId != null" >
        #{uId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="jobTime != null" >
        #{jobTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isTop != null" >
        #{isTop,jdbcType=SMALLINT},
      </if>
      <if test="status != null" >
        #{status,jdbcType=SMALLINT},
      </if>
      <if test="uuid != null" >
        #{uuid,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        #{content,jdbcType=LONGVARCHAR},
      </if>
      <if test="tags != null" >
        #{tags,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="zhang.lao.model.FashionDynamic" >
    update fashion_dynamic
    <set >
      <if test="uId != null" >
        u_id = #{uId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="jobTime != null" >
        job_time = #{jobTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isTop != null" >
        is_top = #{isTop,jdbcType=SMALLINT},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=SMALLINT},
      </if>
      <if test="uuid != null" >
        uuid = #{uuid,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=LONGVARCHAR},
      </if>
      <if test="tags != null" >
        tags = #{tags,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where fd_id = #{fdId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="zhang.lao.model.FashionDynamic" >
    update fashion_dynamic
    set u_id = #{uId,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      job_time = #{jobTime,jdbcType=TIMESTAMP},
      is_top = #{isTop,jdbcType=SMALLINT},
      status = #{status,jdbcType=SMALLINT},
      uuid = #{uuid,jdbcType=VARCHAR},
      content = #{content,jdbcType=LONGVARCHAR},
      tags = #{tags,jdbcType=LONGVARCHAR}
    where fd_id = #{fdId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="zhang.lao.model.FashionDynamic" >
    update fashion_dynamic
    set u_id = #{uId,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      job_time = #{jobTime,jdbcType=TIMESTAMP},
      is_top = #{isTop,jdbcType=SMALLINT},
      status = #{status,jdbcType=SMALLINT},
      uuid = #{uuid,jdbcType=VARCHAR}
    where fd_id = #{fdId,jdbcType=BIGINT}
  </update>
</mapper>