<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="zhang.lao.dao.GoodsModMapper" >
  <resultMap id="BaseResultMap" type="zhang.lao.model.GoodsMod" >
    <id column="mgm_id" property="mgmId" jdbcType="INTEGER" />
    <result column="goods_id" property="goodsId" jdbcType="BIGINT" />
    <result column="shop_id" property="shopId" jdbcType="INTEGER" />
    <result column="mod_url" property="modUrl" jdbcType="VARCHAR" />
    <result column="front_url" property="frontUrl" jdbcType="VARCHAR" />
    <result column="reverse_url" property="reverseUrl" jdbcType="VARCHAR" />
    <result column="terminal" property="terminal" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="create_user_id" property="createUserId" jdbcType="INTEGER" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="update_user_id" property="updateUserId" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="SMALLINT" />
    <result column="md5_code" property="md5Code" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    mgm_id, goods_id, shop_id, mod_url, front_url, reverse_url, terminal, create_time, 
    create_user_id, update_time, update_user_id, status, md5_code
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from goods_mod
    where mgm_id = #{mgmId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from goods_mod
    where mgm_id = #{mgmId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="zhang.lao.model.GoodsMod" >
    insert into goods_mod (mgm_id, goods_id, shop_id, 
      mod_url, front_url, reverse_url, 
      terminal, create_time, create_user_id, 
      update_time, update_user_id, status, 
      md5_code)
    values (#{mgmId,jdbcType=INTEGER}, #{goodsId,jdbcType=BIGINT}, #{shopId,jdbcType=INTEGER}, 
      #{modUrl,jdbcType=VARCHAR}, #{frontUrl,jdbcType=VARCHAR}, #{reverseUrl,jdbcType=VARCHAR}, 
      #{terminal,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{createUserId,jdbcType=INTEGER}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{updateUserId,jdbcType=INTEGER}, #{status,jdbcType=SMALLINT}, 
      #{md5Code,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="zhang.lao.model.GoodsMod" >
    insert into goods_mod
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="mgmId != null" >
        mgm_id,
      </if>
      <if test="goodsId != null" >
        goods_id,
      </if>
      <if test="shopId != null" >
        shop_id,
      </if>
      <if test="modUrl != null" >
        mod_url,
      </if>
      <if test="frontUrl != null" >
        front_url,
      </if>
      <if test="reverseUrl != null" >
        reverse_url,
      </if>
      <if test="terminal != null" >
        terminal,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="createUserId != null" >
        create_user_id,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="updateUserId != null" >
        update_user_id,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="md5Code != null" >
        md5_code,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="mgmId != null" >
        #{mgmId,jdbcType=INTEGER},
      </if>
      <if test="goodsId != null" >
        #{goodsId,jdbcType=BIGINT},
      </if>
      <if test="shopId != null" >
        #{shopId,jdbcType=INTEGER},
      </if>
      <if test="modUrl != null" >
        #{modUrl,jdbcType=VARCHAR},
      </if>
      <if test="frontUrl != null" >
        #{frontUrl,jdbcType=VARCHAR},
      </if>
      <if test="reverseUrl != null" >
        #{reverseUrl,jdbcType=VARCHAR},
      </if>
      <if test="terminal != null" >
        #{terminal,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUserId != null" >
        #{createUserId,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUserId != null" >
        #{updateUserId,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=SMALLINT},
      </if>
      <if test="md5Code != null" >
        #{md5Code,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="zhang.lao.model.GoodsMod" >
    update goods_mod
    <set >
      <if test="goodsId != null" >
        goods_id = #{goodsId,jdbcType=BIGINT},
      </if>
      <if test="shopId != null" >
        shop_id = #{shopId,jdbcType=INTEGER},
      </if>
      <if test="modUrl != null" >
        mod_url = #{modUrl,jdbcType=VARCHAR},
      </if>
      <if test="frontUrl != null" >
        front_url = #{frontUrl,jdbcType=VARCHAR},
      </if>
      <if test="reverseUrl != null" >
        reverse_url = #{reverseUrl,jdbcType=VARCHAR},
      </if>
      <if test="terminal != null" >
        terminal = #{terminal,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUserId != null" >
        create_user_id = #{createUserId,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUserId != null" >
        update_user_id = #{updateUserId,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=SMALLINT},
      </if>
      <if test="md5Code != null" >
        md5_code = #{md5Code,jdbcType=VARCHAR},
      </if>
    </set>
    where mgm_id = #{mgmId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="zhang.lao.model.GoodsMod" >
    update goods_mod
    set goods_id = #{goodsId,jdbcType=BIGINT},
      shop_id = #{shopId,jdbcType=INTEGER},
      mod_url = #{modUrl,jdbcType=VARCHAR},
      front_url = #{frontUrl,jdbcType=VARCHAR},
      reverse_url = #{reverseUrl,jdbcType=VARCHAR},
      terminal = #{terminal,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_user_id = #{createUserId,jdbcType=INTEGER},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      update_user_id = #{updateUserId,jdbcType=INTEGER},
      status = #{status,jdbcType=SMALLINT},
      md5_code = #{md5Code,jdbcType=VARCHAR}
    where mgm_id = #{mgmId,jdbcType=INTEGER}
  </update>
</mapper>