<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="zhang.lao.dao.LogFittingMapper" >
  <resultMap id="BaseResultMap" type="zhang.lao.model.LogFitting" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="goods_id" property="goodsId" jdbcType="BIGINT" />
    <result column="sex" property="sex" jdbcType="VARCHAR" />
    <result column="brand" property="brand" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="style" property="style" jdbcType="VARCHAR" />
    <result column="color" property="color" jdbcType="VARCHAR" />
    <result column="shoulder_breadth" property="shoulderBreadth" jdbcType="VARCHAR" />
    <result column="hipline" property="hipline" jdbcType="VARCHAR" />
    <result column="waistline" property="waistline" jdbcType="VARCHAR" />
    <result column="bust" property="bust" jdbcType="VARCHAR" />
    <result column="weight" property="weight" jdbcType="VARCHAR" />
    <result column="height" property="height" jdbcType="VARCHAR" />
    <result column="size" property="size" jdbcType="VARCHAR" />
    <result column="standing_time" property="standingTime" jdbcType="INTEGER" />
    <result column="device_type" property="deviceType" jdbcType="VARCHAR" />
    <result column="device_key" property="deviceKey" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="app_uuid" property="appUuid" jdbcType="VARCHAR" />
    <result column="u_id" property="uId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, goods_id, sex, brand, type, style, color, shoulder_breadth, hipline, waistline, 
    bust, weight, height, size, standing_time, device_type, device_key, create_time, 
    app_uuid, u_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from log_fitting
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from log_fitting
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="zhang.lao.model.LogFitting" >
    insert into log_fitting (id, goods_id, sex, 
      brand, type, style, 
      color, shoulder_breadth, hipline, 
      waistline, bust, weight, 
      height, size, standing_time, 
      device_type, device_key, create_time, 
      app_uuid, u_id)
    values (#{id,jdbcType=BIGINT}, #{goodsId,jdbcType=BIGINT}, #{sex,jdbcType=VARCHAR}, 
      #{brand,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, #{style,jdbcType=VARCHAR}, 
      #{color,jdbcType=VARCHAR}, #{shoulderBreadth,jdbcType=VARCHAR}, #{hipline,jdbcType=VARCHAR}, 
      #{waistline,jdbcType=VARCHAR}, #{bust,jdbcType=VARCHAR}, #{weight,jdbcType=VARCHAR}, 
      #{height,jdbcType=VARCHAR}, #{size,jdbcType=VARCHAR}, #{standingTime,jdbcType=INTEGER}, 
      #{deviceType,jdbcType=VARCHAR}, #{deviceKey,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{appUuid,jdbcType=VARCHAR}, #{uId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="zhang.lao.model.LogFitting" >
    insert into log_fitting
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="goodsId != null" >
        goods_id,
      </if>
      <if test="sex != null" >
        sex,
      </if>
      <if test="brand != null" >
        brand,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="style != null" >
        style,
      </if>
      <if test="color != null" >
        color,
      </if>
      <if test="shoulderBreadth != null" >
        shoulder_breadth,
      </if>
      <if test="hipline != null" >
        hipline,
      </if>
      <if test="waistline != null" >
        waistline,
      </if>
      <if test="bust != null" >
        bust,
      </if>
      <if test="weight != null" >
        weight,
      </if>
      <if test="height != null" >
        height,
      </if>
      <if test="size != null" >
        size,
      </if>
      <if test="standingTime != null" >
        standing_time,
      </if>
      <if test="deviceType != null" >
        device_type,
      </if>
      <if test="deviceKey != null" >
        device_key,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="appUuid != null" >
        app_uuid,
      </if>
      <if test="uId != null" >
        u_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="goodsId != null" >
        #{goodsId,jdbcType=BIGINT},
      </if>
      <if test="sex != null" >
        #{sex,jdbcType=VARCHAR},
      </if>
      <if test="brand != null" >
        #{brand,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="style != null" >
        #{style,jdbcType=VARCHAR},
      </if>
      <if test="color != null" >
        #{color,jdbcType=VARCHAR},
      </if>
      <if test="shoulderBreadth != null" >
        #{shoulderBreadth,jdbcType=VARCHAR},
      </if>
      <if test="hipline != null" >
        #{hipline,jdbcType=VARCHAR},
      </if>
      <if test="waistline != null" >
        #{waistline,jdbcType=VARCHAR},
      </if>
      <if test="bust != null" >
        #{bust,jdbcType=VARCHAR},
      </if>
      <if test="weight != null" >
        #{weight,jdbcType=VARCHAR},
      </if>
      <if test="height != null" >
        #{height,jdbcType=VARCHAR},
      </if>
      <if test="size != null" >
        #{size,jdbcType=VARCHAR},
      </if>
      <if test="standingTime != null" >
        #{standingTime,jdbcType=INTEGER},
      </if>
      <if test="deviceType != null" >
        #{deviceType,jdbcType=VARCHAR},
      </if>
      <if test="deviceKey != null" >
        #{deviceKey,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="appUuid != null" >
        #{appUuid,jdbcType=VARCHAR},
      </if>
      <if test="uId != null" >
        #{uId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="zhang.lao.model.LogFitting" >
    update log_fitting
    <set >
      <if test="goodsId != null" >
        goods_id = #{goodsId,jdbcType=BIGINT},
      </if>
      <if test="sex != null" >
        sex = #{sex,jdbcType=VARCHAR},
      </if>
      <if test="brand != null" >
        brand = #{brand,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="style != null" >
        style = #{style,jdbcType=VARCHAR},
      </if>
      <if test="color != null" >
        color = #{color,jdbcType=VARCHAR},
      </if>
      <if test="shoulderBreadth != null" >
        shoulder_breadth = #{shoulderBreadth,jdbcType=VARCHAR},
      </if>
      <if test="hipline != null" >
        hipline = #{hipline,jdbcType=VARCHAR},
      </if>
      <if test="waistline != null" >
        waistline = #{waistline,jdbcType=VARCHAR},
      </if>
      <if test="bust != null" >
        bust = #{bust,jdbcType=VARCHAR},
      </if>
      <if test="weight != null" >
        weight = #{weight,jdbcType=VARCHAR},
      </if>
      <if test="height != null" >
        height = #{height,jdbcType=VARCHAR},
      </if>
      <if test="size != null" >
        size = #{size,jdbcType=VARCHAR},
      </if>
      <if test="standingTime != null" >
        standing_time = #{standingTime,jdbcType=INTEGER},
      </if>
      <if test="deviceType != null" >
        device_type = #{deviceType,jdbcType=VARCHAR},
      </if>
      <if test="deviceKey != null" >
        device_key = #{deviceKey,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="appUuid != null" >
        app_uuid = #{appUuid,jdbcType=VARCHAR},
      </if>
      <if test="uId != null" >
        u_id = #{uId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="zhang.lao.model.LogFitting" >
    update log_fitting
    set goods_id = #{goodsId,jdbcType=BIGINT},
      sex = #{sex,jdbcType=VARCHAR},
      brand = #{brand,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR},
      style = #{style,jdbcType=VARCHAR},
      color = #{color,jdbcType=VARCHAR},
      shoulder_breadth = #{shoulderBreadth,jdbcType=VARCHAR},
      hipline = #{hipline,jdbcType=VARCHAR},
      waistline = #{waistline,jdbcType=VARCHAR},
      bust = #{bust,jdbcType=VARCHAR},
      weight = #{weight,jdbcType=VARCHAR},
      height = #{height,jdbcType=VARCHAR},
      size = #{size,jdbcType=VARCHAR},
      standing_time = #{standingTime,jdbcType=INTEGER},
      device_type = #{deviceType,jdbcType=VARCHAR},
      device_key = #{deviceKey,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      app_uuid = #{appUuid,jdbcType=VARCHAR},
      u_id = #{uId,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>