<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="zhang.lao.dao.LogStatureMapper" >
  <resultMap id="BaseResultMap" type="zhang.lao.model.LogStature" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="sex" property="sex" jdbcType="VARCHAR" />
    <result column="shoulder_breadth" property="shoulderBreadth" jdbcType="VARCHAR" />
    <result column="hipline" property="hipline" jdbcType="VARCHAR" />
    <result column="waistline" property="waistline" jdbcType="VARCHAR" />
    <result column="bust" property="bust" jdbcType="VARCHAR" />
    <result column="weight" property="weight" jdbcType="VARCHAR" />
    <result column="height" property="height" jdbcType="VARCHAR" />
    <result column="size" property="size" jdbcType="VARCHAR" />
    <result column="device_type" property="deviceType" jdbcType="VARCHAR" />
    <result column="device_key" property="deviceKey" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="app_uuid" property="appUuid" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, sex, shoulder_breadth, hipline, waistline, bust, weight, height, size, device_type, 
    device_key, create_time, app_uuid
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from log_stature
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from log_stature
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="zhang.lao.model.LogStature" >
    insert into log_stature (id, sex, shoulder_breadth, 
      hipline, waistline, bust, 
      weight, height, size, 
      device_type, device_key, create_time, 
      app_uuid)
    values (#{id,jdbcType=BIGINT}, #{sex,jdbcType=VARCHAR}, #{shoulderBreadth,jdbcType=VARCHAR}, 
      #{hipline,jdbcType=VARCHAR}, #{waistline,jdbcType=VARCHAR}, #{bust,jdbcType=VARCHAR}, 
      #{weight,jdbcType=VARCHAR}, #{height,jdbcType=VARCHAR}, #{size,jdbcType=VARCHAR}, 
      #{deviceType,jdbcType=VARCHAR}, #{deviceKey,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{appUuid,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="zhang.lao.model.LogStature" >
    insert into log_stature
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="sex != null" >
        sex,
      </if>
      <if test="shoulderBreadth != null" >
        shoulder_breadth,
      </if>
      <if test="hipline != null" >
        hipline,
      </if>
      <if test="waistline != null" >
        waistline,
      </if>
      <if test="bust != null" >
        bust,
      </if>
      <if test="weight != null" >
        weight,
      </if>
      <if test="height != null" >
        height,
      </if>
      <if test="size != null" >
        size,
      </if>
      <if test="deviceType != null" >
        device_type,
      </if>
      <if test="deviceKey != null" >
        device_key,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="appUuid != null" >
        app_uuid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="sex != null" >
        #{sex,jdbcType=VARCHAR},
      </if>
      <if test="shoulderBreadth != null" >
        #{shoulderBreadth,jdbcType=VARCHAR},
      </if>
      <if test="hipline != null" >
        #{hipline,jdbcType=VARCHAR},
      </if>
      <if test="waistline != null" >
        #{waistline,jdbcType=VARCHAR},
      </if>
      <if test="bust != null" >
        #{bust,jdbcType=VARCHAR},
      </if>
      <if test="weight != null" >
        #{weight,jdbcType=VARCHAR},
      </if>
      <if test="height != null" >
        #{height,jdbcType=VARCHAR},
      </if>
      <if test="size != null" >
        #{size,jdbcType=VARCHAR},
      </if>
      <if test="deviceType != null" >
        #{deviceType,jdbcType=VARCHAR},
      </if>
      <if test="deviceKey != null" >
        #{deviceKey,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="appUuid != null" >
        #{appUuid,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="zhang.lao.model.LogStature" >
    update log_stature
    <set >
      <if test="sex != null" >
        sex = #{sex,jdbcType=VARCHAR},
      </if>
      <if test="shoulderBreadth != null" >
        shoulder_breadth = #{shoulderBreadth,jdbcType=VARCHAR},
      </if>
      <if test="hipline != null" >
        hipline = #{hipline,jdbcType=VARCHAR},
      </if>
      <if test="waistline != null" >
        waistline = #{waistline,jdbcType=VARCHAR},
      </if>
      <if test="bust != null" >
        bust = #{bust,jdbcType=VARCHAR},
      </if>
      <if test="weight != null" >
        weight = #{weight,jdbcType=VARCHAR},
      </if>
      <if test="height != null" >
        height = #{height,jdbcType=VARCHAR},
      </if>
      <if test="size != null" >
        size = #{size,jdbcType=VARCHAR},
      </if>
      <if test="deviceType != null" >
        device_type = #{deviceType,jdbcType=VARCHAR},
      </if>
      <if test="deviceKey != null" >
        device_key = #{deviceKey,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="appUuid != null" >
        app_uuid = #{appUuid,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="zhang.lao.model.LogStature" >
    update log_stature
    set sex = #{sex,jdbcType=VARCHAR},
      shoulder_breadth = #{shoulderBreadth,jdbcType=VARCHAR},
      hipline = #{hipline,jdbcType=VARCHAR},
      waistline = #{waistline,jdbcType=VARCHAR},
      bust = #{bust,jdbcType=VARCHAR},
      weight = #{weight,jdbcType=VARCHAR},
      height = #{height,jdbcType=VARCHAR},
      size = #{size,jdbcType=VARCHAR},
      device_type = #{deviceType,jdbcType=VARCHAR},
      device_key = #{deviceKey,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      app_uuid = #{appUuid,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>