<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="zhang.lao.dao.MemberStatureMapper" >
  <resultMap id="BaseResultMap" type="zhang.lao.model.MemberStature" >
    <id column="ms_id" property="msId" jdbcType="BIGINT" />
    <result column="u_id" property="uId" jdbcType="BIGINT" />
    <result column="u_sex" property="uSex" jdbcType="VARCHAR" />
    <result column="mod_size" property="modSize" jdbcType="VARCHAR" />
    <result column="mod_height" property="modHeight" jdbcType="DECIMAL" />
    <result column="mod_bust" property="modBust" jdbcType="DECIMAL" />
    <result column="mod_waist" property="modWaist" jdbcType="DECIMAL" />
    <result column="mod_hip" property="modHip" jdbcType="DECIMAL" />
    <result column="mod_weight" property="modWeight" jdbcType="DECIMAL" />
    <result column="mod_shoulder" property="modShoulder" jdbcType="DECIMAL" />
    <result column="arm_len" property="armLen" jdbcType="DECIMAL" />
    <result column="mod_thigh" property="modThigh" jdbcType="DECIMAL" />
    <result column="leg_len" property="legLen" jdbcType="DECIMAL" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    ms_id, u_id, u_sex, mod_size, mod_height, mod_bust, mod_waist, mod_hip, mod_weight, 
    mod_shoulder, arm_len, mod_thigh, leg_len, create_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from member_stature
    where ms_id = #{msId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from member_stature
    where ms_id = #{msId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="zhang.lao.model.MemberStature" >
    insert into member_stature (ms_id, u_id, u_sex, 
      mod_size, mod_height, mod_bust, 
      mod_waist, mod_hip, mod_weight, 
      mod_shoulder, arm_len, mod_thigh, 
      leg_len, create_time)
    values (#{msId,jdbcType=BIGINT}, #{uId,jdbcType=BIGINT}, #{uSex,jdbcType=VARCHAR}, 
      #{modSize,jdbcType=VARCHAR}, #{modHeight,jdbcType=DECIMAL}, #{modBust,jdbcType=DECIMAL}, 
      #{modWaist,jdbcType=DECIMAL}, #{modHip,jdbcType=DECIMAL}, #{modWeight,jdbcType=DECIMAL}, 
      #{modShoulder,jdbcType=DECIMAL}, #{armLen,jdbcType=DECIMAL}, #{modThigh,jdbcType=DECIMAL}, 
      #{legLen,jdbcType=DECIMAL}, #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="zhang.lao.model.MemberStature" >
    insert into member_stature
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="msId != null" >
        ms_id,
      </if>
      <if test="uId != null" >
        u_id,
      </if>
      <if test="uSex != null" >
        u_sex,
      </if>
      <if test="modSize != null" >
        mod_size,
      </if>
      <if test="modHeight != null" >
        mod_height,
      </if>
      <if test="modBust != null" >
        mod_bust,
      </if>
      <if test="modWaist != null" >
        mod_waist,
      </if>
      <if test="modHip != null" >
        mod_hip,
      </if>
      <if test="modWeight != null" >
        mod_weight,
      </if>
      <if test="modShoulder != null" >
        mod_shoulder,
      </if>
      <if test="armLen != null" >
        arm_len,
      </if>
      <if test="modThigh != null" >
        mod_thigh,
      </if>
      <if test="legLen != null" >
        leg_len,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="msId != null" >
        #{msId,jdbcType=BIGINT},
      </if>
      <if test="uId != null" >
        #{uId,jdbcType=BIGINT},
      </if>
      <if test="uSex != null" >
        #{uSex,jdbcType=VARCHAR},
      </if>
      <if test="modSize != null" >
        #{modSize,jdbcType=VARCHAR},
      </if>
      <if test="modHeight != null" >
        #{modHeight,jdbcType=DECIMAL},
      </if>
      <if test="modBust != null" >
        #{modBust,jdbcType=DECIMAL},
      </if>
      <if test="modWaist != null" >
        #{modWaist,jdbcType=DECIMAL},
      </if>
      <if test="modHip != null" >
        #{modHip,jdbcType=DECIMAL},
      </if>
      <if test="modWeight != null" >
        #{modWeight,jdbcType=DECIMAL},
      </if>
      <if test="modShoulder != null" >
        #{modShoulder,jdbcType=DECIMAL},
      </if>
      <if test="armLen != null" >
        #{armLen,jdbcType=DECIMAL},
      </if>
      <if test="modThigh != null" >
        #{modThigh,jdbcType=DECIMAL},
      </if>
      <if test="legLen != null" >
        #{legLen,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="zhang.lao.model.MemberStature" >
    update member_stature
    <set >
      <if test="uId != null" >
        u_id = #{uId,jdbcType=BIGINT},
      </if>
      <if test="uSex != null" >
        u_sex = #{uSex,jdbcType=VARCHAR},
      </if>
      <if test="modSize != null" >
        mod_size = #{modSize,jdbcType=VARCHAR},
      </if>
      <if test="modHeight != null" >
        mod_height = #{modHeight,jdbcType=DECIMAL},
      </if>
      <if test="modBust != null" >
        mod_bust = #{modBust,jdbcType=DECIMAL},
      </if>
      <if test="modWaist != null" >
        mod_waist = #{modWaist,jdbcType=DECIMAL},
      </if>
      <if test="modHip != null" >
        mod_hip = #{modHip,jdbcType=DECIMAL},
      </if>
      <if test="modWeight != null" >
        mod_weight = #{modWeight,jdbcType=DECIMAL},
      </if>
      <if test="modShoulder != null" >
        mod_shoulder = #{modShoulder,jdbcType=DECIMAL},
      </if>
      <if test="armLen != null" >
        arm_len = #{armLen,jdbcType=DECIMAL},
      </if>
      <if test="modThigh != null" >
        mod_thigh = #{modThigh,jdbcType=DECIMAL},
      </if>
      <if test="legLen != null" >
        leg_len = #{legLen,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ms_id = #{msId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="zhang.lao.model.MemberStature" >
    update member_stature
    set u_id = #{uId,jdbcType=BIGINT},
      u_sex = #{uSex,jdbcType=VARCHAR},
      mod_size = #{modSize,jdbcType=VARCHAR},
      mod_height = #{modHeight,jdbcType=DECIMAL},
      mod_bust = #{modBust,jdbcType=DECIMAL},
      mod_waist = #{modWaist,jdbcType=DECIMAL},
      mod_hip = #{modHip,jdbcType=DECIMAL},
      mod_weight = #{modWeight,jdbcType=DECIMAL},
      mod_shoulder = #{modShoulder,jdbcType=DECIMAL},
      arm_len = #{armLen,jdbcType=DECIMAL},
      mod_thigh = #{modThigh,jdbcType=DECIMAL},
      leg_len = #{legLen,jdbcType=DECIMAL},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where ms_id = #{msId,jdbcType=BIGINT}
  </update>
</mapper>