<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="zhang.lao.dao.MemberFansMapper" >
  <resultMap id="BaseResultMap" type="zhang.lao.model.MemberFans" >
    <id column="mf_id" property="mfId" jdbcType="BIGINT" />
    <result column="u_id" property="uId" jdbcType="BIGINT" />
    <result column="fans_uid" property="fansUid" jdbcType="BIGINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    mf_id, u_id, fans_uid, create_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from member_fans
    where mf_id = #{mfId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from member_fans
    where mf_id = #{mfId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="zhang.lao.model.MemberFans" >
    insert into member_fans (mf_id, u_id, fans_uid, 
      create_time)
    values (#{mfId,jdbcType=BIGINT}, #{uId,jdbcType=BIGINT}, #{fansUid,jdbcType=BIGINT}, 
      #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="zhang.lao.model.MemberFans" >
    insert into member_fans
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="mfId != null" >
        mf_id,
      </if>
      <if test="uId != null" >
        u_id,
      </if>
      <if test="fansUid != null" >
        fans_uid,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="mfId != null" >
        #{mfId,jdbcType=BIGINT},
      </if>
      <if test="uId != null" >
        #{uId,jdbcType=BIGINT},
      </if>
      <if test="fansUid != null" >
        #{fansUid,jdbcType=BIGINT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="zhang.lao.model.MemberFans" >
    update member_fans
    <set >
      <if test="uId != null" >
        u_id = #{uId,jdbcType=BIGINT},
      </if>
      <if test="fansUid != null" >
        fans_uid = #{fansUid,jdbcType=BIGINT},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where mf_id = #{mfId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="zhang.lao.model.MemberFans" >
    update member_fans
    set u_id = #{uId,jdbcType=BIGINT},
      fans_uid = #{fansUid,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where mf_id = #{mfId,jdbcType=BIGINT}
  </update>
</mapper>