<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="zhang.lao.dao.MemberBindMapper" >
  <resultMap id="BaseResultMap" type="zhang.lao.model.MemberBind" >
    <id column="mb_id" property="mbId" jdbcType="BIGINT" />
    <result column="u_id" property="uId" jdbcType="BIGINT" />
    <result column="bind_type" property="bindType" jdbcType="VARCHAR" />
    <result column="keyid" property="keyid" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="status" property="status" jdbcType="SMALLINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    mb_id, u_id, bind_type, keyid, create_time, status
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from member_bind
    where mb_id = #{mbId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from member_bind
    where mb_id = #{mbId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="zhang.lao.model.MemberBind" >
    insert into member_bind (mb_id, u_id, bind_type, 
      keyid, create_time, status
      )
    values (#{mbId,jdbcType=BIGINT}, #{uId,jdbcType=BIGINT}, #{bindType,jdbcType=VARCHAR}, 
      #{keyid,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{status,jdbcType=SMALLINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="zhang.lao.model.MemberBind" >
    insert into member_bind
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="mbId != null" >
        mb_id,
      </if>
      <if test="uId != null" >
        u_id,
      </if>
      <if test="bindType != null" >
        bind_type,
      </if>
      <if test="keyid != null" >
        keyid,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="status != null" >
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="mbId != null" >
        #{mbId,jdbcType=BIGINT},
      </if>
      <if test="uId != null" >
        #{uId,jdbcType=BIGINT},
      </if>
      <if test="bindType != null" >
        #{bindType,jdbcType=VARCHAR},
      </if>
      <if test="keyid != null" >
        #{keyid,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        #{status,jdbcType=SMALLINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="zhang.lao.model.MemberBind" >
    update member_bind
    <set >
      <if test="uId != null" >
        u_id = #{uId,jdbcType=BIGINT},
      </if>
      <if test="bindType != null" >
        bind_type = #{bindType,jdbcType=VARCHAR},
      </if>
      <if test="keyid != null" >
        keyid = #{keyid,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=SMALLINT},
      </if>
    </set>
    where mb_id = #{mbId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="zhang.lao.model.MemberBind" >
    update member_bind
    set u_id = #{uId,jdbcType=BIGINT},
      bind_type = #{bindType,jdbcType=VARCHAR},
      keyid = #{keyid,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=SMALLINT}
    where mb_id = #{mbId,jdbcType=BIGINT}
  </update>
</mapper>