<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="zhang.lao.dao.MemberMapper" >
  <resultMap id="BaseResultMap" type="zhang.lao.model.Member" >
    <id column="u_id" property="uId" jdbcType="BIGINT" />
    <result column="nick_name" property="nickName" jdbcType="VARCHAR" />
    <result column="u_pass" property="uPass" jdbcType="VARCHAR" />
    <result column="u_sex" property="uSex" jdbcType="VARCHAR" />
    <result column="u_age" property="uAge" jdbcType="SMALLINT" />
    <result column="u_pic" property="uPic" jdbcType="VARCHAR" />
    <result column="u_phone" property="uPhone" jdbcType="VARCHAR" />
    <result column="city" property="city" jdbcType="VARCHAR" />
    <result column="region" property="region" jdbcType="VARCHAR" />
    <result column="uuid" property="uuid" jdbcType="VARCHAR" />
    <result column="device_token" property="deviceToken" jdbcType="VARCHAR" />
    <result column="device_type" property="deviceType" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="SMALLINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="req_msg_time" property="reqMsgTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    u_id, nick_name, u_pass, u_sex, u_age, u_pic, u_phone, city, region, uuid, device_token, 
    device_type, status, create_time, req_msg_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from member
    where u_id = #{uId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from member
    where u_id = #{uId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="zhang.lao.model.Member" >
    insert into member (u_id, nick_name, u_pass, 
      u_sex, u_age, u_pic, 
      u_phone, city, region, 
      uuid, device_token, device_type, 
      status, create_time, req_msg_time
      )
    values (#{uId,jdbcType=BIGINT}, #{nickName,jdbcType=VARCHAR}, #{uPass,jdbcType=VARCHAR}, 
      #{uSex,jdbcType=VARCHAR}, #{uAge,jdbcType=SMALLINT}, #{uPic,jdbcType=VARCHAR}, 
      #{uPhone,jdbcType=VARCHAR}, #{city,jdbcType=VARCHAR}, #{region,jdbcType=VARCHAR}, 
      #{uuid,jdbcType=VARCHAR}, #{deviceToken,jdbcType=VARCHAR}, #{deviceType,jdbcType=VARCHAR}, 
      #{status,jdbcType=SMALLINT}, #{createTime,jdbcType=TIMESTAMP}, #{reqMsgTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="zhang.lao.model.Member" >
    insert into member
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="uId != null" >
        u_id,
      </if>
      <if test="nickName != null" >
        nick_name,
      </if>
      <if test="uPass != null" >
        u_pass,
      </if>
      <if test="uSex != null" >
        u_sex,
      </if>
      <if test="uAge != null" >
        u_age,
      </if>
      <if test="uPic != null" >
        u_pic,
      </if>
      <if test="uPhone != null" >
        u_phone,
      </if>
      <if test="city != null" >
        city,
      </if>
      <if test="region != null" >
        region,
      </if>
      <if test="uuid != null" >
        uuid,
      </if>
      <if test="deviceToken != null" >
        device_token,
      </if>
      <if test="deviceType != null" >
        device_type,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="reqMsgTime != null" >
        req_msg_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="uId != null" >
        #{uId,jdbcType=BIGINT},
      </if>
      <if test="nickName != null" >
        #{nickName,jdbcType=VARCHAR},
      </if>
      <if test="uPass != null" >
        #{uPass,jdbcType=VARCHAR},
      </if>
      <if test="uSex != null" >
        #{uSex,jdbcType=VARCHAR},
      </if>
      <if test="uAge != null" >
        #{uAge,jdbcType=SMALLINT},
      </if>
      <if test="uPic != null" >
        #{uPic,jdbcType=VARCHAR},
      </if>
      <if test="uPhone != null" >
        #{uPhone,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="region != null" >
        #{region,jdbcType=VARCHAR},
      </if>
      <if test="uuid != null" >
        #{uuid,jdbcType=VARCHAR},
      </if>
      <if test="deviceToken != null" >
        #{deviceToken,jdbcType=VARCHAR},
      </if>
      <if test="deviceType != null" >
        #{deviceType,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=SMALLINT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="reqMsgTime != null" >
        #{reqMsgTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="zhang.lao.model.Member" >
    update member
    <set >
      <if test="nickName != null" >
        nick_name = #{nickName,jdbcType=VARCHAR},
      </if>
      <if test="uPass != null" >
        u_pass = #{uPass,jdbcType=VARCHAR},
      </if>
      <if test="uSex != null" >
        u_sex = #{uSex,jdbcType=VARCHAR},
      </if>
      <if test="uAge != null" >
        u_age = #{uAge,jdbcType=SMALLINT},
      </if>
      <if test="uPic != null" >
        u_pic = #{uPic,jdbcType=VARCHAR},
      </if>
      <if test="uPhone != null" >
        u_phone = #{uPhone,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        city = #{city,jdbcType=VARCHAR},
      </if>
      <if test="region != null" >
        region = #{region,jdbcType=VARCHAR},
      </if>
      <if test="uuid != null" >
        uuid = #{uuid,jdbcType=VARCHAR},
      </if>
      <if test="deviceToken != null" >
        device_token = #{deviceToken,jdbcType=VARCHAR},
      </if>
      <if test="deviceType != null" >
        device_type = #{deviceType,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=SMALLINT},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="reqMsgTime != null" >
        req_msg_time = #{reqMsgTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where u_id = #{uId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="zhang.lao.model.Member" >
    update member
    set nick_name = #{nickName,jdbcType=VARCHAR},
      u_pass = #{uPass,jdbcType=VARCHAR},
      u_sex = #{uSex,jdbcType=VARCHAR},
      u_age = #{uAge,jdbcType=SMALLINT},
      u_pic = #{uPic,jdbcType=VARCHAR},
      u_phone = #{uPhone,jdbcType=VARCHAR},
      city = #{city,jdbcType=VARCHAR},
      region = #{region,jdbcType=VARCHAR},
      uuid = #{uuid,jdbcType=VARCHAR},
      device_token = #{deviceToken,jdbcType=VARCHAR},
      device_type = #{deviceType,jdbcType=VARCHAR},
      status = #{status,jdbcType=SMALLINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      req_msg_time = #{reqMsgTime,jdbcType=TIMESTAMP}
    where u_id = #{uId,jdbcType=BIGINT}
  </update>
</mapper>