<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="zhang.lao.dao.ModBodyMapper" >
  <resultMap id="BaseResultMap" type="zhang.lao.model.ModBody" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="sex" property="sex" jdbcType="VARCHAR" />
    <result column="model_url" property="modelUrl" jdbcType="VARCHAR" />
    <result column="model_img" property="modelImg" jdbcType="VARCHAR" />
    <result column="terminal" property="terminal" jdbcType="VARCHAR" />
    <result column="version" property="version" jdbcType="VARCHAR" />
    <result column="md5_code" property="md5Code" jdbcType="VARCHAR" />
    <result column="sort" property="sort" jdbcType="SMALLINT" />
    <result column="status" property="status" jdbcType="SMALLINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, sex, model_url, model_img, terminal, version, md5_code, sort, status
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from mod_body
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from mod_body
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="zhang.lao.model.ModBody" >
    insert into mod_body (id, sex, model_url, 
      model_img, terminal, version, 
      md5_code, sort, status
      )
    values (#{id,jdbcType=INTEGER}, #{sex,jdbcType=VARCHAR}, #{modelUrl,jdbcType=VARCHAR}, 
      #{modelImg,jdbcType=VARCHAR}, #{terminal,jdbcType=VARCHAR}, #{version,jdbcType=VARCHAR}, 
      #{md5Code,jdbcType=VARCHAR}, #{sort,jdbcType=SMALLINT}, #{status,jdbcType=SMALLINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="zhang.lao.model.ModBody" >
    insert into mod_body
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="sex != null" >
        sex,
      </if>
      <if test="modelUrl != null" >
        model_url,
      </if>
      <if test="modelImg != null" >
        model_img,
      </if>
      <if test="terminal != null" >
        terminal,
      </if>
      <if test="version != null" >
        version,
      </if>
      <if test="md5Code != null" >
        md5_code,
      </if>
      <if test="sort != null" >
        sort,
      </if>
      <if test="status != null" >
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="sex != null" >
        #{sex,jdbcType=VARCHAR},
      </if>
      <if test="modelUrl != null" >
        #{modelUrl,jdbcType=VARCHAR},
      </if>
      <if test="modelImg != null" >
        #{modelImg,jdbcType=VARCHAR},
      </if>
      <if test="terminal != null" >
        #{terminal,jdbcType=VARCHAR},
      </if>
      <if test="version != null" >
        #{version,jdbcType=VARCHAR},
      </if>
      <if test="md5Code != null" >
        #{md5Code,jdbcType=VARCHAR},
      </if>
      <if test="sort != null" >
        #{sort,jdbcType=SMALLINT},
      </if>
      <if test="status != null" >
        #{status,jdbcType=SMALLINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="zhang.lao.model.ModBody" >
    update mod_body
    <set >
      <if test="sex != null" >
        sex = #{sex,jdbcType=VARCHAR},
      </if>
      <if test="modelUrl != null" >
        model_url = #{modelUrl,jdbcType=VARCHAR},
      </if>
      <if test="modelImg != null" >
        model_img = #{modelImg,jdbcType=VARCHAR},
      </if>
      <if test="terminal != null" >
        terminal = #{terminal,jdbcType=VARCHAR},
      </if>
      <if test="version != null" >
        version = #{version,jdbcType=VARCHAR},
      </if>
      <if test="md5Code != null" >
        md5_code = #{md5Code,jdbcType=VARCHAR},
      </if>
      <if test="sort != null" >
        sort = #{sort,jdbcType=SMALLINT},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=SMALLINT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="zhang.lao.model.ModBody" >
    update mod_body
    set sex = #{sex,jdbcType=VARCHAR},
      model_url = #{modelUrl,jdbcType=VARCHAR},
      model_img = #{modelImg,jdbcType=VARCHAR},
      terminal = #{terminal,jdbcType=VARCHAR},
      version = #{version,jdbcType=VARCHAR},
      md5_code = #{md5Code,jdbcType=VARCHAR},
      sort = #{sort,jdbcType=SMALLINT},
      status = #{status,jdbcType=SMALLINT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>