<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="zhang.lao.dao.ModComplexionMapper" >
  <resultMap id="BaseResultMap" type="zhang.lao.model.ModComplexion" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="sex" property="sex" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="model_url" property="modelUrl" jdbcType="VARCHAR" />
    <result column="complexion_img" property="complexionImg" jdbcType="VARCHAR" />
    <result column="sort" property="sort" jdbcType="SMALLINT" />
    <result column="status" property="status" jdbcType="SMALLINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, sex, name, model_url, complexion_img, sort, status
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from mod_complexion
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from mod_complexion
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="zhang.lao.model.ModComplexion" >
    insert into mod_complexion (id, sex, name, 
      model_url, complexion_img, sort, 
      status)
    values (#{id,jdbcType=INTEGER}, #{sex,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{modelUrl,jdbcType=VARCHAR}, #{complexionImg,jdbcType=VARCHAR}, #{sort,jdbcType=SMALLINT}, 
      #{status,jdbcType=SMALLINT})
  </insert>
  <insert id="insertSelective" parameterType="zhang.lao.model.ModComplexion" >
    insert into mod_complexion
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="sex != null" >
        sex,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="modelUrl != null" >
        model_url,
      </if>
      <if test="complexionImg != null" >
        complexion_img,
      </if>
      <if test="sort != null" >
        sort,
      </if>
      <if test="status != null" >
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="sex != null" >
        #{sex,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="modelUrl != null" >
        #{modelUrl,jdbcType=VARCHAR},
      </if>
      <if test="complexionImg != null" >
        #{complexionImg,jdbcType=VARCHAR},
      </if>
      <if test="sort != null" >
        #{sort,jdbcType=SMALLINT},
      </if>
      <if test="status != null" >
        #{status,jdbcType=SMALLINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="zhang.lao.model.ModComplexion" >
    update mod_complexion
    <set >
      <if test="sex != null" >
        sex = #{sex,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="modelUrl != null" >
        model_url = #{modelUrl,jdbcType=VARCHAR},
      </if>
      <if test="complexionImg != null" >
        complexion_img = #{complexionImg,jdbcType=VARCHAR},
      </if>
      <if test="sort != null" >
        sort = #{sort,jdbcType=SMALLINT},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=SMALLINT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="zhang.lao.model.ModComplexion" >
    update mod_complexion
    set sex = #{sex,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      model_url = #{modelUrl,jdbcType=VARCHAR},
      complexion_img = #{complexionImg,jdbcType=VARCHAR},
      sort = #{sort,jdbcType=SMALLINT},
      status = #{status,jdbcType=SMALLINT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>