<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="zhang.lao.dao.ModHairdoMapper" >
  <resultMap id="BaseResultMap" type="zhang.lao.model.ModHairdo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="sex" property="sex" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="model_url" property="modelUrl" jdbcType="VARCHAR" />
    <result column="hairdo_img" property="hairdoImg" jdbcType="VARCHAR" />
    <result column="terminal" property="terminal" jdbcType="VARCHAR" />
    <result column="version" property="version" jdbcType="VARCHAR" />
    <result column="sort" property="sort" jdbcType="SMALLINT" />
    <result column="status" property="status" jdbcType="SMALLINT" />
    <result column="md5_code" property="md5Code" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, sex, name, model_url, hairdo_img, terminal, version, sort, status, md5_code
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from mod_hairdo
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from mod_hairdo
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="zhang.lao.model.ModHairdo" >
    insert into mod_hairdo (id, sex, name, 
      model_url, hairdo_img, terminal, 
      version, sort, status, 
      md5_code)
    values (#{id,jdbcType=INTEGER}, #{sex,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{modelUrl,jdbcType=VARCHAR}, #{hairdoImg,jdbcType=VARCHAR}, #{terminal,jdbcType=VARCHAR}, 
      #{version,jdbcType=VARCHAR}, #{sort,jdbcType=SMALLINT}, #{status,jdbcType=SMALLINT}, 
      #{md5Code,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="zhang.lao.model.ModHairdo" >
    insert into mod_hairdo
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="sex != null" >
        sex,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="modelUrl != null" >
        model_url,
      </if>
      <if test="hairdoImg != null" >
        hairdo_img,
      </if>
      <if test="terminal != null" >
        terminal,
      </if>
      <if test="version != null" >
        version,
      </if>
      <if test="sort != null" >
        sort,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="md5Code != null" >
        md5_code,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="sex != null" >
        #{sex,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="modelUrl != null" >
        #{modelUrl,jdbcType=VARCHAR},
      </if>
      <if test="hairdoImg != null" >
        #{hairdoImg,jdbcType=VARCHAR},
      </if>
      <if test="terminal != null" >
        #{terminal,jdbcType=VARCHAR},
      </if>
      <if test="version != null" >
        #{version,jdbcType=VARCHAR},
      </if>
      <if test="sort != null" >
        #{sort,jdbcType=SMALLINT},
      </if>
      <if test="status != null" >
        #{status,jdbcType=SMALLINT},
      </if>
      <if test="md5Code != null" >
        #{md5Code,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="zhang.lao.model.ModHairdo" >
    update mod_hairdo
    <set >
      <if test="sex != null" >
        sex = #{sex,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="modelUrl != null" >
        model_url = #{modelUrl,jdbcType=VARCHAR},
      </if>
      <if test="hairdoImg != null" >
        hairdo_img = #{hairdoImg,jdbcType=VARCHAR},
      </if>
      <if test="terminal != null" >
        terminal = #{terminal,jdbcType=VARCHAR},
      </if>
      <if test="version != null" >
        version = #{version,jdbcType=VARCHAR},
      </if>
      <if test="sort != null" >
        sort = #{sort,jdbcType=SMALLINT},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=SMALLINT},
      </if>
      <if test="md5Code != null" >
        md5_code = #{md5Code,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="zhang.lao.model.ModHairdo" >
    update mod_hairdo
    set sex = #{sex,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      model_url = #{modelUrl,jdbcType=VARCHAR},
      hairdo_img = #{hairdoImg,jdbcType=VARCHAR},
      terminal = #{terminal,jdbcType=VARCHAR},
      version = #{version,jdbcType=VARCHAR},
      sort = #{sort,jdbcType=SMALLINT},
      status = #{status,jdbcType=SMALLINT},
      md5_code = #{md5Code,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>