<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="zhang.lao.dao.PushIosMapper" >
  <resultMap id="BaseResultMap" type="zhang.lao.model.PushIos" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="remind_the_way" property="remindTheWay" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="status" property="status" jdbcType="SMALLINT" />
    <result column="pp_id" property="ppId" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="zhang.lao.model.PushIos" extends="BaseResultMap" >
    <result column="content" property="content" jdbcType="LONGVARCHAR" />
    <result column="parameter" property="parameter" jdbcType="LONGVARCHAR" />
    <result column="send_to" property="sendTo" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, remind_the_way, create_time, status, pp_id
  </sql>
  <sql id="Blob_Column_List" >
    content, parameter, send_to
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from push_ios
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from push_ios
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="zhang.lao.model.PushIos" >
    insert into push_ios (id, remind_the_way, create_time, 
      status, pp_id, content, 
      parameter, send_to)
    values (#{id,jdbcType=INTEGER}, #{remindTheWay,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{status,jdbcType=SMALLINT}, #{ppId,jdbcType=INTEGER}, #{content,jdbcType=LONGVARCHAR}, 
      #{parameter,jdbcType=LONGVARCHAR}, #{sendTo,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="zhang.lao.model.PushIos" >
    insert into push_ios
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="remindTheWay != null" >
        remind_the_way,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="ppId != null" >
        pp_id,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="parameter != null" >
        parameter,
      </if>
      <if test="sendTo != null" >
        send_to,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="remindTheWay != null" >
        #{remindTheWay,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        #{status,jdbcType=SMALLINT},
      </if>
      <if test="ppId != null" >
        #{ppId,jdbcType=INTEGER},
      </if>
      <if test="content != null" >
        #{content,jdbcType=LONGVARCHAR},
      </if>
      <if test="parameter != null" >
        #{parameter,jdbcType=LONGVARCHAR},
      </if>
      <if test="sendTo != null" >
        #{sendTo,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="zhang.lao.model.PushIos" >
    update push_ios
    <set >
      <if test="remindTheWay != null" >
        remind_the_way = #{remindTheWay,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=SMALLINT},
      </if>
      <if test="ppId != null" >
        pp_id = #{ppId,jdbcType=INTEGER},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=LONGVARCHAR},
      </if>
      <if test="parameter != null" >
        parameter = #{parameter,jdbcType=LONGVARCHAR},
      </if>
      <if test="sendTo != null" >
        send_to = #{sendTo,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="zhang.lao.model.PushIos" >
    update push_ios
    set remind_the_way = #{remindTheWay,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=SMALLINT},
      pp_id = #{ppId,jdbcType=INTEGER},
      content = #{content,jdbcType=LONGVARCHAR},
      parameter = #{parameter,jdbcType=LONGVARCHAR},
      send_to = #{sendTo,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="zhang.lao.model.PushIos" >
    update push_ios
    set remind_the_way = #{remindTheWay,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=SMALLINT},
      pp_id = #{ppId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>