<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="zhang.lao.dao.SysMessagesMapper" >
  <resultMap id="BaseResultMap" type="zhang.lao.model.SysMessages" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="trigger_id" property="triggerId" jdbcType="INTEGER" />
    <result column="target_id" property="targetId" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="uuid" property="uuid" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="SMALLINT" />
    <result column="message_type" property="messageType" jdbcType="VARCHAR" />
    <result column="message_source_id" property="messageSourceId" jdbcType="INTEGER" />
    <result column="is_push" property="isPush" jdbcType="SMALLINT" />
    <result column="is_read" property="isRead" jdbcType="SMALLINT" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="zhang.lao.model.SysMessages" extends="BaseResultMap" >
    <result column="message" property="message" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, trigger_id, target_id, create_time, uuid, status, message_type, message_source_id, 
    is_push, is_read
  </sql>
  <sql id="Blob_Column_List" >
    message
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from sys_messages
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from sys_messages
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="zhang.lao.model.SysMessages" >
    insert into sys_messages (id, trigger_id, target_id, 
      create_time, uuid, status, 
      message_type, message_source_id, is_push, 
      is_read, message)
    values (#{id,jdbcType=INTEGER}, #{triggerId,jdbcType=INTEGER}, #{targetId,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP}, #{uuid,jdbcType=VARCHAR}, #{status,jdbcType=SMALLINT}, 
      #{messageType,jdbcType=VARCHAR}, #{messageSourceId,jdbcType=INTEGER}, #{isPush,jdbcType=SMALLINT}, 
      #{isRead,jdbcType=SMALLINT}, #{message,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="zhang.lao.model.SysMessages" >
    insert into sys_messages
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="triggerId != null" >
        trigger_id,
      </if>
      <if test="targetId != null" >
        target_id,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="uuid != null" >
        uuid,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="messageType != null" >
        message_type,
      </if>
      <if test="messageSourceId != null" >
        message_source_id,
      </if>
      <if test="isPush != null" >
        is_push,
      </if>
      <if test="isRead != null" >
        is_read,
      </if>
      <if test="message != null" >
        message,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="triggerId != null" >
        #{triggerId,jdbcType=INTEGER},
      </if>
      <if test="targetId != null" >
        #{targetId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="uuid != null" >
        #{uuid,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=SMALLINT},
      </if>
      <if test="messageType != null" >
        #{messageType,jdbcType=VARCHAR},
      </if>
      <if test="messageSourceId != null" >
        #{messageSourceId,jdbcType=INTEGER},
      </if>
      <if test="isPush != null" >
        #{isPush,jdbcType=SMALLINT},
      </if>
      <if test="isRead != null" >
        #{isRead,jdbcType=SMALLINT},
      </if>
      <if test="message != null" >
        #{message,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="zhang.lao.model.SysMessages" >
    update sys_messages
    <set >
      <if test="triggerId != null" >
        trigger_id = #{triggerId,jdbcType=INTEGER},
      </if>
      <if test="targetId != null" >
        target_id = #{targetId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="uuid != null" >
        uuid = #{uuid,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=SMALLINT},
      </if>
      <if test="messageType != null" >
        message_type = #{messageType,jdbcType=VARCHAR},
      </if>
      <if test="messageSourceId != null" >
        message_source_id = #{messageSourceId,jdbcType=INTEGER},
      </if>
      <if test="isPush != null" >
        is_push = #{isPush,jdbcType=SMALLINT},
      </if>
      <if test="isRead != null" >
        is_read = #{isRead,jdbcType=SMALLINT},
      </if>
      <if test="message != null" >
        message = #{message,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="zhang.lao.model.SysMessages" >
    update sys_messages
    set trigger_id = #{triggerId,jdbcType=INTEGER},
      target_id = #{targetId,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      uuid = #{uuid,jdbcType=VARCHAR},
      status = #{status,jdbcType=SMALLINT},
      message_type = #{messageType,jdbcType=VARCHAR},
      message_source_id = #{messageSourceId,jdbcType=INTEGER},
      is_push = #{isPush,jdbcType=SMALLINT},
      is_read = #{isRead,jdbcType=SMALLINT},
      message = #{message,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="zhang.lao.model.SysMessages" >
    update sys_messages
    set trigger_id = #{triggerId,jdbcType=INTEGER},
      target_id = #{targetId,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      uuid = #{uuid,jdbcType=VARCHAR},
      status = #{status,jdbcType=SMALLINT},
      message_type = #{messageType,jdbcType=VARCHAR},
      message_source_id = #{messageSourceId,jdbcType=INTEGER},
      is_push = #{isPush,jdbcType=SMALLINT},
      is_read = #{isRead,jdbcType=SMALLINT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>