<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="zhang.lao.dao.SysNavMapper" >
  <resultMap id="BaseResultMap" type="zhang.lao.model.SysNav" >
    <id column="nav_id" property="navId" jdbcType="INTEGER" />
    <result column="sys_id" property="sysId" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="url" property="url" jdbcType="VARCHAR" />
    <result column="url_target" property="urlTarget" jdbcType="VARCHAR" />
    <result column="icon_url" property="iconUrl" jdbcType="VARCHAR" />
    <result column="sort" property="sort" jdbcType="SMALLINT" />
    <result column="p_id" property="pId" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="SMALLINT" />
    <result column="uuid" property="uuid" jdbcType="VARCHAR" />
    <result column="level" property="level" jdbcType="SMALLINT" />
    <result column="is_show" property="isShow" jdbcType="SMALLINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    nav_id, sys_id, name, url, url_target, icon_url, sort, p_id, status, uuid, level, 
    is_show
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from sys_nav
    where nav_id = #{navId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from sys_nav
    where nav_id = #{navId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="zhang.lao.model.SysNav" >
    insert into sys_nav (nav_id, sys_id, name, 
      url, url_target, icon_url, 
      sort, p_id, status, 
      uuid, level, is_show
      )
    values (#{navId,jdbcType=INTEGER}, #{sysId,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, 
      #{url,jdbcType=VARCHAR}, #{urlTarget,jdbcType=VARCHAR}, #{iconUrl,jdbcType=VARCHAR}, 
      #{sort,jdbcType=SMALLINT}, #{pId,jdbcType=INTEGER}, #{status,jdbcType=SMALLINT}, 
      #{uuid,jdbcType=VARCHAR}, #{level,jdbcType=SMALLINT}, #{isShow,jdbcType=SMALLINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="zhang.lao.model.SysNav" >
    insert into sys_nav
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="navId != null" >
        nav_id,
      </if>
      <if test="sysId != null" >
        sys_id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="url != null" >
        url,
      </if>
      <if test="urlTarget != null" >
        url_target,
      </if>
      <if test="iconUrl != null" >
        icon_url,
      </if>
      <if test="sort != null" >
        sort,
      </if>
      <if test="pId != null" >
        p_id,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="uuid != null" >
        uuid,
      </if>
      <if test="level != null" >
        level,
      </if>
      <if test="isShow != null" >
        is_show,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="navId != null" >
        #{navId,jdbcType=INTEGER},
      </if>
      <if test="sysId != null" >
        #{sysId,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="url != null" >
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="urlTarget != null" >
        #{urlTarget,jdbcType=VARCHAR},
      </if>
      <if test="iconUrl != null" >
        #{iconUrl,jdbcType=VARCHAR},
      </if>
      <if test="sort != null" >
        #{sort,jdbcType=SMALLINT},
      </if>
      <if test="pId != null" >
        #{pId,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=SMALLINT},
      </if>
      <if test="uuid != null" >
        #{uuid,jdbcType=VARCHAR},
      </if>
      <if test="level != null" >
        #{level,jdbcType=SMALLINT},
      </if>
      <if test="isShow != null" >
        #{isShow,jdbcType=SMALLINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="zhang.lao.model.SysNav" >
    update sys_nav
    <set >
      <if test="sysId != null" >
        sys_id = #{sysId,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="url != null" >
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="urlTarget != null" >
        url_target = #{urlTarget,jdbcType=VARCHAR},
      </if>
      <if test="iconUrl != null" >
        icon_url = #{iconUrl,jdbcType=VARCHAR},
      </if>
      <if test="sort != null" >
        sort = #{sort,jdbcType=SMALLINT},
      </if>
      <if test="pId != null" >
        p_id = #{pId,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=SMALLINT},
      </if>
      <if test="uuid != null" >
        uuid = #{uuid,jdbcType=VARCHAR},
      </if>
      <if test="level != null" >
        level = #{level,jdbcType=SMALLINT},
      </if>
      <if test="isShow != null" >
        is_show = #{isShow,jdbcType=SMALLINT},
      </if>
    </set>
    where nav_id = #{navId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="zhang.lao.model.SysNav" >
    update sys_nav
    set sys_id = #{sysId,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      url = #{url,jdbcType=VARCHAR},
      url_target = #{urlTarget,jdbcType=VARCHAR},
      icon_url = #{iconUrl,jdbcType=VARCHAR},
      sort = #{sort,jdbcType=SMALLINT},
      p_id = #{pId,jdbcType=INTEGER},
      status = #{status,jdbcType=SMALLINT},
      uuid = #{uuid,jdbcType=VARCHAR},
      level = #{level,jdbcType=SMALLINT},
      is_show = #{isShow,jdbcType=SMALLINT}
    where nav_id = #{navId,jdbcType=INTEGER}
  </update>
</mapper>