<link href="${ctxPath}/plugin/bootstrap-3.3.5-dist/css/bootstrap.min.css" media="all" rel="stylesheet" type="text/css" />
<link rel='stylesheet' href='${ctxPath}/plugin/jquery-bootgrid-master/dist/jquery.bootgrid.css' />
<link rel='stylesheet' href='${ctxPath}/plugin/craftpip-jquery-confirm-00f7956/css/jquery-confirm.css' />
<link rel="stylesheet" href="${ctxPath}/plugin/My97DatePicker/skin/WdatePicker.css" type="text/css">
<link href="${ctxPath}/portal_1/css/common.css" media="all" rel="stylesheet" type="text/css" />
<link href="${ctxPath}/portal_2/css/simplify.min.css" media="all" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="${ctxPath}/plugin/artDialog-5.0.4/skins/simple.css" type="text/css">
<link href="${ctxPath}/plugin/jQuery-File-Upload-9.12.5/css/jquery.fileupload.css" type="text/css" rel="stylesheet" />
<link href="${ctxPath}/plugin/jQuery-File-Upload-9.12.5/css/style.css" type="text/css" rel="stylesheet" />
<link href="${ctxPath}/plugin/jQuery-File-Upload-9.12.5/css/laozhang.css" type="text/css" rel="stylesheet" />
