<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
 <html>
 <head>
 <meta http-equiv="X-UA-Compatible" content="IE=edge">  
 <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
 <%
 include("/WEB-INF/view/console/common/css.html"){}
 	%>
   <%
 	include("/WEB-INF/view/console/common/js.html"){}
 	%>
 <title></title>
 </head>
 <body> <nav class="navbar navbar-default navbar-fixed-top site-navbar" >
   <div class="container"> 
  <div class="navbar-header"> 
 <a class="navbar-brand" href="#">sys_nav表单信息</a> 
 </div> 
   </div>
  </nav>
 <form name="sys_nav_form"  id="sys_nav_form" class="form-horizontal" style="margin-top: 60px;">
 <div class="form-group" >
 <label for="xm" class="col-sm-2 control-label"></label>
 <div class="col-sm-6">
 <label class="control-label">${sys_nav.nav_id!}</label>
 </div>
  </div>
 <div class="form-group" >
 <label for="xm" class="col-sm-2 control-label">系统ID</label>
 <div class="col-sm-6">
 <label class="control-label">${sys_nav.sys_id!}</label>
 </div>
  </div>
 <div class="form-group" >
 <label for="xm" class="col-sm-2 control-label">菜单名称</label>
 <div class="col-sm-6">
 <label class="control-label">${sys_nav.name!}</label>
 </div>
  </div>
 <div class="form-group" >
 <label for="xm" class="col-sm-2 control-label">菜单地址</label>
 <div class="col-sm-6">
 <label class="control-label">${sys_nav.url!}</label>
 </div>
  </div>
 <div class="form-group" >
 <label for="xm" class="col-sm-2 control-label">链接打开位置</label>
 <div class="col-sm-6">
 <label class="control-label">${sys_nav.url_target!}</label>
 </div>
  </div>
 <div class="form-group" >
 <label for="xm" class="col-sm-2 control-label">菜单图标_img</label>
 <div class="col-sm-6">
 <label class="control-label">${sys_nav.icon_url!}</label>
 </div>
  </div>
 <div class="form-group" >
 <label for="xm" class="col-sm-2 control-label">排序</label>
 <div class="col-sm-6">
 <label class="control-label">${sys_nav.sort!}</label>
 </div>
  </div>
 <div class="form-group" >
 <label for="xm" class="col-sm-2 control-label">上级ID</label>
 <div class="col-sm-6">
 <label class="control-label">${sys_nav.p_id!}</label>
 </div>
  </div>
 <div class="form-group" >
 <label for="xm" class="col-sm-2 control-label">状态</label>
 <div class="col-sm-6">
 <label><input disabled='disabled' checked='checked' auto_name='sys_navstatus' type="radio"  name="status" value="1"/>可用</label>
 <label><input disabled='disabled'  auto_name='sys_navstatus' type="radio"  name="status" value="0"/>不可用</label>
  
 </div>
  </div>
 	<script type="text/javascript">
 $(function($){
 $('input[auto_name="sys_navstatus"]').each(function(){
 if('${sys_nav.status!}'==this.value){ 
     $(this).attr('checked','checked');
  }
 });
 	});
 	</script> 
 <div class="form-group" >
 <label for="xm" class="col-sm-2 control-label">菜单级别</label>
 <div class="col-sm-6">
 <label class="control-label">${sys_nav.level!}</label>
 </div>
  </div>
  <div class="form-group" style="margin-bottom: 60px;"></div>
 </form>
 </body>
 