<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
 <html>
 <head>
 <meta http-equiv="X-UA-Compatible" content="IE=edge">  
 <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
 <%
 include("/WEB-INF/view/console/common/css.html"){}
 	%>
   <%
 	include("/WEB-INF/view/console/common/js.html"){}
 	%>
 <title></title>
 </head>
 <body> <nav class="navbar navbar-default navbar-fixed-top site-navbar" >
  <div class="navbar-header"> 
 <a class="navbar-brand" href="#">sys_nav表单信息</a> 
 </div> 
  </nav>
 <form name="sys_nav_form"  id="sys_nav_form" class="form-horizontal" style="margin-top: 60px;">
 <div class="form-group" >
 <label for="xm" class="col-sm-2 control-label">菜单名称</label>
 <div class="col-sm-6">
 <input  type="text"  name="name" id="name" class="form-control" check-type="required" value='${sys_nav.name!}' >
 </div>
  </div>
 <div class="form-group" >
 <label for="xm" class="col-sm-2 control-label">菜单地址</label>
 <div class="col-sm-6">
 <input  type="text"  name="url" id="url" class="form-control" check-type="required" value='${sys_nav.url!}' >
 </div>
  </div>
 <div class="form-group" >
 <label for="xm" class="col-sm-2 control-label">链接打开位置</label>
 <div class="col-sm-6">
 <input  type="text"  name="url_target" id="url_target" class="form-control" check-type="required" value='${sys_nav.url_target!}' >
 </div>
  </div>
 <div class="form-group" >
 <label for="xm" class="col-sm-2 control-label">排序</label>
 <div class="col-sm-6">
 <input  type="text"  name="sort" id="sort" class="form-control" check-type="required number" value='${sys_nav.sort!}' >
 </div>
  </div>
 <div class="form-group" >
 <label for="xm" class="col-sm-2 control-label">状态</label>
 <div class="col-sm-6">
 <label><input checked='checked' auto_name='sys_navstatus' type="radio"  name="status" value="1"/>可用</label>
 <label><input  auto_name='sys_navstatus' type="radio"  name="status" value="0"/>不可用</label>
   <input  type="hidden"  name="p_id" id="p_id" class="form-control" check-type="required number" value='${sys_nav.p_id!}' >
  <input  type="hidden"  name="sys_id" id="sys_id" class="form-control" check-type="required number" value='${sys_nav.sys_id!}' >
   <input  type="hidden"  name="level" id="level" class="form-control" check-type="required number" value='${sys_nav.level!}' >
 </div>
  </div>
 	<script type="text/javascript">
 $(function($){
 $('input[auto_name="sys_navstatus"]').each(function(){
 if('${sys_nav.status!}'==this.value){ 
     $(this).attr('checked','checked');
  }
 });
 	});
 	</script> 
 <div class="form-group" >
 <label for="icon_url" class="col-sm-2 control-label">菜单图标</label>
 <div class="col-sm-3">
 <input type="file"id="icon_url_file" class="form-control" value='${sys_nav.icon_url!}' >
 <input type="hidden" id="icon_url"  name="icon_url"class="form-control" value='${sys_nav.icon_url!}' > 
 </div>
   	<div class="col-sm-4">
   	<img id="icon_url_file_show" src="${sys_nav.icon_url!}" style="width:100px;" alt="图片" class="img-rounded">  
 </div>
 </div>
   <script type="text/javascript"> 
 $(document).ready(function()  
 { 
 $('#icon_url_file').uploadify({
 auto:true,
 buttonCursor: 'hand', 
 buttonText: '<div>选择</div>',
 fileSizeLimit:'10MB',  
 fileTypeExts:'*.jpg;*.png;*.gif', 
 height: 30,
 width: 120,
 itemTemplate:false,
 method:'post',
 multi: false, 
 progressData: 'percentage',
 removeCompleted: true,
 removeTimeout: 2, 
 requeueErrors: false, 
 successTimeout: 30,
 swf: '${ctxPath}/plugin/uploadify3.2.1/uploadify.swf',  
 uploader: '${ctxPath}/file/upload_ali', 
 onUploadSuccess: function(file,data,respone){ 
  if(respone==true){
  	if(JSON.parse(data).http_status==1){  
  		var src=JSON.parse(data).data;
  	$("#icon_url").val(src);  
  		  $("#icon_url_file_show").attr("src",src);
  	}else{
  		alert(JSON.parse(data).message);  
  	} 
  } 
   
 } 
 });
 });
 </script> 
 <input type='hidden' name='nav_id' id='nav_id' value='${sys_nav.nav_id!}'>
 <input type='hidden' name='common_token' id='common_token' value='${common_token!}'>
  <div class="form-group" style="margin-bottom: 60px;"></div>
 </form>
 <script type="text/javascript"> 
 	$(function($) { 
 	$("#sys_nav_form").validation();
 }); 
 function saveZqForm(){  
 if ($("#sys_nav_form").valid() == false) { 
 	return false;  
 }
 var formObject=new Object();
 formObject.sys_id=(sys_nav_form.sys_id.value==''?null:sys_nav_form.sys_id.value); 
 formObject.name=(sys_nav_form.name.value==''?null:sys_nav_form.name.value); 
 formObject.url=(sys_nav_form.url.value==''?null:sys_nav_form.url.value); 
 formObject.url_target=(sys_nav_form.url_target.value==''?null:sys_nav_form.url_target.value); 
 formObject.icon_url=(sys_nav_form.icon_url.value==''?null:sys_nav_form.icon_url.value); 
 formObject.sort=(sys_nav_form.sort.value==''?null:sys_nav_form.sort.value); 
 formObject.p_id=(sys_nav_form.p_id.value==''?null:sys_nav_form.p_id.value); 
 formObject.status=($('#sys_nav_form input[name="status"]:checked').val()==''?null:$('#sys_nav_form input[name="status"]:checked').val()); 
 formObject.level=(sys_nav_form.level.value==''?null:sys_nav_form.level.value); 
 formObject.nav_id=(sys_nav_form.nav_id.value==''?null:sys_nav_form.nav_id.value); 
 var formObjectJson = JSON.stringify(formObject);
 $.post("${ctxPath}/sunarvr/console/sys_nav/save", {  
 	formObjectJson :formObjectJson,
 	table_name :'sys_nav',  
 	common_token :$("#common_token").val()  
 }, function(data) {
  $.alert({ 
 	    title: '提示', 
 	    content: data, 
 	    backgroundDismiss: false, 
 	    confirmButton:"确定", 
 	    autoClose: 'confirm|2000', 
 		    confirm: function(){ 
   parent.$('#sys_nav').bootgrid('reload');  
  parent.art.dialog.get('id-dialog-sys_nav').close();  
 		    } 
 		}); 
 });
 } 
 </script>  
 <nav class="navbar navbar-default navbar-fixed-bottom site-navbar" >
  <div class="container" style="padding-top:10px;padding-bottom:10px;">
 <div class="nav navbar-nav navbar-right">
 <a href="#" class="btn btn-success"  onclick='saveZqForm()'>保存 </a>
  </div>
  </div>
   </nav>
 </body>
 