<!DOCTYPE html>
 <html>
 <head>
 <meta http-equiv="X-UA-Compatible" content="IE=edge">
 <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
 <% include("/WEB-INF/view/console/common/css.html"){}	%>
 <% include("/WEB-INF/view/console/common/js.html"){} 	%>
 <title></title>
 </head>
 <body> <nav class="navbar navbar-default navbar-fixed-top site-navbar" >
  <div class="navbar-header">
 <a class="navbar-brand" href="#">sysNavRole</a>
 </div>
  </nav>
 <form name="sysNavRole_form"  id="sysNavRole_form" class="form-horizontal" style="margin-top: 60px;">
   <div class="form-group" >
 <label class="col-sm-2 control-label">菜单ID</label>
 <div class="col-sm-6">
 <input  type="text"  name="navId" id="navId" class="form-control" check-type="required" value='${sysNavRole.navId!}' >
 </div>
  </div>
 <div class="form-group" >
 <label class="col-sm-2 control-label">角色ID</label>
 <div class="col-sm-6">
 <input  type="text"  name="roleId" id="roleId" class="form-control" check-type="required" value='${sysNavRole.roleId!}' >
 </div>
  </div>
 
   <input type='hidden' name='snrId' id='snrId' value='${sysNavRole.snrId!}'><input type='hidden' name='common_token' id='common_token' value='${common_token!}'>
 <div class="form-group" style="margin-bottom: 60px;"></div>
 </form>
 <script type="text/javascript">
 $(function($) {
    /*开启表单验证*/
 	$("#sysNavRole_form").validation();
 });
 /*保存*/
 function saveZqForm(){
    if ($("#sysNavRole_form").valid() == false) {
 	    return false;
    }
    var formObject=new Object();
    formObject.navId=$('#navId').val()==''?null:$('#navId').val(); 
 formObject.roleId=$('#roleId').val()==''?null:$('#roleId').val(); 
 formObject.snrId=$('#snrId').val()==''?null:$('#snrId').val(); 
 
    var formObjectJson = JSON.stringify(formObject);
    $.post("${ctxPath}/sunarvr/console/sys_nav_role/save",
     {
           formObjectJson :formObjectJson,
 	   table_name :'sysNavRole',
 	   common_token :$("#common_token").val()
     }, function(data) {
          $.alert({
 	      title: '提示',
 	      content: $.parseJSON(data).message,
 	      backgroundDismiss: false,
 	      confirmButton:"确定",
 	      autoClose: 'confirm|2000',
 		  confirm: function(){
            parent.$('#sysNavRole').bootgrid('reload');
            parent.art.dialog.get('id-dialog-sysNavRole').close();
 		  }
 		});
     });
 }
 </script>
 <nav class="navbar navbar-default navbar-fixed-bottom site-navbar" >
 <div class="container" style="padding-top:10px;padding-bottom:10px;">
 <div class="nav navbar-nav navbar-right">
 <a href="#" class="btn btn-success"  onclick='saveZqForm()'>保存 </a>
  </div>
  </div>
  </nav>
 </body>
