<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="zhang.lao.build.mybatis.jdbc.auto.dao.BoProjectGoodsMapper" >
  <resultMap id="BaseResultMap" type="zhang.lao.build.mybatis.jdbc.auto.model.BoProjectGoods" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="build_area" property="buildArea" jdbcType="DECIMAL" />
    <result column="equity_price" property="equityPrice" jdbcType="DECIMAL" />
    <result column="admin_price" property="adminPrice" jdbcType="DECIMAL" />
    <result column="image_cover" property="imageCover" jdbcType="VARCHAR" />
    <result column="tag" property="tag" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="zhang.lao.build.mybatis.jdbc.auto.model.BoProjectGoods" extends="BaseResultMap" >
    <result column="detail" property="detail" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, title, build_area, equity_price, admin_price, image_cover, tag
  </sql>
  <sql id="Blob_Column_List" >
    detail
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="zhang.lao.build.mybatis.jdbc.auto.model.BoProjectGoodsExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from bo_project_goods
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="zhang.lao.build.mybatis.jdbc.auto.model.BoProjectGoodsExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from bo_project_goods
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from bo_project_goods
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from bo_project_goods
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="zhang.lao.build.mybatis.jdbc.auto.model.BoProjectGoodsExample" >
    delete from bo_project_goods
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="zhang.lao.build.mybatis.jdbc.auto.model.BoProjectGoods" >
    insert into bo_project_goods (id, title, build_area, 
      equity_price, admin_price, image_cover, 
      tag, detail)
    values (#{id,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}, #{buildArea,jdbcType=DECIMAL}, 
      #{equityPrice,jdbcType=DECIMAL}, #{adminPrice,jdbcType=DECIMAL}, #{imageCover,jdbcType=VARCHAR}, 
      #{tag,jdbcType=VARCHAR}, #{detail,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="zhang.lao.build.mybatis.jdbc.auto.model.BoProjectGoods" >
    insert into bo_project_goods
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="buildArea != null" >
        build_area,
      </if>
      <if test="equityPrice != null" >
        equity_price,
      </if>
      <if test="adminPrice != null" >
        admin_price,
      </if>
      <if test="imageCover != null" >
        image_cover,
      </if>
      <if test="tag != null" >
        tag,
      </if>
      <if test="detail != null" >
        detail,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="buildArea != null" >
        #{buildArea,jdbcType=DECIMAL},
      </if>
      <if test="equityPrice != null" >
        #{equityPrice,jdbcType=DECIMAL},
      </if>
      <if test="adminPrice != null" >
        #{adminPrice,jdbcType=DECIMAL},
      </if>
      <if test="imageCover != null" >
        #{imageCover,jdbcType=VARCHAR},
      </if>
      <if test="tag != null" >
        #{tag,jdbcType=VARCHAR},
      </if>
      <if test="detail != null" >
        #{detail,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="zhang.lao.build.mybatis.jdbc.auto.model.BoProjectGoodsExample" resultType="java.lang.Integer" >
    select count(*) from bo_project_goods
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update bo_project_goods
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.title != null" >
        title = #{record.title,jdbcType=VARCHAR},
      </if>
      <if test="record.buildArea != null" >
        build_area = #{record.buildArea,jdbcType=DECIMAL},
      </if>
      <if test="record.equityPrice != null" >
        equity_price = #{record.equityPrice,jdbcType=DECIMAL},
      </if>
      <if test="record.adminPrice != null" >
        admin_price = #{record.adminPrice,jdbcType=DECIMAL},
      </if>
      <if test="record.imageCover != null" >
        image_cover = #{record.imageCover,jdbcType=VARCHAR},
      </if>
      <if test="record.tag != null" >
        tag = #{record.tag,jdbcType=VARCHAR},
      </if>
      <if test="record.detail != null" >
        detail = #{record.detail,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update bo_project_goods
    set id = #{record.id,jdbcType=VARCHAR},
      title = #{record.title,jdbcType=VARCHAR},
      build_area = #{record.buildArea,jdbcType=DECIMAL},
      equity_price = #{record.equityPrice,jdbcType=DECIMAL},
      admin_price = #{record.adminPrice,jdbcType=DECIMAL},
      image_cover = #{record.imageCover,jdbcType=VARCHAR},
      tag = #{record.tag,jdbcType=VARCHAR},
      detail = #{record.detail,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update bo_project_goods
    set id = #{record.id,jdbcType=VARCHAR},
      title = #{record.title,jdbcType=VARCHAR},
      build_area = #{record.buildArea,jdbcType=DECIMAL},
      equity_price = #{record.equityPrice,jdbcType=DECIMAL},
      admin_price = #{record.adminPrice,jdbcType=DECIMAL},
      image_cover = #{record.imageCover,jdbcType=VARCHAR},
      tag = #{record.tag,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="zhang.lao.build.mybatis.jdbc.auto.model.BoProjectGoods" >
    update bo_project_goods
    <set >
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="buildArea != null" >
        build_area = #{buildArea,jdbcType=DECIMAL},
      </if>
      <if test="equityPrice != null" >
        equity_price = #{equityPrice,jdbcType=DECIMAL},
      </if>
      <if test="adminPrice != null" >
        admin_price = #{adminPrice,jdbcType=DECIMAL},
      </if>
      <if test="imageCover != null" >
        image_cover = #{imageCover,jdbcType=VARCHAR},
      </if>
      <if test="tag != null" >
        tag = #{tag,jdbcType=VARCHAR},
      </if>
      <if test="detail != null" >
        detail = #{detail,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="zhang.lao.build.mybatis.jdbc.auto.model.BoProjectGoods" >
    update bo_project_goods
    set title = #{title,jdbcType=VARCHAR},
      build_area = #{buildArea,jdbcType=DECIMAL},
      equity_price = #{equityPrice,jdbcType=DECIMAL},
      admin_price = #{adminPrice,jdbcType=DECIMAL},
      image_cover = #{imageCover,jdbcType=VARCHAR},
      tag = #{tag,jdbcType=VARCHAR},
      detail = #{detail,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="zhang.lao.build.mybatis.jdbc.auto.model.BoProjectGoods" >
    update bo_project_goods
    set title = #{title,jdbcType=VARCHAR},
      build_area = #{buildArea,jdbcType=DECIMAL},
      equity_price = #{equityPrice,jdbcType=DECIMAL},
      admin_price = #{adminPrice,jdbcType=DECIMAL},
      image_cover = #{imageCover,jdbcType=VARCHAR},
      tag = #{tag,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>