<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="zhang.lao.build.mybatis.jdbc.auto.dao.BoProjectMapper" >
  <resultMap id="BaseResultMap" type="zhang.lao.build.mybatis.jdbc.auto.model.BoProject" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="self_build" property="selfBuild" jdbcType="VARCHAR" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="project_developers" property="projectDevelopers" jdbcType="VARCHAR" />
    <result column="project_into" property="projectInto" jdbcType="DATE" />
    <result column="projrct_manager" property="projrctManager" jdbcType="VARCHAR" />
    <result column="project_estate" property="projectEstate" jdbcType="INTEGER" />
    <result column="province" property="province" jdbcType="VARCHAR" />
    <result column="city" property="city" jdbcType="VARCHAR" />
    <result column="country" property="country" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="decoration_leave" property="decorationLeave" jdbcType="VARCHAR" />
    <result column="image_cover" property="imageCover" jdbcType="VARCHAR" />
    <result column="state" property="state" jdbcType="INTEGER" />
    <result column="sort" property="sort" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, type, self_build, title, project_developers, project_into, projrct_manager, project_estate, 
    province, city, country, address, decoration_leave, image_cover, state, sort
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="zhang.lao.build.mybatis.jdbc.auto.model.BoProjectExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from bo_project
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from bo_project
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from bo_project
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="zhang.lao.build.mybatis.jdbc.auto.model.BoProjectExample" >
    delete from bo_project
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="zhang.lao.build.mybatis.jdbc.auto.model.BoProject" >
    insert into bo_project (id, type, self_build, 
      title, project_developers, project_into, 
      projrct_manager, project_estate, province, 
      city, country, address, 
      decoration_leave, image_cover, state, 
      sort)
    values (#{id,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, #{selfBuild,jdbcType=VARCHAR}, 
      #{title,jdbcType=VARCHAR}, #{projectDevelopers,jdbcType=VARCHAR}, #{projectInto,jdbcType=DATE}, 
      #{projrctManager,jdbcType=VARCHAR}, #{projectEstate,jdbcType=INTEGER}, #{province,jdbcType=VARCHAR}, 
      #{city,jdbcType=VARCHAR}, #{country,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, 
      #{decorationLeave,jdbcType=VARCHAR}, #{imageCover,jdbcType=VARCHAR}, #{state,jdbcType=INTEGER}, 
      #{sort,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="zhang.lao.build.mybatis.jdbc.auto.model.BoProject" >
    insert into bo_project
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="selfBuild != null" >
        self_build,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="projectDevelopers != null" >
        project_developers,
      </if>
      <if test="projectInto != null" >
        project_into,
      </if>
      <if test="projrctManager != null" >
        projrct_manager,
      </if>
      <if test="projectEstate != null" >
        project_estate,
      </if>
      <if test="province != null" >
        province,
      </if>
      <if test="city != null" >
        city,
      </if>
      <if test="country != null" >
        country,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="decorationLeave != null" >
        decoration_leave,
      </if>
      <if test="imageCover != null" >
        image_cover,
      </if>
      <if test="state != null" >
        state,
      </if>
      <if test="sort != null" >
        sort,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="selfBuild != null" >
        #{selfBuild,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="projectDevelopers != null" >
        #{projectDevelopers,jdbcType=VARCHAR},
      </if>
      <if test="projectInto != null" >
        #{projectInto,jdbcType=DATE},
      </if>
      <if test="projrctManager != null" >
        #{projrctManager,jdbcType=VARCHAR},
      </if>
      <if test="projectEstate != null" >
        #{projectEstate,jdbcType=INTEGER},
      </if>
      <if test="province != null" >
        #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="country != null" >
        #{country,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="decorationLeave != null" >
        #{decorationLeave,jdbcType=VARCHAR},
      </if>
      <if test="imageCover != null" >
        #{imageCover,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        #{state,jdbcType=INTEGER},
      </if>
      <if test="sort != null" >
        #{sort,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="zhang.lao.build.mybatis.jdbc.auto.model.BoProjectExample" resultType="java.lang.Integer" >
    select count(*) from bo_project
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update bo_project
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.type != null" >
        type = #{record.type,jdbcType=VARCHAR},
      </if>
      <if test="record.selfBuild != null" >
        self_build = #{record.selfBuild,jdbcType=VARCHAR},
      </if>
      <if test="record.title != null" >
        title = #{record.title,jdbcType=VARCHAR},
      </if>
      <if test="record.projectDevelopers != null" >
        project_developers = #{record.projectDevelopers,jdbcType=VARCHAR},
      </if>
      <if test="record.projectInto != null" >
        project_into = #{record.projectInto,jdbcType=DATE},
      </if>
      <if test="record.projrctManager != null" >
        projrct_manager = #{record.projrctManager,jdbcType=VARCHAR},
      </if>
      <if test="record.projectEstate != null" >
        project_estate = #{record.projectEstate,jdbcType=INTEGER},
      </if>
      <if test="record.province != null" >
        province = #{record.province,jdbcType=VARCHAR},
      </if>
      <if test="record.city != null" >
        city = #{record.city,jdbcType=VARCHAR},
      </if>
      <if test="record.country != null" >
        country = #{record.country,jdbcType=VARCHAR},
      </if>
      <if test="record.address != null" >
        address = #{record.address,jdbcType=VARCHAR},
      </if>
      <if test="record.decorationLeave != null" >
        decoration_leave = #{record.decorationLeave,jdbcType=VARCHAR},
      </if>
      <if test="record.imageCover != null" >
        image_cover = #{record.imageCover,jdbcType=VARCHAR},
      </if>
      <if test="record.state != null" >
        state = #{record.state,jdbcType=INTEGER},
      </if>
      <if test="record.sort != null" >
        sort = #{record.sort,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update bo_project
    set id = #{record.id,jdbcType=VARCHAR},
      type = #{record.type,jdbcType=VARCHAR},
      self_build = #{record.selfBuild,jdbcType=VARCHAR},
      title = #{record.title,jdbcType=VARCHAR},
      project_developers = #{record.projectDevelopers,jdbcType=VARCHAR},
      project_into = #{record.projectInto,jdbcType=DATE},
      projrct_manager = #{record.projrctManager,jdbcType=VARCHAR},
      project_estate = #{record.projectEstate,jdbcType=INTEGER},
      province = #{record.province,jdbcType=VARCHAR},
      city = #{record.city,jdbcType=VARCHAR},
      country = #{record.country,jdbcType=VARCHAR},
      address = #{record.address,jdbcType=VARCHAR},
      decoration_leave = #{record.decorationLeave,jdbcType=VARCHAR},
      image_cover = #{record.imageCover,jdbcType=VARCHAR},
      state = #{record.state,jdbcType=INTEGER},
      sort = #{record.sort,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="zhang.lao.build.mybatis.jdbc.auto.model.BoProject" >
    update bo_project
    <set >
      <if test="type != null" >
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="selfBuild != null" >
        self_build = #{selfBuild,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="projectDevelopers != null" >
        project_developers = #{projectDevelopers,jdbcType=VARCHAR},
      </if>
      <if test="projectInto != null" >
        project_into = #{projectInto,jdbcType=DATE},
      </if>
      <if test="projrctManager != null" >
        projrct_manager = #{projrctManager,jdbcType=VARCHAR},
      </if>
      <if test="projectEstate != null" >
        project_estate = #{projectEstate,jdbcType=INTEGER},
      </if>
      <if test="province != null" >
        province = #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        city = #{city,jdbcType=VARCHAR},
      </if>
      <if test="country != null" >
        country = #{country,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="decorationLeave != null" >
        decoration_leave = #{decorationLeave,jdbcType=VARCHAR},
      </if>
      <if test="imageCover != null" >
        image_cover = #{imageCover,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=INTEGER},
      </if>
      <if test="sort != null" >
        sort = #{sort,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="zhang.lao.build.mybatis.jdbc.auto.model.BoProject" >
    update bo_project
    set type = #{type,jdbcType=VARCHAR},
      self_build = #{selfBuild,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR},
      project_developers = #{projectDevelopers,jdbcType=VARCHAR},
      project_into = #{projectInto,jdbcType=DATE},
      projrct_manager = #{projrctManager,jdbcType=VARCHAR},
      project_estate = #{projectEstate,jdbcType=INTEGER},
      province = #{province,jdbcType=VARCHAR},
      city = #{city,jdbcType=VARCHAR},
      country = #{country,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      decoration_leave = #{decorationLeave,jdbcType=VARCHAR},
      image_cover = #{imageCover,jdbcType=VARCHAR},
      state = #{state,jdbcType=INTEGER},
      sort = #{sort,jdbcType=INTEGER}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>