<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="zhang.lao.build.mybatis.jdbc.auto.dao.BoTestUserMapper" >
  <resultMap id="BaseResultMap" type="zhang.lao.build.mybatis.jdbc.auto.model.BoTestUser" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="age" property="age" jdbcType="INTEGER" />
    <result column="user_head_img" property="userHeadImg" jdbcType="VARCHAR" />
    <result column="user_file" property="userFile" jdbcType="VARCHAR" />
    <result column="user_sex" property="userSex" jdbcType="INTEGER" />
    <result column="user_school_grade" property="userSchoolGrade" jdbcType="VARCHAR" />
    <result column="user_des" property="userDes" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="zhang.lao.build.mybatis.jdbc.auto.model.BoTestUser" extends="BaseResultMap" >
    <result column="user_info" property="userInfo" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, name, age, user_head_img, user_file, user_sex, user_school_grade, user_des
  </sql>
  <sql id="Blob_Column_List" >
    user_info
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="zhang.lao.build.mybatis.jdbc.auto.model.BoTestUserExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from bo_test_user
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="zhang.lao.build.mybatis.jdbc.auto.model.BoTestUserExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from bo_test_user
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from bo_test_user
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from bo_test_user
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="zhang.lao.build.mybatis.jdbc.auto.model.BoTestUserExample" >
    delete from bo_test_user
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="zhang.lao.build.mybatis.jdbc.auto.model.BoTestUser" >
    insert into bo_test_user (id, name, age, 
      user_head_img, user_file, user_sex, 
      user_school_grade, user_des, user_info
      )
    values (#{id,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{age,jdbcType=INTEGER}, 
      #{userHeadImg,jdbcType=VARCHAR}, #{userFile,jdbcType=VARCHAR}, #{userSex,jdbcType=INTEGER}, 
      #{userSchoolGrade,jdbcType=VARCHAR}, #{userDes,jdbcType=VARCHAR}, #{userInfo,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="zhang.lao.build.mybatis.jdbc.auto.model.BoTestUser" >
    insert into bo_test_user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="age != null" >
        age,
      </if>
      <if test="userHeadImg != null" >
        user_head_img,
      </if>
      <if test="userFile != null" >
        user_file,
      </if>
      <if test="userSex != null" >
        user_sex,
      </if>
      <if test="userSchoolGrade != null" >
        user_school_grade,
      </if>
      <if test="userDes != null" >
        user_des,
      </if>
      <if test="userInfo != null" >
        user_info,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="age != null" >
        #{age,jdbcType=INTEGER},
      </if>
      <if test="userHeadImg != null" >
        #{userHeadImg,jdbcType=VARCHAR},
      </if>
      <if test="userFile != null" >
        #{userFile,jdbcType=VARCHAR},
      </if>
      <if test="userSex != null" >
        #{userSex,jdbcType=INTEGER},
      </if>
      <if test="userSchoolGrade != null" >
        #{userSchoolGrade,jdbcType=VARCHAR},
      </if>
      <if test="userDes != null" >
        #{userDes,jdbcType=VARCHAR},
      </if>
      <if test="userInfo != null" >
        #{userInfo,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="zhang.lao.build.mybatis.jdbc.auto.model.BoTestUserExample" resultType="java.lang.Integer" >
    select count(*) from bo_test_user
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update bo_test_user
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.name != null" >
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.age != null" >
        age = #{record.age,jdbcType=INTEGER},
      </if>
      <if test="record.userHeadImg != null" >
        user_head_img = #{record.userHeadImg,jdbcType=VARCHAR},
      </if>
      <if test="record.userFile != null" >
        user_file = #{record.userFile,jdbcType=VARCHAR},
      </if>
      <if test="record.userSex != null" >
        user_sex = #{record.userSex,jdbcType=INTEGER},
      </if>
      <if test="record.userSchoolGrade != null" >
        user_school_grade = #{record.userSchoolGrade,jdbcType=VARCHAR},
      </if>
      <if test="record.userDes != null" >
        user_des = #{record.userDes,jdbcType=VARCHAR},
      </if>
      <if test="record.userInfo != null" >
        user_info = #{record.userInfo,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update bo_test_user
    set id = #{record.id,jdbcType=VARCHAR},
      name = #{record.name,jdbcType=VARCHAR},
      age = #{record.age,jdbcType=INTEGER},
      user_head_img = #{record.userHeadImg,jdbcType=VARCHAR},
      user_file = #{record.userFile,jdbcType=VARCHAR},
      user_sex = #{record.userSex,jdbcType=INTEGER},
      user_school_grade = #{record.userSchoolGrade,jdbcType=VARCHAR},
      user_des = #{record.userDes,jdbcType=VARCHAR},
      user_info = #{record.userInfo,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update bo_test_user
    set id = #{record.id,jdbcType=VARCHAR},
      name = #{record.name,jdbcType=VARCHAR},
      age = #{record.age,jdbcType=INTEGER},
      user_head_img = #{record.userHeadImg,jdbcType=VARCHAR},
      user_file = #{record.userFile,jdbcType=VARCHAR},
      user_sex = #{record.userSex,jdbcType=INTEGER},
      user_school_grade = #{record.userSchoolGrade,jdbcType=VARCHAR},
      user_des = #{record.userDes,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="zhang.lao.build.mybatis.jdbc.auto.model.BoTestUser" >
    update bo_test_user
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="age != null" >
        age = #{age,jdbcType=INTEGER},
      </if>
      <if test="userHeadImg != null" >
        user_head_img = #{userHeadImg,jdbcType=VARCHAR},
      </if>
      <if test="userFile != null" >
        user_file = #{userFile,jdbcType=VARCHAR},
      </if>
      <if test="userSex != null" >
        user_sex = #{userSex,jdbcType=INTEGER},
      </if>
      <if test="userSchoolGrade != null" >
        user_school_grade = #{userSchoolGrade,jdbcType=VARCHAR},
      </if>
      <if test="userDes != null" >
        user_des = #{userDes,jdbcType=VARCHAR},
      </if>
      <if test="userInfo != null" >
        user_info = #{userInfo,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="zhang.lao.build.mybatis.jdbc.auto.model.BoTestUser" >
    update bo_test_user
    set name = #{name,jdbcType=VARCHAR},
      age = #{age,jdbcType=INTEGER},
      user_head_img = #{userHeadImg,jdbcType=VARCHAR},
      user_file = #{userFile,jdbcType=VARCHAR},
      user_sex = #{userSex,jdbcType=INTEGER},
      user_school_grade = #{userSchoolGrade,jdbcType=VARCHAR},
      user_des = #{userDes,jdbcType=VARCHAR},
      user_info = #{userInfo,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="zhang.lao.build.mybatis.jdbc.auto.model.BoTestUser" >
    update bo_test_user
    set name = #{name,jdbcType=VARCHAR},
      age = #{age,jdbcType=INTEGER},
      user_head_img = #{userHeadImg,jdbcType=VARCHAR},
      user_file = #{userFile,jdbcType=VARCHAR},
      user_sex = #{userSex,jdbcType=INTEGER},
      user_school_grade = #{userSchoolGrade,jdbcType=VARCHAR},
      user_des = #{userDes,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>