<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./leaflet.css" />
    <script src="./leaflet.js"></script>
    <script src="./js/lineGeoJson.js"></script>
    <script src="./js/markGeoJson.js"></script>
    <title>leaflefttest</title>
    <style type="text/css">
        body {
            padding: 0;
            margin: 0;
        }

        html,
        body,
        #map {
            height:100%;

        }
    </style>
</head>
<body>
<div id="map"></div>
<script>

   var map = L.map('map').setView([37.8, -96], 4);

   L.tileLayer('https://api.mapbox.com/styles/v1/zhangqin2018/cjh6a3y1051dj2rpejsb3g6oo/tiles/256/{z}/{x}/{y}?access_token=pk.eyJ1IjoiemhhbmdxaW4yMDE4IiwiYSI6ImNqaDYxdDdzNDA1ZWoyeHF4NmZiemI0ZjkifQ.XDWOmVTJ2Ucmo5eaUXiFWA', {
       maxZoom: 20,
       minZoom: 0
   }).addTo(map);

   // create a red polygon from an array of LatLng points
   var latlngs = [[37, -109.05],[41, -109.03],[41, -102.05],[37, -102.04]];
   var polygon = L.polygon(latlngs, {color: 'red'}).addTo(map);
   // zoom the map to the polygon
   map.fitBounds(polygon.getBounds());
   function zoomToFeature(e) {
       alert(JSON.stringify(e))

   }
   function onEachFeature(feature, layer) {
       layer.on({
           click: zoomToFeature
       });
   }
   L.geoJSON(gm,{onEachFeature:function (feature, layer) {
       onEachFeature(feature, layer);
   }}).addTo(map);
   L.geoJSON(gm2,{onEachFeature:function (feature, layer) {
           onEachFeature(feature, layer);
       }}).addTo(map);
</script>
</body>
</html>