<% table_layout("/WEB-INF/view/console/skins/${table_skin}/layout.html",
{}) { %>
<div class="row">
	<div class="col-md-12">
		<div class="widget-container fluid-height clearfix">
			<div class="widget-content padded clearfix">
				<div class='row'>
					<div class='col-md-12'>
						<table class='table table-condensed table-hover table-striped'
							id='dev_company'>
							<thead>
								<tr>
									<th title='' data-column-id='company_id' data-identifier='true'
										data-type='numeric' data-visible='false'>id</th>
									<th title='公司名称' data-column-id='name'>公司名称</th>
									<th title='创建时间' data-column-id='create_time'>创建时间</th>
									<th title='操作' data-column-id='dev_company_operation'
										data-formatter='dev_company_operation' data-sortable='false'>操作</th>
								</tr>
							</thead>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
    function enterToQuery(event) {
	var e = event || window.event || arguments.callee.caller.arguments[0];
	if (e.keyCode == 13) {
	    $('#querySearch').click();
	}
    }
    function openAddFormWindow() {
	var height = $(window).height();
	var width = $(window).width();
	art
		.dialog({
		    id : 'id-dialog-dev_company',
		    title : '新建',
		    padding : 0,
		    fixed : true,
		    content : '<iframe height="'
			    + (height * 0.8)
			    + 'px" width="'
			    + (width * 0.8)
			    + 'px" frameborder=0 src="${ctxPath}/sunarvr/console/dev_company/add"></iframe>'
		});
    }
    $(function($) {
	$('#reset').click(function() {
	    $('#dev_company_form').find('input,select').val('');
	});
	$('#querySearch').click(function() {
	    $("#dev_company").bootgrid('reload');
	});

	$("#dev_company")
		.bootgrid(
			{
			    ajax : true,
			    selection : true,
			    multiSelect : true,
			    rowSelect : true,
			    keepSelection : true,
			    post : function() {
				return {
				    table_name : "dev_company"
				};
			    },
			    url : "${ctxPath}/sunarvr/console/dev_company/json",
			    formatters : {
				"dev_company_operation" : function(column, row) {
				    return "<button type='button' class='btn btn-xs btn-default' onclick='openReadWindow("+ row.company_id + ")'><span class='glyphicon glyphicon-search'></span></button> ";
				}
			    }
			})
		.on(
			"loaded.rs.jquery.bootgrid",
			function(e) {
			    $("#dev_company-header")
				    .find("#buttons_id")
				    .html(
					    " <button type='button' class='btn btn-default'>通过</button> <button type='button' class='btn btn-default'>驳回</button> ");
			});
    });
    function openReadWindow(id) {
	var height = $(window).height();
	var width = $(window).width();
	art
		.dialog({
		    id : 'id-dialog-dev_company',
		    title : '查看',
		    padding : 0,
		    fixed : true,
		    content : '<iframe height="'
			    + (height * 0.8)
			    + 'px" width="'
			    + (width * 0.8)
			    + 'px" frameborder=0 src="${ctxPath}/sunarvr/console/dev_company/read?id='
			    + id + '"></iframe>'
		});
    }
</script>
<%} %>
