<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
 <html>
 <head>
 <meta http-equiv="X-UA-Compatible" content="IE=edge">  
 <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
 <%
 include("/WEB-INF/view/console/common/css.html"){}
 	%>
   <%
 	include("/WEB-INF/view/console/common/js.html"){}
 	%>
 <title></title>
 </head>
 <body> <nav class="navbar navbar-default navbar-fixed-top site-navbar" >
  <div class="navbar-header"> 
 <a class="navbar-brand" href="#">dev_company表单信息</a> 
 </div> 
  </nav>
 <form name="dev_company_form"  id="dev_company_form" class="form-horizontal" style="margin-top: 60px;">
 <div class="form-group" >
 <label for="xm" class="col-sm-2 control-label">地址</label>
 <div class="col-sm-6">
 <input  type="text"  name="address" id="address" class="form-control" check-type="required" value='${dev_company.address!}' >
 </div>
  </div>
 <div class="form-group" >
 <label for="xm" class="col-sm-2 control-label">营业执照号</label>
 <div class="col-sm-6">
 <input  type="text"  name="business_no" id="business_no" class="form-control" check-type="required" value='${dev_company.business_no!}' >
 </div>
  </div>
 <div class="form-group" >
 <label for="xm" class="col-sm-2 control-label">组织机构号</label>
 <div class="col-sm-6">
 <input  type="text"  name="organization_no" id="organization_no" class="form-control" check-type="required" value='${dev_company.organization_no!}' >
 </div>
  </div>
 <div class="form-group" >
 <label for="xm" class="col-sm-2 control-label">税务登记号</label>
 <div class="col-sm-6">
 <input  type="text"  name="tax_no" id="tax_no" class="form-control" check-type="required" value='${dev_company.tax_no!}' >
 </div>
  </div>
 <div class="form-group" >
 <label for="xm" class="col-sm-2 control-label">营业执照复印件</label>
 <div class="col-sm-6">
 <input  type="text"  name="business_pic" id="business_pic" class="form-control" check-type="required" value='${dev_company.business_pic!}' >
 </div>
  </div>
 <div class="form-group" >
 <label for="xm" class="col-sm-2 control-label">组织机构复印件</label>
 <div class="col-sm-6">
 <input  type="text"  name="organization_pic" id="organization_pic" class="form-control" check-type="required" value='${dev_company.organization_pic!}' >
 </div>
  </div>
 <div class="form-group" >
 <label for="xm" class="col-sm-2 control-label">税务登记复印件</label>
 <div class="col-sm-6">
 <input  type="text"  name="tax_pic" id="tax_pic" class="form-control" check-type="required" value='${dev_company.tax_pic!}' >
 </div>
  </div>
 <div class="form-group" >
 <label for="xm" class="col-sm-2 control-label">公司名称</label>
 <div class="col-sm-6">
 <input  type="text"  name="name" id="name" class="form-control" check-type="required" value='${dev_company.name!}' >
 </div>
  </div>
 <div class="form-group" >
 <label for="xm" class="col-sm-2 control-label">类型</label>
 <div class="col-sm-6">
 <label><input checked='checked' auto_name='dev_companytype' type="radio"  name="type" value="0"/>企业</label>
 <label><input  auto_name='dev_companytype' type="radio"  name="type" value="1"/>个人</label>
  
 </div>
  </div>
 	<script type="text/javascript">
 $(function($){
 $('input[auto_name="dev_companytype"]').each(function(){
 if('${dev_company.type!}'==this.value){ 
     $(this).attr('checked','checked');
  }
 });
 	});
 	</script> 
 <div class="form-group" >
 <label for="xm" class="col-sm-2 control-label">状态</label>
 <div class="col-sm-6">
 <label><input checked='checked' auto_name='dev_companystatus' type="radio"  name="status" value="1"/>可用</label>
 <label><input  auto_name='dev_companystatus' type="radio"  name="status" value="0"/>不可用</label>
  
 </div>
  </div>
 	<script type="text/javascript">
 $(function($){
 $('input[auto_name="dev_companystatus"]').each(function(){
 if('${dev_company.status!}'==this.value){ 
     $(this).attr('checked','checked');
  }
 });
 	});
 	</script> 
 <input type='hidden' name='company_id' id='company_id' value='${dev_company.company_id!}'>
 <input type='hidden' name='common_token' id='common_token' value='${common_token!}'>
  <div class="form-group" style="margin-bottom: 60px;"></div>
 </form>
 <script type="text/javascript"> 
 	$(function($) { 
 	$("#dev_company_form").validation();
 }); 
 function saveZqForm(){  
 if ($("#dev_company_form").valid() == false) { 
 	return false;  
 }
 var formObject=new Object();
 formObject.address=(dev_company_form.address.value==''?null:dev_company_form.address.value); 
 formObject.business_no=(dev_company_form.business_no.value==''?null:dev_company_form.business_no.value); 
 formObject.organization_no=(dev_company_form.organization_no.value==''?null:dev_company_form.organization_no.value); 
 formObject.tax_no=(dev_company_form.tax_no.value==''?null:dev_company_form.tax_no.value); 
 formObject.business_pic=(dev_company_form.business_pic.value==''?null:dev_company_form.business_pic.value); 
 formObject.organization_pic=(dev_company_form.organization_pic.value==''?null:dev_company_form.organization_pic.value); 
 formObject.tax_pic=(dev_company_form.tax_pic.value==''?null:dev_company_form.tax_pic.value); 
 formObject.name=(dev_company_form.name.value==''?null:dev_company_form.name.value); 
 formObject.type=(dev_company_form.type.value==''?null:dev_company_form.type.value); 
 formObject.status=(dev_company_form.status.value==''?null:dev_company_form.status.value); 
 formObject.company_id=(dev_company_form.company_id.value==''?null:dev_company_form.company_id.value); 
 var formObjectJson = JSON.stringify(formObject);
 $.post("${ctxPath}/sunarvr/console/dev_company/save", {  
 	formObjectJson :formObjectJson,
 	table_name :'dev_company',  
 	common_token :$("#common_token").val()  
 }, function(data) {
  $.alert({ 
 	    title: '提示', 
 	    content: data, 
 	    backgroundDismiss: false, 
 	    confirmButton:"确定", 
 	    autoClose: 'confirm|2000', 
 		    confirm: function(){ 
   parent.$('#dev_company').bootgrid('reload');  
  parent.art.dialog.get('id-dialog-dev_company').close();  
 		    } 
 		}); 
 });
 } 
 </script>  
 <nav class="navbar navbar-default navbar-fixed-bottom site-navbar" >
  <div class="container" style="padding-top:10px;padding-bottom:10px;">
 <div class="nav navbar-nav navbar-right">
 <a href="#" class="btn btn-success"  onclick='saveZqForm()'>保存 </a>
  </div>
  </div>
   </nav>
 </body>
 