
<% var html={ %>
<blockquote class="layui-elem-quote zq-table-head">
    项目图集
</blockquote>
                <div class='row zq-row'>
                        <form name="boProgectGoodsImages_form" id="boProgectGoodsImages_form" class='form-inline'>
                            <div class='form-group col-md-4 col-xs-6' style='margin-top: 10px;'>
 <label title='项目'  >项目：</label>
 <input  onkeyup='boProgectGoodsImagesConsoleGrid.enterToQuery(event);' type='text' class='form-control' id='goodsId' name='goodsId' placeholder=''>
 </div>
 <div class='form-group col-md-4 col-xs-6' style='margin-top: 10px;'>
 <label title='图片名称'  >图片名称：</label>
 <input  onkeyup='boProgectGoodsImagesConsoleGrid.enterToQuery(event);' type='text' class='form-control' id='imageName' name='imageName' placeholder=''>
 </div>
 <div class='form-group col-md-4 col-xs-6' style='margin-top: 10px;'>
 <label title='排序'  >排序：</label>
 <input  onkeyup='boProgectGoodsImagesConsoleGrid.enterToQuery(event);' type='text' class='form-control' id='sort' name='sort' placeholder=''>
 </div>
 
                            <div align="center" class="form-group col-md-12 zq-table-query">
                                <button type='button' class='btn btn-default' id='boProgectGoodsImagesQuerySearch'>查询</button>
                                <button type='button' class='btn btn-default' id='boProgectGoodsImagesReset'>重置</button>
                            </div>
                        </form>
                </div>
                 <div id="boProgectGoodsImagesToolbar" class="btn-group">
                              <button type="button" class="btn btn-default" onclick="consoleOpenWindow('boProgectGoodsImages','${ctxPath}/console/bo_progect_goods_images/add','新增')">
                                  <i class="glyphicon glyphicon-plus"></i>
                              </button>
                              <button type="button" class="btn btn-default" onclick='boProgectGoodsImagesConsoleGrid.delete("id","${ctxPath}/console/bo_progect_goods_images/delete");'>
                                  <i class="glyphicon glyphicon-trash"></i>
                              </button>
                 </div>
                     <div class='row zq-row'>
                              <div class='col-md-12'>
                                  <table id="boProgectGoodsImages" data-toggle="table"
                                         data-url="${ctxPath}/console/bo_progect_goods_images/json"
                                         data-pagination="true"
                                         data-query-params="boProgectGoodsImagesLoadParam"
                                         method="post"
                                         data-side-pagination="server"
                                         data-show-refresh="true"
                                         data-show-toggle="true"
                                         data-pagination-loop="false"
                                         data-show-columns="true"
                                         data-toolbar="#boProgectGoodsImagesToolbar">
                                      <thead>
                                      <tr>
                                           <th data-checkbox="true"></th>
                                            <th data-field='id' data-visible='false'>ID</th>
  <th data-sortable='true' data-field='goodsId'>项目</th>
  <th data-field='imageUrl' data-sortable='true' data-formatter='boProgectGoodsImagesimage_urlFormatter'>图片地址</th>
  <th data-sortable='true' data-field='imageName'>图片名称</th>
  <th data-field='imageType' data-sortable='true' data-formatter='boProgectGoodsImagesimage_typeFormatter'>图片类型_dic_progect_type</th>
  <th data-sortable='true' data-field='sort'>排序</th>
  <th data-field='id' data-formatter='boProgectGoodsImagesTableOperate'>操作</th>
 
                                      </tr>
                                      </thead>
                                  </table>
                              </div>
                     </div>
<% }; %>
<% var js={ %>
<script type='text/javascript' src='/view/console/boProgectGoodsImages/boProgectGoodsImagesTable.js'></script>
<% }; %>

<% layout("/view/console/skins/skin_2/layout.html", {js:js,html:html}) {} %>