<!DOCTYPE html>
 <html>
 <head>
 <meta http-equiv="X-UA-Compatible" content="IE=edge">
 <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
 <% include("/view/console/common/css.html"){}	%>

 <title></title>
 </head>
 <body>
 <div class="zq-form">
 <form name="boProgectGoodsImages_form"  id="boProgectGoodsImages_form" class="form-horizontal" style="margin-bottom: 70px;">
   <div class="form-group" >
 <label class="col-sm-2 col-xs-2 control-label">项目</label>
 <div class="col-sm-6 col-xs-6">
 <input  type="text"  name="goodsId" id="goodsId" class="form-control" check-type="required" value='${boProgectGoodsImages.goodsId!}' >
 </div>
  </div>
 <div class="form-group" >
 <label class="col-sm-2 col-xs-2 control-label">图片名称</label>
 <div class="col-sm-6 col-xs-6">
 <input  type="text"  name="imageName" id="imageName" class="form-control" check-type="required" value='${boProgectGoodsImages.imageName!}' >
 </div>
  </div>
 <div class="form-group" >
 <label class="col-sm-2 col-xs-2 control-label">排序</label>
 <div class="col-sm-6 col-xs-6">
 <input  type="text"  name="sort" id="sort" class="form-control" check-type="required number" value='${boProgectGoodsImages.sort!}' >
 </div>
  </div>
  <div class="form-group" >
 <label class="col-sm-2 control-label">图片地址</label>
 <div class="col-sm-3">
   <span class="btn btn-success fileinput-button">
        <i class="glyphicon glyphicon-plus"></i>
        <span>添加</span>
  <input type="file" id="imageUrl_file" class="form-control" value='${boProgectGoodsImages.imageUrl!}' >
  <input type="hidden" id="imageUrl"  name="imageUrl"class="form-control" value='${boProgectGoodsImages.imageUrl!}' >
    </span>
  <div id="imageUrl_progress" class="progress">
   <div class="progress-bar progress-bar-success"></div>
  </div>
  </div>
   	<div class="col-sm-4">
   	<img id="imageUrl_file_show" src="${boProgectGoodsImages.imageUrl!}" style="width:100px;" alt="图片" class="img-rounded">
 </div>
 </div> <div class="form-group" >
 <label class="col-sm-2 control-label">图片类型_dic_progect_type</label>
 <div class="col-sm-3">
   <span class="btn btn-success fileinput-button">
        <i class="glyphicon glyphicon-plus"></i>
        <span>添加</span>
  <input type="file" id="imageType_file" class="form-control" value='${boProgectGoodsImages.imageType!}' >
  <input type="hidden" id="imageType"  name="imageType"class="form-control" value='${boProgectGoodsImages.imageType!}' >
    </span>
  <div id="imageType_progress" class="progress">
   <div class="progress-bar progress-bar-success"></div>
  </div>
  </div>
   	<div class="col-sm-4">
   	<img id="imageType_file_show" src="${boProgectGoodsImages.imageType!}" style="width:100px;" alt="图片" class="img-rounded">
 </div>
 </div>
   <input type='hidden' name='id' id='id' value='${boProgectGoodsImages.id!}'><input type='hidden' name='common_token' id='common_token' value='${common_token!}'>
 </form>
  <nav class="navbar navbar-default navbar-fixed-bottom" style="text-align: right">
    <a href="#" class="btn btn-success" style="margin:10px"  onclick='saveZqForm()'>保存 </a>
  </nav>
 </div>
 <% include("/view/console/common/js.html"){} 	%>
 <script>
layui.use(['layer','laydate'], function(){

});
$(function($) {
/*开启表单验证*/
$("#boProgectGoodsImages_form").validation();
 consoleUploadAliImg('imageUrl',''); consoleUploadAliImg('imageType','');
});
/*保存*/
function saveZqForm(){
if ($("#boProgectGoodsImages_form").valid() == false) {
return false;
}
var formObject=new Object();
formObject.goodsId=$('#goodsId').val()==''?null:$('#goodsId').val(); 
 formObject.imageUrl=$('#imageUrl').val()==''?null:$('#imageUrl').val(); 
 formObject.imageName=$('#imageName').val()==''?null:$('#imageName').val(); 
 formObject.imageType=$('#imageType').val()==''?null:$('#imageType').val(); 
 formObject.sort=$('#sort').val()==''?null:$('#sort').val(); 
 formObject.id=$('#id').val()==''?null:$('#id').val(); 
 
var formObjectJson = JSON.stringify(formObject);
$.post("/console/bo_progect_goods_images/save",
{
formObjectJson :formObjectJson,
common_token :$("#common_token").val()
}, function(data) {
layer.alert(data.message, {skin: 'layui-layer-molv',closeBtn: 0 }, function(){
parent.$("#boProgectGoodsImages").bootstrapTable("refresh");
parent.layer.closeAll();
});

});
}
 </script>
 </body>
