<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <% include("/WEB-INF/view/console/common/css.html"){}	%>
    <% include("/WEB-INF/view/console/common/js.html"){} 	%>
    <title></title>
</head>
<body> <nav class="navbar navbar-default navbar-fixed-top site-navbar" >
    <div class="navbar-header">
        <a class="navbar-brand" href="#">SysUserRole</a>
    </div>
</nav>
<form name="SysUserRole_form"  id="SysUserRole_form" class="form-horizontal" style="margin-top: 60px;">
    <div class="form-group" >
        <label class="col-sm-2 control-label">用户ID</label>
        <div class="col-sm-6">
            <input  type="text"  name="SuId" id="SuId" class="form-control" check-type="required" value='${model.SuId!}' >
        </div>
    </div>
    <div class="form-group" >
        <label class="col-sm-2 control-label">角色ID</label>
        <div class="col-sm-6">
            <input  type="text"  name="RoleId" id="RoleId" class="form-control" check-type="required" value='${model.RoleId!}' >
        </div>
    </div>

    <div class="form-group" style="margin-bottom: 60px;"></div>
</form>
<script type="text/javascript">
    $(function($) {
        /*开启表单验证*/
        $("#SysUserRole_form").validation();
    });
    /*保存*/
    function saveZqForm(){
        if ($("#SysUserRole_form").valid() == false) {
            return false;
        }
        var formObject=new Object();
        formObject.SuId=(SysUserRole_form.SuId.value==''?null:SysUserRole_form.SuId.value);
        formObject.RoleId=(SysUserRole_form.RoleId.value==''?null:SysUserRole_form.RoleId.value);
        formObject.snr_id=(SysUserRole_form.snr_id.value==''?null:SysUserRole_form.snr_id.value);

        var formObjectJson = JSON.stringify(formObject);
        $.post("${ctxPath}/sunarvr/console/sys_user_role/save",
                {
                    formObjectJson :formObjectJson,
                    table_name :'SysUserRole',
                    common_token :$("#common_token").val()
                }, function(data) {
                    $.alert({
                        title: '提示',
                        content: data,
                        backgroundDismiss: false,
                        confirmButton:"确定",
                        autoClose: 'confirm|2000',
                        confirm: function(){
                            parent.$('#SysUserRole').bootgrid('reload');
                            parent.art.dialog.get('id-dialog-SysUserRole').close();
                        }
                    });
                });
    }
</script>
<nav class="navbar navbar-default navbar-fixed-bottom site-navbar" >
    <div class="container" style="padding-top:10px;padding-bottom:10px;">
        <div class="nav navbar-nav navbar-right">
            <a href="#" class="btn btn-success"  onclick='saveZqForm()'>保存 </a>
        </div>
    </div>
</nav>
</body>