<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
 <html>
 <head>
 <meta http-equiv="X-UA-Compatible" content="IE=edge">  
 <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
 <%
 include("/WEB-INF/view/console/common/css.html"){}
 	%>
   <%
 	include("/WEB-INF/view/console/common/js.html"){}
 	%>
 <title></title>
 </head>
 <body> <nav class="navbar navbar-default navbar-fixed-top site-navbar" >
  <div class="navbar-header"> 
 <a class="navbar-brand" href="#">详情</a> 
 </div> 
  </nav>
 <form name="common_style_form"  id="common_style_form" class="form-horizontal" style="margin-top: 60px;">
 <div class="form-group" >
 <label for="xm" class="col-sm-2 control-label">风格/场合名称</label>
 <div class="col-sm-6">
 <input  type="text"  name="name" id="name" class="form-control" check-type="required" value='${common_style.name!}' >
 </div>
  </div>
 <div class="form-group" >
 <label for="xm" class="col-sm-2 control-label">排序</label>
 <div class="col-sm-6">
 <input  type="text"  name="sort" id="sort" class="form-control" check-type="required number" value='${common_style.sort!}' >
 </div>
  </div>
 <div class="form-group" >
 <label for="show_img" class="col-sm-2 control-label">展示图标</label>
 <div class="col-sm-3">
 <input type="file"id="show_img_file" class="form-control" value='${common_style.show_img!}' >
 <input type="hidden" id="show_img"  name="show_img"class="form-control" value='${common_style.show_img!}' > 
 </div>
   	<div class="col-sm-4">
   	<img id="show_img_file_show" src="${common_style.show_img!}" style="width:100px;" alt="图片" class="img-rounded">  
 </div>
 </div>
   <script type="text/javascript"> 
 $(document).ready(function()  
 { 
 $('#show_img_file').uploadify({
 auto:true,
 buttonCursor: 'hand', 
 buttonText: '<div>选择</div>',
 fileSizeLimit:'10MB',  
 fileTypeExts:'*.jpg;*.png;*.gif', 
 height: 30,
 width: 120,
 itemTemplate:false,
 method:'post',
 multi: false, 
 progressData: 'percentage',
 removeCompleted: true,
 removeTimeout: 2, 
 requeueErrors: false, 
 successTimeout: 30,
 swf: '${ctxPath}/plugin/uploadify3.2.1/uploadify.swf',  
 uploader: '${ctxPath}/file/upload_ali', 
 onUploadSuccess: function(file,data,respone){ 
  if(respone==true){
  	if(JSON.parse(data).http_status==1){  
  		var src=JSON.parse(data).data;
  	$("#show_img").val(src);  
  		  $("#show_img_file_show").attr("src",src);
  	}else{
  		alert(JSON.parse(data).message);  
  	} 
  } 
   
 } 
 });
 });
 </script> 
 <div class="form-group" >
 <label for="selected_img" class="col-sm-2 control-label">选中图标</label>
 <div class="col-sm-3">
 <input type="file"id="selected_img_file" class="form-control" value='${common_style.selected_img!}' >
 <input type="hidden" id="selected_img"  name="selected_img"class="form-control" value='${common_style.selected_img!}' > 
 </div>
   	<div class="col-sm-4">
   	<img id="selected_img_file_show" src="${common_style.selected_img!}" style="width:100px;" alt="图片" class="img-rounded">  
 </div>
 </div>
   <script type="text/javascript"> 
 $(document).ready(function()  
 { 
 $('#selected_img_file').uploadify({
 auto:true,
 buttonCursor: 'hand', 
 buttonText: '<div>选择</div>',
 fileSizeLimit:'10MB',  
 fileTypeExts:'*.jpg;*.png;*.gif', 
 height: 30,
 width: 120,
 itemTemplate:false,
 method:'post',
 multi: false, 
 progressData: 'percentage',
 removeCompleted: true,
 removeTimeout: 2, 
 requeueErrors: false, 
 successTimeout: 30,
 swf: '${ctxPath}/plugin/uploadify3.2.1/uploadify.swf',  
 uploader: '${ctxPath}/file/upload_ali', 
 onUploadSuccess: function(file,data,respone){ 
  if(respone==true){
  	if(JSON.parse(data).http_status==1){  
  		var src=JSON.parse(data).data;
  	$("#selected_img").val(src);  
  		  $("#selected_img_file_show").attr("src",src);
  	}else{
  		alert(JSON.parse(data).message);  
  	} 
  } 
   
 } 
 });
 });
 </script> 
 <input type='hidden' name='cs_id' id='cs_id' value='${common_style.cs_id!}'>
 <input type='hidden' name='common_token' id='common_token' value='${common_token!}'>
  <div class="form-group" style="margin-bottom: 60px;"></div>
 </form>
 <script type="text/javascript"> 
 	$(function($) { 
 	$("#common_style_form").validation();
 }); 
 function saveZqForm(){  
 if ($("#common_style_form").valid() == false) { 
 	return false;  
 }
 var formObject=new Object();
 formObject.name=(common_style_form.name.value==''?null:common_style_form.name.value); 
 formObject.show_img=(common_style_form.show_img.value==''?null:common_style_form.show_img.value); 
 formObject.selected_img=(common_style_form.selected_img.value==''?null:common_style_form.selected_img.value); 
 formObject.sort=(common_style_form.sort.value==''?null:common_style_form.sort.value); 
 formObject.cs_id=(common_style_form.cs_id.value==''?null:common_style_form.cs_id.value); 
 var formObjectJson = JSON.stringify(formObject);
 $.post("${ctxPath}/sunarvr/console/common_style/save", {  
 	formObjectJson :formObjectJson,
 	table_name :'common_style',  
 	common_token :$("#common_token").val()  
 }, function(data) {
  $.alert({ 
 	    title: '提示', 
 	    content: data, 
 	    backgroundDismiss: false, 
 	    confirmButton:"确定", 
 	    autoClose: 'confirm|2000', 
 		    confirm: function(){ 
   parent.$('#common_style').bootgrid('reload');  
  parent.art.dialog.get('id-dialog-common_style').close();  
 		    } 
 		}); 
 });
 } 
 </script>  
 <nav class="navbar navbar-default navbar-fixed-bottom site-navbar" >
  <div class="container" style="padding-top:10px;padding-bottom:10px;">
 <div class="nav navbar-nav navbar-right">
 <a href="#" class="btn btn-success"  onclick='saveZqForm()'>保存 </a>
  </div>
  </div>
   </nav>
 </body>
 