<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="zhang.lao.mybatis.auto.dao.ArticlePostMapper" >
  <resultMap id="BaseResultMap" type="zhang.lao.mybatis.auto.model.ArticlePost" >
    <id column="post_id" property="postId" jdbcType="INTEGER" />
    <result column="tid" property="tid" jdbcType="INTEGER" />
    <result column="author" property="author" jdbcType="VARCHAR" />
    <result column="su_id" property="suId" jdbcType="BIGINT" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="job_time" property="jobTime" jdbcType="TIMESTAMP" />
    <result column="is_top" property="isTop" jdbcType="SMALLINT" />
    <result column="status" property="status" jdbcType="SMALLINT" />
    <result column="uuid" property="uuid" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="zhang.lao.mybatis.auto.model.ArticlePost" extends="BaseResultMap" >
    <result column="description" property="description" jdbcType="LONGVARCHAR" />
    <result column="content" property="content" jdbcType="LONGVARCHAR" />
    <result column="cover_pic" property="coverPic" jdbcType="LONGVARCHAR" />
    <result column="tags" property="tags" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    post_id, tid, author, su_id, title, create_time, update_time, job_time, is_top, status, 
    uuid
  </sql>
  <sql id="Blob_Column_List" >
    description, content, cover_pic, tags
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="zhang.lao.mybatis.auto.model.ArticlePostExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from article_post
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="zhang.lao.mybatis.auto.model.ArticlePostExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from article_post
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from article_post
    where post_id = #{postId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from article_post
    where post_id = #{postId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="zhang.lao.mybatis.auto.model.ArticlePostExample" >
    delete from article_post
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="zhang.lao.mybatis.auto.model.ArticlePost" >
    insert into article_post (post_id, tid, author, 
      su_id, title, create_time, 
      update_time, job_time, is_top, 
      status, uuid, description, 
      content, cover_pic, tags
      )
    values (#{postId,jdbcType=INTEGER}, #{tid,jdbcType=INTEGER}, #{author,jdbcType=VARCHAR}, 
      #{suId,jdbcType=BIGINT}, #{title,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{jobTime,jdbcType=TIMESTAMP}, #{isTop,jdbcType=SMALLINT}, 
      #{status,jdbcType=SMALLINT}, #{uuid,jdbcType=VARCHAR}, #{description,jdbcType=LONGVARCHAR}, 
      #{content,jdbcType=LONGVARCHAR}, #{coverPic,jdbcType=LONGVARCHAR}, #{tags,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="zhang.lao.mybatis.auto.model.ArticlePost" >
    insert into article_post
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="postId != null" >
        post_id,
      </if>
      <if test="tid != null" >
        tid,
      </if>
      <if test="author != null" >
        author,
      </if>
      <if test="suId != null" >
        su_id,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="jobTime != null" >
        job_time,
      </if>
      <if test="isTop != null" >
        is_top,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="uuid != null" >
        uuid,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="coverPic != null" >
        cover_pic,
      </if>
      <if test="tags != null" >
        tags,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="postId != null" >
        #{postId,jdbcType=INTEGER},
      </if>
      <if test="tid != null" >
        #{tid,jdbcType=INTEGER},
      </if>
      <if test="author != null" >
        #{author,jdbcType=VARCHAR},
      </if>
      <if test="suId != null" >
        #{suId,jdbcType=BIGINT},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="jobTime != null" >
        #{jobTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isTop != null" >
        #{isTop,jdbcType=SMALLINT},
      </if>
      <if test="status != null" >
        #{status,jdbcType=SMALLINT},
      </if>
      <if test="uuid != null" >
        #{uuid,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        #{description,jdbcType=LONGVARCHAR},
      </if>
      <if test="content != null" >
        #{content,jdbcType=LONGVARCHAR},
      </if>
      <if test="coverPic != null" >
        #{coverPic,jdbcType=LONGVARCHAR},
      </if>
      <if test="tags != null" >
        #{tags,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="zhang.lao.mybatis.auto.model.ArticlePostExample" resultType="java.lang.Integer" >
    select count(*) from article_post
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update article_post
    <set >
      <if test="record.postId != null" >
        post_id = #{record.postId,jdbcType=INTEGER},
      </if>
      <if test="record.tid != null" >
        tid = #{record.tid,jdbcType=INTEGER},
      </if>
      <if test="record.author != null" >
        author = #{record.author,jdbcType=VARCHAR},
      </if>
      <if test="record.suId != null" >
        su_id = #{record.suId,jdbcType=BIGINT},
      </if>
      <if test="record.title != null" >
        title = #{record.title,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.jobTime != null" >
        job_time = #{record.jobTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.isTop != null" >
        is_top = #{record.isTop,jdbcType=SMALLINT},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=SMALLINT},
      </if>
      <if test="record.uuid != null" >
        uuid = #{record.uuid,jdbcType=VARCHAR},
      </if>
      <if test="record.description != null" >
        description = #{record.description,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.content != null" >
        content = #{record.content,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.coverPic != null" >
        cover_pic = #{record.coverPic,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.tags != null" >
        tags = #{record.tags,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update article_post
    set post_id = #{record.postId,jdbcType=INTEGER},
      tid = #{record.tid,jdbcType=INTEGER},
      author = #{record.author,jdbcType=VARCHAR},
      su_id = #{record.suId,jdbcType=BIGINT},
      title = #{record.title,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      job_time = #{record.jobTime,jdbcType=TIMESTAMP},
      is_top = #{record.isTop,jdbcType=SMALLINT},
      status = #{record.status,jdbcType=SMALLINT},
      uuid = #{record.uuid,jdbcType=VARCHAR},
      description = #{record.description,jdbcType=LONGVARCHAR},
      content = #{record.content,jdbcType=LONGVARCHAR},
      cover_pic = #{record.coverPic,jdbcType=LONGVARCHAR},
      tags = #{record.tags,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update article_post
    set post_id = #{record.postId,jdbcType=INTEGER},
      tid = #{record.tid,jdbcType=INTEGER},
      author = #{record.author,jdbcType=VARCHAR},
      su_id = #{record.suId,jdbcType=BIGINT},
      title = #{record.title,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      job_time = #{record.jobTime,jdbcType=TIMESTAMP},
      is_top = #{record.isTop,jdbcType=SMALLINT},
      status = #{record.status,jdbcType=SMALLINT},
      uuid = #{record.uuid,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="zhang.lao.mybatis.auto.model.ArticlePost" >
    update article_post
    <set >
      <if test="tid != null" >
        tid = #{tid,jdbcType=INTEGER},
      </if>
      <if test="author != null" >
        author = #{author,jdbcType=VARCHAR},
      </if>
      <if test="suId != null" >
        su_id = #{suId,jdbcType=BIGINT},
      </if>
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="jobTime != null" >
        job_time = #{jobTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isTop != null" >
        is_top = #{isTop,jdbcType=SMALLINT},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=SMALLINT},
      </if>
      <if test="uuid != null" >
        uuid = #{uuid,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=LONGVARCHAR},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=LONGVARCHAR},
      </if>
      <if test="coverPic != null" >
        cover_pic = #{coverPic,jdbcType=LONGVARCHAR},
      </if>
      <if test="tags != null" >
        tags = #{tags,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where post_id = #{postId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="zhang.lao.mybatis.auto.model.ArticlePost" >
    update article_post
    set tid = #{tid,jdbcType=INTEGER},
      author = #{author,jdbcType=VARCHAR},
      su_id = #{suId,jdbcType=BIGINT},
      title = #{title,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      job_time = #{jobTime,jdbcType=TIMESTAMP},
      is_top = #{isTop,jdbcType=SMALLINT},
      status = #{status,jdbcType=SMALLINT},
      uuid = #{uuid,jdbcType=VARCHAR},
      description = #{description,jdbcType=LONGVARCHAR},
      content = #{content,jdbcType=LONGVARCHAR},
      cover_pic = #{coverPic,jdbcType=LONGVARCHAR},
      tags = #{tags,jdbcType=LONGVARCHAR}
    where post_id = #{postId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="zhang.lao.mybatis.auto.model.ArticlePost" >
    update article_post
    set tid = #{tid,jdbcType=INTEGER},
      author = #{author,jdbcType=VARCHAR},
      su_id = #{suId,jdbcType=BIGINT},
      title = #{title,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      job_time = #{jobTime,jdbcType=TIMESTAMP},
      is_top = #{isTop,jdbcType=SMALLINT},
      status = #{status,jdbcType=SMALLINT},
      uuid = #{uuid,jdbcType=VARCHAR}
    where post_id = #{postId,jdbcType=INTEGER}
  </update>
</mapper>