<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="zhang.lao.mybatis.auto.dao.FashionDynamicMapper" >
  <resultMap id="BaseResultMap" type="zhang.lao.mybatis.auto.model.FashionDynamic" >
    <id column="fd_id" property="fdId" jdbcType="BIGINT" />
    <result column="u_id" property="uId" jdbcType="BIGINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="job_time" property="jobTime" jdbcType="TIMESTAMP" />
    <result column="is_top" property="isTop" jdbcType="SMALLINT" />
    <result column="status" property="status" jdbcType="SMALLINT" />
    <result column="uuid" property="uuid" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="zhang.lao.mybatis.auto.model.FashionDynamic" extends="BaseResultMap" >
    <result column="content" property="content" jdbcType="LONGVARCHAR" />
    <result column="tags" property="tags" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    fd_id, u_id, create_time, update_time, job_time, is_top, status, uuid
  </sql>
  <sql id="Blob_Column_List" >
    content, tags
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="zhang.lao.mybatis.auto.model.FashionDynamicExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from fashion_dynamic
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="zhang.lao.mybatis.auto.model.FashionDynamicExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from fashion_dynamic
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from fashion_dynamic
    where fd_id = #{fdId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from fashion_dynamic
    where fd_id = #{fdId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="zhang.lao.mybatis.auto.model.FashionDynamicExample" >
    delete from fashion_dynamic
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="zhang.lao.mybatis.auto.model.FashionDynamic" >
    insert into fashion_dynamic (fd_id, u_id, create_time, 
      update_time, job_time, is_top, 
      status, uuid, content, 
      tags)
    values (#{fdId,jdbcType=BIGINT}, #{uId,jdbcType=BIGINT}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{jobTime,jdbcType=TIMESTAMP}, #{isTop,jdbcType=SMALLINT}, 
      #{status,jdbcType=SMALLINT}, #{uuid,jdbcType=VARCHAR}, #{content,jdbcType=LONGVARCHAR}, 
      #{tags,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="zhang.lao.mybatis.auto.model.FashionDynamic" >
    insert into fashion_dynamic
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="fdId != null" >
        fd_id,
      </if>
      <if test="uId != null" >
        u_id,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="jobTime != null" >
        job_time,
      </if>
      <if test="isTop != null" >
        is_top,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="uuid != null" >
        uuid,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="tags != null" >
        tags,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="fdId != null" >
        #{fdId,jdbcType=BIGINT},
      </if>
      <if test="uId != null" >
        #{uId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="jobTime != null" >
        #{jobTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isTop != null" >
        #{isTop,jdbcType=SMALLINT},
      </if>
      <if test="status != null" >
        #{status,jdbcType=SMALLINT},
      </if>
      <if test="uuid != null" >
        #{uuid,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        #{content,jdbcType=LONGVARCHAR},
      </if>
      <if test="tags != null" >
        #{tags,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="zhang.lao.mybatis.auto.model.FashionDynamicExample" resultType="java.lang.Integer" >
    select count(*) from fashion_dynamic
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update fashion_dynamic
    <set >
      <if test="record.fdId != null" >
        fd_id = #{record.fdId,jdbcType=BIGINT},
      </if>
      <if test="record.uId != null" >
        u_id = #{record.uId,jdbcType=BIGINT},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.jobTime != null" >
        job_time = #{record.jobTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.isTop != null" >
        is_top = #{record.isTop,jdbcType=SMALLINT},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=SMALLINT},
      </if>
      <if test="record.uuid != null" >
        uuid = #{record.uuid,jdbcType=VARCHAR},
      </if>
      <if test="record.content != null" >
        content = #{record.content,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.tags != null" >
        tags = #{record.tags,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update fashion_dynamic
    set fd_id = #{record.fdId,jdbcType=BIGINT},
      u_id = #{record.uId,jdbcType=BIGINT},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      job_time = #{record.jobTime,jdbcType=TIMESTAMP},
      is_top = #{record.isTop,jdbcType=SMALLINT},
      status = #{record.status,jdbcType=SMALLINT},
      uuid = #{record.uuid,jdbcType=VARCHAR},
      content = #{record.content,jdbcType=LONGVARCHAR},
      tags = #{record.tags,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update fashion_dynamic
    set fd_id = #{record.fdId,jdbcType=BIGINT},
      u_id = #{record.uId,jdbcType=BIGINT},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      job_time = #{record.jobTime,jdbcType=TIMESTAMP},
      is_top = #{record.isTop,jdbcType=SMALLINT},
      status = #{record.status,jdbcType=SMALLINT},
      uuid = #{record.uuid,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="zhang.lao.mybatis.auto.model.FashionDynamic" >
    update fashion_dynamic
    <set >
      <if test="uId != null" >
        u_id = #{uId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="jobTime != null" >
        job_time = #{jobTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isTop != null" >
        is_top = #{isTop,jdbcType=SMALLINT},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=SMALLINT},
      </if>
      <if test="uuid != null" >
        uuid = #{uuid,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=LONGVARCHAR},
      </if>
      <if test="tags != null" >
        tags = #{tags,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where fd_id = #{fdId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="zhang.lao.mybatis.auto.model.FashionDynamic" >
    update fashion_dynamic
    set u_id = #{uId,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      job_time = #{jobTime,jdbcType=TIMESTAMP},
      is_top = #{isTop,jdbcType=SMALLINT},
      status = #{status,jdbcType=SMALLINT},
      uuid = #{uuid,jdbcType=VARCHAR},
      content = #{content,jdbcType=LONGVARCHAR},
      tags = #{tags,jdbcType=LONGVARCHAR}
    where fd_id = #{fdId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="zhang.lao.mybatis.auto.model.FashionDynamic" >
    update fashion_dynamic
    set u_id = #{uId,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      job_time = #{jobTime,jdbcType=TIMESTAMP},
      is_top = #{isTop,jdbcType=SMALLINT},
      status = #{status,jdbcType=SMALLINT},
      uuid = #{uuid,jdbcType=VARCHAR}
    where fd_id = #{fdId,jdbcType=BIGINT}
  </update>
</mapper>