<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="zhang.lao.mybatis.auto.dao.SysNavMapper" >
  <resultMap id="BaseResultMap" type="zhang.lao.mybatis.auto.model.SysNav" >
    <id column="NAV_ID" property="navId" jdbcType="DECIMAL" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
    <result column="URL" property="url" jdbcType="VARCHAR" />
    <result column="URL_TARGET" property="urlTarget" jdbcType="VARCHAR" />
    <result column="ICON_URL" property="iconUrl" jdbcType="VARCHAR" />
    <result column="SORT" property="sort" jdbcType="DECIMAL" />
    <result column="PID" property="pid" jdbcType="DECIMAL" />
    <result column="STATUS" property="status" jdbcType="DECIMAL" />
    <result column="UUID" property="uuid" jdbcType="VARCHAR" />
    <result column="LEVELS" property="levels" jdbcType="DECIMAL" />
    <result column="TYPE" property="type" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    NAV_ID, NAME, URL, URL_TARGET, ICON_URL, SORT, PID, STATUS, UUID, LEVELS, TYPE
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="zhang.lao.mybatis.auto.model.SysNavExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from SYS_NAV
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from SYS_NAV
    where NAV_ID = #{navId,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from SYS_NAV
    where NAV_ID = #{navId,jdbcType=DECIMAL}
  </delete>
  <delete id="deleteByExample" parameterType="zhang.lao.mybatis.auto.model.SysNavExample" >
    delete from SYS_NAV
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="zhang.lao.mybatis.auto.model.SysNav" >
    insert into SYS_NAV (NAV_ID, NAME, URL, 
      URL_TARGET, ICON_URL, SORT, 
      PID, STATUS, UUID, 
      LEVELS, TYPE)
    values (#{navId,jdbcType=DECIMAL}, #{name,jdbcType=VARCHAR}, #{url,jdbcType=VARCHAR}, 
      #{urlTarget,jdbcType=VARCHAR}, #{iconUrl,jdbcType=VARCHAR}, #{sort,jdbcType=DECIMAL}, 
      #{pid,jdbcType=DECIMAL}, #{status,jdbcType=DECIMAL}, #{uuid,jdbcType=VARCHAR}, 
      #{levels,jdbcType=DECIMAL}, #{type,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="zhang.lao.mybatis.auto.model.SysNav" >
    insert into SYS_NAV
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="navId != null" >
        NAV_ID,
      </if>
      <if test="name != null" >
        NAME,
      </if>
      <if test="url != null" >
        URL,
      </if>
      <if test="urlTarget != null" >
        URL_TARGET,
      </if>
      <if test="iconUrl != null" >
        ICON_URL,
      </if>
      <if test="sort != null" >
        SORT,
      </if>
      <if test="pid != null" >
        PID,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
      <if test="uuid != null" >
        UUID,
      </if>
      <if test="levels != null" >
        LEVELS,
      </if>
      <if test="type != null" >
        TYPE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="navId != null" >
        #{navId,jdbcType=DECIMAL},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="url != null" >
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="urlTarget != null" >
        #{urlTarget,jdbcType=VARCHAR},
      </if>
      <if test="iconUrl != null" >
        #{iconUrl,jdbcType=VARCHAR},
      </if>
      <if test="sort != null" >
        #{sort,jdbcType=DECIMAL},
      </if>
      <if test="pid != null" >
        #{pid,jdbcType=DECIMAL},
      </if>
      <if test="status != null" >
        #{status,jdbcType=DECIMAL},
      </if>
      <if test="uuid != null" >
        #{uuid,jdbcType=VARCHAR},
      </if>
      <if test="levels != null" >
        #{levels,jdbcType=DECIMAL},
      </if>
      <if test="type != null" >
        #{type,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="zhang.lao.mybatis.auto.model.SysNavExample" resultType="java.lang.Integer" >
    select count(*) from SYS_NAV
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update SYS_NAV
    <set >
      <if test="record.navId != null" >
        NAV_ID = #{record.navId,jdbcType=DECIMAL},
      </if>
      <if test="record.name != null" >
        NAME = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.url != null" >
        URL = #{record.url,jdbcType=VARCHAR},
      </if>
      <if test="record.urlTarget != null" >
        URL_TARGET = #{record.urlTarget,jdbcType=VARCHAR},
      </if>
      <if test="record.iconUrl != null" >
        ICON_URL = #{record.iconUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.sort != null" >
        SORT = #{record.sort,jdbcType=DECIMAL},
      </if>
      <if test="record.pid != null" >
        PID = #{record.pid,jdbcType=DECIMAL},
      </if>
      <if test="record.status != null" >
        STATUS = #{record.status,jdbcType=DECIMAL},
      </if>
      <if test="record.uuid != null" >
        UUID = #{record.uuid,jdbcType=VARCHAR},
      </if>
      <if test="record.levels != null" >
        LEVELS = #{record.levels,jdbcType=DECIMAL},
      </if>
      <if test="record.type != null" >
        TYPE = #{record.type,jdbcType=DECIMAL},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update SYS_NAV
    set NAV_ID = #{record.navId,jdbcType=DECIMAL},
      NAME = #{record.name,jdbcType=VARCHAR},
      URL = #{record.url,jdbcType=VARCHAR},
      URL_TARGET = #{record.urlTarget,jdbcType=VARCHAR},
      ICON_URL = #{record.iconUrl,jdbcType=VARCHAR},
      SORT = #{record.sort,jdbcType=DECIMAL},
      PID = #{record.pid,jdbcType=DECIMAL},
      STATUS = #{record.status,jdbcType=DECIMAL},
      UUID = #{record.uuid,jdbcType=VARCHAR},
      LEVELS = #{record.levels,jdbcType=DECIMAL},
      TYPE = #{record.type,jdbcType=DECIMAL}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="zhang.lao.mybatis.auto.model.SysNav" >
    update SYS_NAV
    <set >
      <if test="name != null" >
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="url != null" >
        URL = #{url,jdbcType=VARCHAR},
      </if>
      <if test="urlTarget != null" >
        URL_TARGET = #{urlTarget,jdbcType=VARCHAR},
      </if>
      <if test="iconUrl != null" >
        ICON_URL = #{iconUrl,jdbcType=VARCHAR},
      </if>
      <if test="sort != null" >
        SORT = #{sort,jdbcType=DECIMAL},
      </if>
      <if test="pid != null" >
        PID = #{pid,jdbcType=DECIMAL},
      </if>
      <if test="status != null" >
        STATUS = #{status,jdbcType=DECIMAL},
      </if>
      <if test="uuid != null" >
        UUID = #{uuid,jdbcType=VARCHAR},
      </if>
      <if test="levels != null" >
        LEVELS = #{levels,jdbcType=DECIMAL},
      </if>
      <if test="type != null" >
        TYPE = #{type,jdbcType=DECIMAL},
      </if>
    </set>
    where NAV_ID = #{navId,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="zhang.lao.mybatis.auto.model.SysNav" >
    update SYS_NAV
    set NAME = #{name,jdbcType=VARCHAR},
      URL = #{url,jdbcType=VARCHAR},
      URL_TARGET = #{urlTarget,jdbcType=VARCHAR},
      ICON_URL = #{iconUrl,jdbcType=VARCHAR},
      SORT = #{sort,jdbcType=DECIMAL},
      PID = #{pid,jdbcType=DECIMAL},
      STATUS = #{status,jdbcType=DECIMAL},
      UUID = #{uuid,jdbcType=VARCHAR},
      LEVELS = #{levels,jdbcType=DECIMAL},
      TYPE = #{type,jdbcType=DECIMAL}
    where NAV_ID = #{navId,jdbcType=DECIMAL}
  </update>
</mapper>