<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="zhang.lao.mybatis.auto.dao.SysUserMapper" >
  <resultMap id="BaseResultMap" type="zhang.lao.mybatis.auto.model.SysUser" >
    <id column="SU_ID" property="suId" jdbcType="DECIMAL" />
    <result column="USER_NAME" property="userName" jdbcType="VARCHAR" />
    <result column="NICK_NAME" property="nickName" jdbcType="VARCHAR" />
    <result column="USER_PASSWORD" property="userPassword" jdbcType="VARCHAR" />
    <result column="USER_PIC" property="userPic" jdbcType="VARCHAR" />
    <result column="VERIFY_EMAIL" property="verifyEmail" jdbcType="DECIMAL" />
    <result column="PHONE" property="phone" jdbcType="VARCHAR" />
    <result column="EMAIL" property="email" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="CREATE_USER_ID" property="createUserId" jdbcType="DECIMAL" />
    <result column="UPDATE_USER_ID" property="updateUserId" jdbcType="DECIMAL" />
    <result column="UUID" property="uuid" jdbcType="VARCHAR" />
    <result column="USER_TYPE" property="userType" jdbcType="DECIMAL" />
    <result column="IS_AUTH" property="isAuth" jdbcType="DECIMAL" />
    <result column="STATUS" property="status" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    SU_ID, USER_NAME, NICK_NAME, USER_PASSWORD, USER_PIC, VERIFY_EMAIL, PHONE, EMAIL, 
    CREATE_TIME, UPDATE_TIME, CREATE_USER_ID, UPDATE_USER_ID, UUID, USER_TYPE, IS_AUTH, 
    STATUS
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="zhang.lao.mybatis.auto.model.SysUserExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from SYS_USER
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from SYS_USER
    where SU_ID = #{suId,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from SYS_USER
    where SU_ID = #{suId,jdbcType=DECIMAL}
  </delete>
  <delete id="deleteByExample" parameterType="zhang.lao.mybatis.auto.model.SysUserExample" >
    delete from SYS_USER
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="zhang.lao.mybatis.auto.model.SysUser" >
    insert into SYS_USER (SU_ID, USER_NAME, NICK_NAME, 
      USER_PASSWORD, USER_PIC, VERIFY_EMAIL, 
      PHONE, EMAIL, CREATE_TIME, 
      UPDATE_TIME, CREATE_USER_ID, UPDATE_USER_ID, 
      UUID, USER_TYPE, IS_AUTH, 
      STATUS)
    values (#{suId,jdbcType=DECIMAL}, #{userName,jdbcType=VARCHAR}, #{nickName,jdbcType=VARCHAR}, 
      #{userPassword,jdbcType=VARCHAR}, #{userPic,jdbcType=VARCHAR}, #{verifyEmail,jdbcType=DECIMAL}, 
      #{phone,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{createUserId,jdbcType=DECIMAL}, #{updateUserId,jdbcType=DECIMAL}, 
      #{uuid,jdbcType=VARCHAR}, #{userType,jdbcType=DECIMAL}, #{isAuth,jdbcType=DECIMAL}, 
      #{status,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="zhang.lao.mybatis.auto.model.SysUser" >
    insert into SYS_USER
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="suId != null" >
        SU_ID,
      </if>
      <if test="userName != null" >
        USER_NAME,
      </if>
      <if test="nickName != null" >
        NICK_NAME,
      </if>
      <if test="userPassword != null" >
        USER_PASSWORD,
      </if>
      <if test="userPic != null" >
        USER_PIC,
      </if>
      <if test="verifyEmail != null" >
        VERIFY_EMAIL,
      </if>
      <if test="phone != null" >
        PHONE,
      </if>
      <if test="email != null" >
        EMAIL,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME,
      </if>
      <if test="createUserId != null" >
        CREATE_USER_ID,
      </if>
      <if test="updateUserId != null" >
        UPDATE_USER_ID,
      </if>
      <if test="uuid != null" >
        UUID,
      </if>
      <if test="userType != null" >
        USER_TYPE,
      </if>
      <if test="isAuth != null" >
        IS_AUTH,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="suId != null" >
        #{suId,jdbcType=DECIMAL},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="nickName != null" >
        #{nickName,jdbcType=VARCHAR},
      </if>
      <if test="userPassword != null" >
        #{userPassword,jdbcType=VARCHAR},
      </if>
      <if test="userPic != null" >
        #{userPic,jdbcType=VARCHAR},
      </if>
      <if test="verifyEmail != null" >
        #{verifyEmail,jdbcType=DECIMAL},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUserId != null" >
        #{createUserId,jdbcType=DECIMAL},
      </if>
      <if test="updateUserId != null" >
        #{updateUserId,jdbcType=DECIMAL},
      </if>
      <if test="uuid != null" >
        #{uuid,jdbcType=VARCHAR},
      </if>
      <if test="userType != null" >
        #{userType,jdbcType=DECIMAL},
      </if>
      <if test="isAuth != null" >
        #{isAuth,jdbcType=DECIMAL},
      </if>
      <if test="status != null" >
        #{status,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="zhang.lao.mybatis.auto.model.SysUserExample" resultType="java.lang.Integer" >
    select count(*) from SYS_USER
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update SYS_USER
    <set >
      <if test="record.suId != null" >
        SU_ID = #{record.suId,jdbcType=DECIMAL},
      </if>
      <if test="record.userName != null" >
        USER_NAME = #{record.userName,jdbcType=VARCHAR},
      </if>
      <if test="record.nickName != null" >
        NICK_NAME = #{record.nickName,jdbcType=VARCHAR},
      </if>
      <if test="record.userPassword != null" >
        USER_PASSWORD = #{record.userPassword,jdbcType=VARCHAR},
      </if>
      <if test="record.userPic != null" >
        USER_PIC = #{record.userPic,jdbcType=VARCHAR},
      </if>
      <if test="record.verifyEmail != null" >
        VERIFY_EMAIL = #{record.verifyEmail,jdbcType=DECIMAL},
      </if>
      <if test="record.phone != null" >
        PHONE = #{record.phone,jdbcType=VARCHAR},
      </if>
      <if test="record.email != null" >
        EMAIL = #{record.email,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null" >
        UPDATE_TIME = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createUserId != null" >
        CREATE_USER_ID = #{record.createUserId,jdbcType=DECIMAL},
      </if>
      <if test="record.updateUserId != null" >
        UPDATE_USER_ID = #{record.updateUserId,jdbcType=DECIMAL},
      </if>
      <if test="record.uuid != null" >
        UUID = #{record.uuid,jdbcType=VARCHAR},
      </if>
      <if test="record.userType != null" >
        USER_TYPE = #{record.userType,jdbcType=DECIMAL},
      </if>
      <if test="record.isAuth != null" >
        IS_AUTH = #{record.isAuth,jdbcType=DECIMAL},
      </if>
      <if test="record.status != null" >
        STATUS = #{record.status,jdbcType=DECIMAL},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update SYS_USER
    set SU_ID = #{record.suId,jdbcType=DECIMAL},
      USER_NAME = #{record.userName,jdbcType=VARCHAR},
      NICK_NAME = #{record.nickName,jdbcType=VARCHAR},
      USER_PASSWORD = #{record.userPassword,jdbcType=VARCHAR},
      USER_PIC = #{record.userPic,jdbcType=VARCHAR},
      VERIFY_EMAIL = #{record.verifyEmail,jdbcType=DECIMAL},
      PHONE = #{record.phone,jdbcType=VARCHAR},
      EMAIL = #{record.email,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      UPDATE_TIME = #{record.updateTime,jdbcType=TIMESTAMP},
      CREATE_USER_ID = #{record.createUserId,jdbcType=DECIMAL},
      UPDATE_USER_ID = #{record.updateUserId,jdbcType=DECIMAL},
      UUID = #{record.uuid,jdbcType=VARCHAR},
      USER_TYPE = #{record.userType,jdbcType=DECIMAL},
      IS_AUTH = #{record.isAuth,jdbcType=DECIMAL},
      STATUS = #{record.status,jdbcType=DECIMAL}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="zhang.lao.mybatis.auto.model.SysUser" >
    update SYS_USER
    <set >
      <if test="userName != null" >
        USER_NAME = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="nickName != null" >
        NICK_NAME = #{nickName,jdbcType=VARCHAR},
      </if>
      <if test="userPassword != null" >
        USER_PASSWORD = #{userPassword,jdbcType=VARCHAR},
      </if>
      <if test="userPic != null" >
        USER_PIC = #{userPic,jdbcType=VARCHAR},
      </if>
      <if test="verifyEmail != null" >
        VERIFY_EMAIL = #{verifyEmail,jdbcType=DECIMAL},
      </if>
      <if test="phone != null" >
        PHONE = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        EMAIL = #{email,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUserId != null" >
        CREATE_USER_ID = #{createUserId,jdbcType=DECIMAL},
      </if>
      <if test="updateUserId != null" >
        UPDATE_USER_ID = #{updateUserId,jdbcType=DECIMAL},
      </if>
      <if test="uuid != null" >
        UUID = #{uuid,jdbcType=VARCHAR},
      </if>
      <if test="userType != null" >
        USER_TYPE = #{userType,jdbcType=DECIMAL},
      </if>
      <if test="isAuth != null" >
        IS_AUTH = #{isAuth,jdbcType=DECIMAL},
      </if>
      <if test="status != null" >
        STATUS = #{status,jdbcType=DECIMAL},
      </if>
    </set>
    where SU_ID = #{suId,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="zhang.lao.mybatis.auto.model.SysUser" >
    update SYS_USER
    set USER_NAME = #{userName,jdbcType=VARCHAR},
      NICK_NAME = #{nickName,jdbcType=VARCHAR},
      USER_PASSWORD = #{userPassword,jdbcType=VARCHAR},
      USER_PIC = #{userPic,jdbcType=VARCHAR},
      VERIFY_EMAIL = #{verifyEmail,jdbcType=DECIMAL},
      PHONE = #{phone,jdbcType=VARCHAR},
      EMAIL = #{email,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      CREATE_USER_ID = #{createUserId,jdbcType=DECIMAL},
      UPDATE_USER_ID = #{updateUserId,jdbcType=DECIMAL},
      UUID = #{uuid,jdbcType=VARCHAR},
      USER_TYPE = #{userType,jdbcType=DECIMAL},
      IS_AUTH = #{isAuth,jdbcType=DECIMAL},
      STATUS = #{status,jdbcType=DECIMAL}
    where SU_ID = #{suId,jdbcType=DECIMAL}
  </update>
</mapper>