<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="zhang.lao.mybatis.auto.dao.SysUserRoleMapper" >
  <resultMap id="BaseResultMap" type="zhang.lao.mybatis.auto.model.SysUserRole" >
    <id column="SNR_ID" property="snrId" jdbcType="DECIMAL" />
    <result column="SU_ID" property="suId" jdbcType="DECIMAL" />
    <result column="ROLE_ID" property="roleId" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    SNR_ID, SU_ID, ROLE_ID
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="zhang.lao.mybatis.auto.model.SysUserRoleExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from SYS_USER_ROLE
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from SYS_USER_ROLE
    where SNR_ID = #{snrId,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from SYS_USER_ROLE
    where SNR_ID = #{snrId,jdbcType=DECIMAL}
  </delete>
  <delete id="deleteByExample" parameterType="zhang.lao.mybatis.auto.model.SysUserRoleExample" >
    delete from SYS_USER_ROLE
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="zhang.lao.mybatis.auto.model.SysUserRole" >
    insert into SYS_USER_ROLE (SNR_ID, SU_ID, ROLE_ID
      )
    values (#{snrId,jdbcType=DECIMAL}, #{suId,jdbcType=DECIMAL}, #{roleId,jdbcType=DECIMAL}
      )
  </insert>
  <insert id="insertSelective" parameterType="zhang.lao.mybatis.auto.model.SysUserRole" >
    insert into SYS_USER_ROLE
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="snrId != null" >
        SNR_ID,
      </if>
      <if test="suId != null" >
        SU_ID,
      </if>
      <if test="roleId != null" >
        ROLE_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="snrId != null" >
        #{snrId,jdbcType=DECIMAL},
      </if>
      <if test="suId != null" >
        #{suId,jdbcType=DECIMAL},
      </if>
      <if test="roleId != null" >
        #{roleId,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="zhang.lao.mybatis.auto.model.SysUserRoleExample" resultType="java.lang.Integer" >
    select count(*) from SYS_USER_ROLE
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update SYS_USER_ROLE
    <set >
      <if test="record.snrId != null" >
        SNR_ID = #{record.snrId,jdbcType=DECIMAL},
      </if>
      <if test="record.suId != null" >
        SU_ID = #{record.suId,jdbcType=DECIMAL},
      </if>
      <if test="record.roleId != null" >
        ROLE_ID = #{record.roleId,jdbcType=DECIMAL},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update SYS_USER_ROLE
    set SNR_ID = #{record.snrId,jdbcType=DECIMAL},
      SU_ID = #{record.suId,jdbcType=DECIMAL},
      ROLE_ID = #{record.roleId,jdbcType=DECIMAL}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="zhang.lao.mybatis.auto.model.SysUserRole" >
    update SYS_USER_ROLE
    <set >
      <if test="suId != null" >
        SU_ID = #{suId,jdbcType=DECIMAL},
      </if>
      <if test="roleId != null" >
        ROLE_ID = #{roleId,jdbcType=DECIMAL},
      </if>
    </set>
    where SNR_ID = #{snrId,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="zhang.lao.mybatis.auto.model.SysUserRole" >
    update SYS_USER_ROLE
    set SU_ID = #{suId,jdbcType=DECIMAL},
      ROLE_ID = #{roleId,jdbcType=DECIMAL}
    where SNR_ID = #{snrId,jdbcType=DECIMAL}
  </update>
</mapper>