<% table_layout("/WEB-INF/view/console/skins/${table_skin}/layout.html",{table_title:"统计信息"}) { 
 %>
 <script type="text/javascript" src="${ctxPath}/plugin/echarts/echarts-2.2.7/build/dist/echarts.js"></script>
 <script type="text/javascript" src="${ctxPath}/plugin/echarts/getoption.js"></script>


 <script type="text/javascript">
 require.config({
	    paths: {
	        echarts: '${ctxPath}/plugin/echarts/echarts-2.2.7/build/dist'
	    }
	});
	</script>
	<div class="row">
		<div class="col-sm-12">
			<div class="col-sm-12">
				<label>最近</label><input class="form-control" style="width: 100px;display: inline;" type="number"  id="days1"> <label>天</label>&nbsp;&nbsp;&nbsp;&nbsp;
				<button type="button" class="btn btn-success" onclick="shuaxin1()">查询</button>
			</div>
			<div class="col-sm-12">
				<div id="main" style="height: 400px"></div>
			</div>
		</div>
	</div>
<script type="text/javascript">
var myChart;
function shuaxin1(){
    var day=$("#days1").val();
    myChart.clear();
    $.getJSON("${ctxPath}/sunarvr/console/log_fitting/report?day="+day, function(json) {
	    myChart.setOption(new chartsOption("试衣信息","试衣次数",json.x,json.y));
    });
  
}
$(function($){

//初始化第一个
    require([ 'echarts', 'echarts/chart/line', 'echarts/chart/bar'
    ], function(ec) {
	  myChart = ec.init(document.getElementById('main'));
	  $.getJSON("${ctxPath}/sunarvr/console/log_fitting/report", function(json) {
	    myChart.setOption(new chartsOption("试衣信息","试衣次数",json.x,json.y));
		});

    });
});
</script>
 <%} %>
 